<!doctype html>
<html ng-app>
 <script src="http://code.angularjs.org/angular-1.0.0rc5.min.js"></script>
 <body>
  <div ng-controller="Controller">
    <form novalidate>
      First: <input type="text" ng-model="user.first" /><br />
      E-mail: <input type="email" ng-model="user.email" /><br />
      Gender: <input type="radio" ng-model="user.gender" value="male" />male
      <input type="radio" ng-model="user.gender" value="female" />female<br />
      <button ng-click="reset()">RESET</button>
      <button ng-click="update(user)">SAVE</button>
    </form>
    <pre>form = {{user | json}}</pre>
  </div>
 </body>
</html>