<!--
2/9/13:  THIS PAGE IS DEPRECATED.  IT IS BEING REPLACED BY newevent.html.  newevent.html IS BEING
DUAL-PURPOSED TO HANDLE BOTH NEW AND EXISTING EVENTS.
-->


<div class="row">
  <div class="span2">

  <!--
  MODAL:  THIS IS BASICALLY THE EXACT SAME MODAL THAT YOU SEE IN btn_addevent.hml
  		  IF YOU TRY TO DO AN ng-include, THE MODAL WILL ONLY OPEN ONCE AND THEN NEVER AGAIN
  		  SO FOR NOW I HAVE THIS GIANT MODAL IN 2 PLACES !!!!!!!!!
  -->
<form novalidate name="circleForm" class="margbottom0">
  <div ui-modal class="fade" ng-model="eventModalShown">
	<div class="modal-header bgbluegradient white">
	  <button class="close padtop5" data-dismiss="modal" ng-click="eventModalShown = false"><i class="icon-remove"></i></button>
	  <h3>Edit Event</h3>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="span3">
	      Event Name<input type="hidden" ng-model="circle.creatorId">
	    </div>
	    <div class="span2">Date</div>
	  </div>
	  <div class="row">
	    <div class="span3">
	      <input class="span3" maxlength="140" value="" type="text" name="name" ng-model="circle.name" ng-required="true" />
	    </div>
	    <div class="span2">
          <input class="input-small" date-picker="expdate" name="expdate" ng-model="expdate" type="text" ng-required="true"></input>
	    </div>
	  </div>
	
	
	  <div class="row minheight100">
        
	    <div class="span3">
	      <!-- ------------------------------------ -->
	      <!-- BEGIN: Participants/Honorees section -->
	      <!-- ------------------------------------ -->
	      <div class="row"> <!-- header row -->
	        <div class="span3 roundedtop bgbluegradient pad5">
	          <span class="white">
	            <span ng-show="circle.receiverLimit == -1">Participants</span>
	            <span ng-show="circle.receiverLimit == 1">Honoree</span>
	            <span ng-show="circle.receiverLimit > 1">Honorees</span>
	          </span>
	          
	          <span ng-show="canaddreceiver(circle)">
                <div class="btn-group pull-right">
	              <a class="btn btn-mini  font14 bold dropdown-toggle" data-toggle="dropdown" href="#">+</a>
			      <ul class="dropdown-menu">
			        <li><a ng-click="addmyselfasreceiver(circle)">Add myself</a></li>
			        <li><a ng-click="addmethod='byname';participationlevel='Receiver';">Add by name</a></li>
			        <span ng-hide="user.circles.length == 0"><li><a ng-click="addmethod='fromanotherevent';participationlevel='Receiver';">Add from another event</a></li></span>
			      </ul>	
	            </div>
	          </span>
	          
	          <span ng-hide="canaddreceiver(circle)">
                <div class="btn-group pull-right">
	              <a class="btn btn-mini font14 bold" ng-disabled="true">+</a>
	            </div>
	          </span>
	        </div>
	      </div> <!-- header row -->
	      
	      <span ng-repeat="participant in circle.participants.receivers">
	      <div class="row">
	        <div class="{{isLastRow('span3 list pad5', $index, circle.participants.receivers.length)}}">
	          <a class="align-bottom" ng-click="removereceiver($index, circle, participant)"><i class="icon-remove"></i></a><span class="font12">{{participant.fullname}}</span>
	        </div>
	      </div>
		  </span>
	          
	   
	      <span ng-show="circle.participants.receivers == 0">
	      <div class="row">
	        <div class="span3 roundedbottom pad5">
		     <span ng-show="circle.receiverLimit == -1">Add Participants to this event, including yourself.  That's how you see everyone's wish list.</span>
			 <span ng-show="circle.receiverLimit == 1">Add the Honoree.  That's how you see his/her wish list.</span>
			 <span ng-show="circle.receiverLimit > 1">Add the Honorees to this event.  That's how you see their wish lists.</span>
	        </div>
	      </div>
	      </span>
	      <!-- ---------------------------------- -->
	      <!-- END: Participants/Honorees section -->
	      <!-- ---------------------------------- -->
	   
	      <!-- ------------------------------------------------------- -->
	      <!-- BEGIN: Guests section (for those events that have them) -->
	      <!-- ------------------------------------------------------- -->
	      <span ng-show="circle.receiverLimit != -1">
	        <div class="row margtop10">
	          <div class="span3 roundedtop bgbluegradient pad5"><span class="white">Guests</span>
                <div class="btn-group pull-right">
	              <a class="btn btn-mini  font14 bold dropdown-toggle" data-toggle="dropdown" href="#">+</a>
			      <ul class="dropdown-menu">
			        <li><a ng-click="addmyselfasgiver(circle)">Add myself</a></li>
			        <li><a ng-click="addmethod='byname';participationlevel='Giver';">Add by name</a></li>
			        <span ng-hide="user.circles.length == 0"><li><a ng-click="addmethod='fromanotherevent';participationlevel='Giver';">Add from another event</a></li></span>
			      </ul>	
	            </div>
	          </div>
	        </div>
	      
	        <span ng-repeat="participant in circle.participants.givers">
	          <div class="row">
	            <div class="{{isLastRow('span3 list pad5', $index, circle.participants.givers.length)}}">
	              <a class="align-bottom" ng-click="removegiver($index, circle, participant)"><i class="icon-remove"></i></a><span class="font12">{{participant.fullname}}</span>
	            </div>
	          </div>
		    </span>
	   
	   
	        <span ng-show="circle.participants.givers == 0">
	          <div class="row">
	            <div class="span3 roundedbottom pad5">
			        Add Guests to this event so they can view the Honoree(s) wish list.  Don't forget yourself if you are also a Guest.
	            </div>
	          </div>
	        </span>
	      </span> <!-- ng-show="circle.receiverLimit != -1" -->
	      <!-- ----------------------------------------------------- -->
	      <!-- END: Guests section (for those events that have them) -->
	      <!-- ----------------------------------------------------- -->
	      
	    </div>
	    
	    <div class="span3">
	      <div ng-show="addmethod=='byname'">
			      <div class="row">
		            <div class="span3"><input search-users type="text" class="span3 search-query" ng-model="search" placeholder="Search by Name"></div>
		          </div>
		          
				  <span ng-show="search != '' && usersearch=='loaded'">
			        <div class="row margtop10">
			          <div class="span3 roundedtop bgbluegradient white pad5">Found...</div>
			        </div>
			      
			        <span ng-show="noonefound">
			        <div class="row">
			          <div class="span3 roundedbottom pad5">
			            No one found matching the search criteria
			            <p><a ng-click="beginnewuser();">Create Account for this Person?</a></p>
			          </div>
			        </div>
			        </span>

				          
				    <div ng-repeat="person in peoplesearchresults | filter:search">
				      <span ng-hide="person.hide">
						  <div class="row" ng-click="addparticipant($index, person, circle, participationlevel)">
							<div class="{{isLastRow('span3 list pad5', $index, peoplesearchresults.length)}}">
							  <div class="row">
							    <div class="span1">
			
			                      <div style="width:50px; height:50px; overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
			                        <div style="margin-top:{{person.profilepicmargintop50}};margin-left:{{person.profilepicmarginleft50}}">
			                           <img height="{{person.profilepicadjustedheight50}}" width="{{person.profilepicadjustedwidth50}}" ng-src="{{person.profilepicUrl}}"/>
			                        </div>
			                      </div>
			
							    </div>
							    <div class="span2 marg0 padtop5 font14">{{person.fullname}}</div>
							  
							  </div>
				            </div>
				          </div>
			          </span>
			        </div>
			        
			        
				  </span>  <!-- span ng-show="usersearch=='loaded'" -->
	              
	      </div> <!-- end of div: addmethod='byname' -->
	      
	      
	      <div ng-show="addmethod=='createaccount'">
	      
	              
	      </div> <!-- end of div: addmethod='createaccount' -->
	      
	      
	      <div class="box pad5 shadow well-tiny margright_5" ng-show="addmethod=='fromanotherevent'">
			      <div class="row">
			        <div class="span3"><h5>Add from another Event</h5></div>
			      </div>
			      <div class="row">
			        <div class="span3">
				      <!-- option a -->
				      <ul ng-repeat="c in circlecopies" ng-class="'nav nav-pills nav-stacked marg0'">
				        <li ng-class="activeOrNot(c)">
				          <a ng-click="makeActive($index, c);toggleCircle(c);showParticipants(c);">
	                        <span class="caret margleft_5 margtop5"></span>&nbsp;<b>{{c.name}}</b>
	                      </a>
	                      <span ng-show="c.show">
	                        <div class="box-white">
	                          <div class="row margbottom5 margleft0 box pad5 well-tiny">
	                            <div class="offset2 span1"><div class="margleft_35"><a ng-click="addparticipants(c, circle);">Select All</a></div></div>
	                          </div>
				              <div class="row margbottom5 margleft0 highlight-box-white" ng-repeat="receiver in c.participants.receivers" ng-click="addparticipant2(receiver, circle)">
				                <div class="span1 marg0"><img height=50 width=50 ng-src="{{receiver.profilepicUrl}}" /></div>
				                <div class="span2 marg0 font14">{{receiver.first}} {{receiver.last}}</div>
				              </div>
				              <div class="row margbottom5 margleft0 highlight-box-white" ng-repeat="giver in c.participants.givers" ng-click="addparticipant2(giver, circle)">
				                <div class="span1 marg0"><img height=50 width=50 ng-src="{{giver.profilepicUrl}}" /></div>
				                <div class="span2 marg0 font14">{{giver.first}} {{giver.last}}</div>
				              </div>
				            </div>
				          </span> 
					    </li>
					  </ul>
			        </div>
			      </div>
	      </div> <!-- end of div: addmethod='fromanotherevent' -->
	    
        </div>
	    
	  </div>
	  
	</div>
	<div class="modal-footer">	
              <div ng-show="circleForm.name.$error.required || circleForm.expdate.$error.required">
                <a ng-disabled="true" class="btn" id="invalidform">Save</a>
                <a ng-click="eventModalShown = false;canceleditcircle();addmethod='';search='';" class="btn">Cancel</a>
              </div>    
          
              <div ng-hide="circleForm.name.$error.required || circleForm.expdate.$error.required">
                <a class="btn btn-primary" ng-click="savecircle(circle, expdate);eventModalShown = false;showRegister=false;search='';">Save</a>
                <a ng-click="eventModalShown = false;canceleditcircle();addmethod='';search='';" class="btn">Cancel</a> 
              </div>
	</div>
  </div>
</form>

  </div> <!-- end of div span2 -->
  
  
  <!-- Lesson Learned:  Not sure why, but this has to come AFTER the modal code (above) or else the modal will only open once and thereafter, it won't open -->
  <div class="span1 pull-right">
	    
		  <a class="btn btn-mini" ng-click="eventModalShown=true;begineditcircle()" title="Edit Event"><i class="icon-edit"></i></a>
	    
  </div> <!-- end of div span1 -->
</div> <!-- The whole page is in this one row -->