<div ng-controller="NewEventCtrl">
<form novalidate name="circleForm" class="margbottom0">

<div class="row">
  <div class="span6 bgbluegradient roundedtop white pad10">
    <div class="row">
      <div class="span4 font24 padtop5">{{title}}</div>
      <div class="span2 pull-right">
      
          <div ng-show="circleForm.name.$error.required || circleForm.expdate.$error.required">
            <div class="btn-group pull-right">
              <a ng-disabled="true" class="btn btn-primary" id="invalidform">Save</a>
              <a ng-href="" class="btn" ng-click="cancelcirclechanges();addmethod='';search='';">Cancel</a>
            </div>
          </div>    
          
          <div ng-hide="circleForm.name.$error.required || circleForm.expdate.$error.required">
            <div class="btn-group pull-right">
              <a ng-href="" class="btn btn-primary" ng-click="savecircle(thecircle, expdate);showRegister=false;search='';">Save</a>
              <a ng-href="" class="btn" ng-click="cancelcirclechanges();addmethod='';search='';">Cancel</a>
            </div>
          </div>   
      
      
      </div>
    </div>
  </div>
</div>


<!-- EVERYTHING GOES IN THIS 'lastrow' -->
<div class="row">
  <div class="span6 roundedbottom bgwhite pad10">
  
    <div class="row">
      <div class="span4"><input class="span4 largefield" maxlength="140" value="" type="text" name="name" ng-model="thecircle.name" ng-required="true" placeholder="Event Name" title="Event Name" /></div>
      <div class="span2"><input class="span2 largefield" date-picker="expdate" name="expdate" ng-model="expdate" type="text" placeholder="Event Date" title="Event Date" ng-required="true"></input></div>
    </div>
  

  <!----------------------------------------------------------------------------
  THIS NEXT ROW HAS A LOT OF STUFF IN IT: AN EMBEDDED TABLE WITH 1 ROW AND
  2 COLUMNS.  THE FIRST COLUMN DISPLAYS 
  THE LIST OF GIVERS AND RECEIVERS, EACH IN THEIR OWN SECTION.  THE SECOND COLUMN
  IS ONLY DISPLAYED WHEN THE USER IS ADDING PEOPLE TO AN EVENT.  THIS SECOND COLUMN
  IS WHERE THE SEARCH BOX AND SEARCH RESULT WILL APPEAR IF THE USER IS SEARCHING
  BY NAME.  IT'S ALSO WHERE WE DISPLAY ALL THE USER'S CIRCLES WHEN THE USER IS
  ADDING PEOPLE FROM OTHER EVENTS.  IT'S ALSO WHERE WE DISPLAY A REGISTRATION FORM
  IF THE USER IS CREATING ACCOUNTS ON THE FLY AND THEN ADDING THEM TO THE EVENT.
    ---------------------------------------------------------------------------->
    <div class="row">
    
    
      <!-- ------------------------------------------------- -->
	  <!-- BEGIN: Column showing Participants/Honorees       -->
	  <!--         and then Givers                           -->
	  <!-- ------------------------------------------------- -->
      <div class="span3">
      
	      <!-- ------------------------------------ -->
	      <!-- BEGIN: Participants/Honorees section -->
	      <!-- ------------------------------------ -->
          <div class="row">
            <div class="span3 roundedtop bgbluegradient pad5 white">
  	              <span ng-show="thecircle.receiverLimit == -1">Participants</span>
	              <span ng-show="thecircle.receiverLimit == 1">Honoree</span>
	              <span ng-show="thecircle.receiverLimit > 1">Honorees</span>
	              
	              <span ng-show="canaddreceiver(thecircle)">
                    <div class="btn-group pull-right">
	                  <a class="btn btn-mini font14 bold dropdown-toggle" data-toggle="dropdown">+</a>
			          <ul class="dropdown-menu">
			            <li><a ng-href="{{currentlocation}}" ng-click="addmyselfasreceiver(thecircle)">Add myself</a></li>
			            <li><a ng-href="{{currentlocation}}" ng-click="beginAddingByName('Receiver');">Add by name/email</a></li>
			            <span ng-hide="user.circles.length == 0"><li><a ng-href="{{currentlocation}}" ng-click="beginAddingFromAnotherEvent('Receiver');">Add from another event</a></li></span>
			          </ul>	
	                </div>
	              </span>
	          
	              <span ng-hide="canaddreceiver(thecircle)">
                    <div class="btn-group pull-right">
	                  <button class="btn btn-mini font14 bold" ng-disabled="true">+</button>
	                </div>
	              </span>
            </div>
          </div>
          
          <div class="row">
            <div class="span3 roundedbottom pad5">
              <div ng-repeat="participant in thecircle.participants.receivers" class="pad5">
                <a ng-href="{{currentlocation}}" class="align-bottom" ng-click="removereceiver($index, thecircle, participant)"><i class="icon-remove"></i></a><span class="font16">{{participant.fullname}}</span>
              </div>
              
              <div ng-show="thecircle.participants.receivers == 0">
		          <span ng-show="thecircle.receiverLimit == -1">Add Participants to this event, including yourself.  That's how you see everyone's wish list.</span>
			      <span ng-show="thecircle.receiverLimit == 1">Add the Honoree.  That's how you see his/her wish list.</span>
			      <span ng-show="thecircle.receiverLimit > 1">Add the Honorees to this event.  That's how you see their wish lists.</span>
              </div>
              
            </div>
          </div>
      
	      <!-- ------------------------------------ -->
	      <!-- END: Participants/Honorees section   -->
	      <!-- ------------------------------------ -->
      
      
      
	      <!-- ------------------------------------------------------- -->
	      <!-- BEGIN: Guests section (for those events that have them) -->
	      <!-- ------------------------------------------------------- -->
	      <span ng-show="thecircle.receiverLimit != -1">
	      
          <div class="row">
            <div class="span3 roundedtop bgbluegradient pad5 white margtop10">
                Guests
	            
                <div class="btn-group pull-right">
	                <a class="btn btn-mini  font14 bold dropdown-toggle" data-toggle="dropdown" href="#">+</a>
			        <ul class="dropdown-menu">
			          <li><a ng-href="{{currentlocation}}" ng-click="addmyselfasgiver(thecircle)">Add myself</a></li>
			          <li><a ng-href="{{currentlocation}}" ng-click="beginAddingByName('Giver');">Add by name/email</a></li>
			          <span ng-hide="user.circles.length == 0"><li><a ng-href="{{currentlocation}}" ng-click="beginAddingFromAnotherEvent('Giver');">Add from another event</a></li></span>
                    </ul>	
	            </div>  
            </div>
          </div>
	      
          
          <div class="row">
            <div class="span3 roundedbottom pad5">
	       
	          <div ng-repeat="participant in thecircle.participants.givers">
                  <a ng-href="{{currentlocation}}" class="align-bottom" ng-click="removegiver($index, thecircle, participant)"><i class="icon-remove"></i></a><span class="font16">{{participant.fullname}}</span>
              </div>
              
	          <span ng-show="thecircle.participants.givers == 0">
			      Add Guests to this event so they can view the Honoree(s) wish list.  Don't forget yourself if you are also a Guest.
	          </span>
	          
            </div>
          </div>
	      
	      </span>
	      <!-- ------------------------------------------------------- -->
	      <!-- END: Guests section (for those events that have them)   -->
	      <!-- ------------------------------------------------------- -->
      
      
      </div>
      <!-- ------------------------------------------------- -->
	  <!-- END: Column showing Participants/Honorees         -->
	  <!--         and then Givers                           -->
	  <!-- ------------------------------------------------- -->
      
      
      <!-- ------------------------------------------------- -->
      <!-- BEGIN: Column where we add people to the event    -->
      <!-- ------------------------------------------------- -->
      <div class="span3">
      
	      <span ng-show="addmethod=='byname'">
	          <div ng-include src="'partials/friends/search-to-add-participants.html'"></div>
	      </span> <!-- end of div: addmethod='byname' -->
      
      
      </div>
      <!-- ------------------------------------------------- -->
      <!-- END: Column where we add people to the event      -->
      <!-- ------------------------------------------------- -->
      
      
    </div>
  <!----------------------------------------------------------------------------
  THIS NEXT ROW HAS A LOT OF STUFF IN IT: AN EMBEDDED TABLE WITH 1 ROW AND
  2 COLUMNS.  THE FIRST COLUMN DISPLAYS 
  THE LIST OF GIVERS AND RECEIVERS, EACH IN THEIR OWN SECTION.  THE SECOND COLUMN
  IS ONLY DISPLAYED WHEN THE USER IS ADDING PEOPLE TO AN EVENT.  THIS SECOND COLUMN
  IS WHERE THE SEARCH BOX AND SEARCH RESULT WILL APPEAR IF THE USER IS SEARCHING
  BY NAME.  IT'S ALSO WHERE WE DISPLAY ALL THE USER'S CIRCLES WHEN THE USER IS
  ADDING PEOPLE FROM OTHER EVENTS.  IT'S ALSO WHERE WE DISPLAY A REGISTRATION FORM
  IF THE USER IS CREATING ACCOUNTS ON THE FLY AND THEN ADDING THEM TO THE EVENT.
    ---------------------------------------------------------------------------->
  
  
  
  </div>
</div>
<!-- EVERYTHING GOES IN THIS 'lastrow' -->
    
    

</form> 
</div>