<div class="row">
  <div class="span6 bgbluegradient font16 white rounded pad10">Events</div>
</div>



<div class="row">
  <div class="span2">
    <img src="img/calendar-128.png"/>
  </div>
  <div class="span2">
    <img src="img/user_group-128.png"/></P>
  </div>
  <div class="span2">
    <img src="img/gift-blue-128.png"/></P>
  </div>
</div>

<div class="row">
  <div class="span2 font16">
    Create events for all your gift-giving occasions
  </div>
  <div class="span2 font16">
    Add your friends and family to each event
  </div>
  <div class="span2 font16">
    See what's on everyone's wish list!
  </div>
</div>

