
<div ng-controller="EventCtrl">

<div class="row"> <!-- header row -->
  <div class="span3 roundedtop10 bgbluegradient pad5">
    <div class="row">
      <div class="span2 white">Events</div>
      <div class="span1">
	    <div ng-include src="'partials/events/modal_addevent.html'"></div>
      </div>
    </div>
    
  </div>
</div> <!-- header row -->




<div ng-repeat="event in user.circles">
  <div class="row">
    
      <a ng-href="#/event/{{event.id}}">
        <div class="{{isLastRow('span3 list pad5', $index, user.circles.length)}}">
          {{event.name}} <span class="pull-right font12">{{event.date | date:'MMM d, yyyy'}} <i class="icon-chevron-right"></i></span>
        </div>
      </a>
    
  </div>
</div>


<span ng-show="user.circles.length==0">
<div class="row">
  <div class="span3 roundedbottom10 pad5 bgwhite">
    <P>You don't belong to any events yet</P>
    <P>Create events for each gift-giving occasion</P>
    <P>Add your friends and family to these events so you can see their wish lists, and they can see yours</P>
  </div>
</div>
</span>



</div>