
<div ng-controller="EventCtrl">

<div class="row"> <!-- header row -->
  <div class="span7 roundedtop10 bgbluegradient white pad10">
  
        <span class="font28">Events</span>
        <div class="pull-right">
          <div class="btn-group">
		    <a class="btn btn-small dropdown-toggle font16 bold" data-toggle="dropdown">+</a> <!-- see dropdownToggle.js -->
		    <ul class="dropdown-menu">
		      <li><a ng-click="newcircleFunction('Christmas', -1)">Christmas</a></li>
		      <li><a ng-click="newcircleFunction('Birthday', -1)">Birthday</a></li>
		      <li><a ng-click="newcircleFunction('Anniversary', -1)">Anniversary</a></li>
		      <li><a ng-click="newcircleFunction('Mothers Day', -1)">Mothers Day</a></li>
		      <li><a ng-click="newcircleFunction('Fathers Day', -1)">Fathers Day</a></li>
		      <li><a ng-click="newcircleFunction('Valentines Day', -1)">Valentines Day</a></li>
		      <li><a ng-click="newcircleFunction('Graduation', -1)">Graduation</a></li>
		      <li><a ng-click="newcircleFunction('Baby Shower', -1)">Baby Shower</a></li>
		      <li><a ng-click="newcircleFunction('Other', -1)">Other</a></li>
		    </ul>
		  </div>
	    </div>
    
  </div>
</div> <!-- header row -->

<div class="row">  <!-- body row -->
  <div class="span7 roundedbottom10 bgwhite pad10">
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
    <P>events listed here</P>
  </div>
</div>  <!-- body row -->

</div>