<div class="row">
  <div class="span6">

  <!--
  MODAL
  -->
<form novalidate name="circleForm" class="margbottom0">
  <div ui-modal class="fade" ng-model="addEventModalShown">
	<div class="modal-header bgbluegradient white">
	  <button class="close padtop5" data-dismiss="modal" ng-click="addEventModalShown = false"><i class="icon-remove"></i></button>
	  <h3>New {{getType()}} Event</h3>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="span3">
	      Event Name<input type="hidden" ng-model="newcircle.creatorId">
	    </div>
	    <div class="span2">Date</div>
	  </div>
	  <div class="row">
	    <div class="span3">
	      <input class="span3" maxlength="140" value="" type="text" name="name" ng-model="newcircle.name" ng-required="true" />
	    </div>
	    <div class="span2">
          <input class="input-small" date-picker="expdate" name="expdate" ng-model="expdate" type="text" ng-required="true"></input>
	    </div>
	  </div>
	
	
	  <div class="row minheight100">
        
	    <div class="span3">
	      <!-- ------------------------------------ -->
	      <!-- BEGIN: Participants/Honorees section -->
	      <!-- ------------------------------------ -->
	      <div class="row"> <!-- header row -->
	        <div class="span3 roundedtop10 bgbluegradient pad5 white">
	          <span ng-show="newcircle.receiverLimit == -1">Participants</span>
	          <span ng-show="newcircle.receiverLimit == 1">Honoree</span>
	          <span ng-show="newcircle.receiverLimit > 1">Honorees</span>
	          
	          <span ng-show="canaddreceiver">
                <div class="btn-group pull-right">
	              <a class="btn btn-mini btn-primary font14 bold dropdown-toggle" data-toggle="dropdown" href="#">+</a>
			      <ul class="dropdown-menu">
			        <li><a ng-click="addmyselfasreceiver(newcircle)">Add myself</a></li>
			        <li><a ng-click="addmethod='byname';participationlevel='Receiver';">Add by name</a></li>
			        <li><a ng-click="addmethod='fromanotherevent';participationlevel='Receiver';">Add from another event</a></li>
			      </ul>	
	            </div>
	          </span>
	          
	          <span ng-hide="canaddreceiver">
                <div class="btn-group pull-right">
	              <a class="btn btn-mini font14 bold" ng-disabled="true">+</a>
	            </div>
	          </span>
	        </div>
	      </div> <!-- header row -->
	      
	      <span ng-repeat="participant in newcircle.participants.receivers">
	      <div class="row">
	        <div class="{{isLastRow('span3 list pad5', $index, newcircle.participants.receivers.length)}}">
	          <a ng-click="removereceiver($index, newcircle, participant)"><i class="icon-remove"></i></a>{{participant.fullname}}
	        </div>
	      </div>
		  </span>
	          
	   
	      <span ng-show="newcircle.participants.receivers == 0">
	      <div class="row">
	        <div class="span3 roundedbottom10 pad5">
		     <span ng-show="newcircle.receiverLimit == -1">Add Participants to this event, including yourself.  That's how you see everyone's wish list.</span>
			 <span ng-show="newcircle.receiverLimit == 1">Add the Honoree.  That's how you see his/her wish list.</span>
			 <span ng-show="newcircle.receiverLimit > 1">Add the Honorees to this event.  That's how you see their wish lists.</span>
	        </div>
	      </div>
	      </span>
	      <!-- ---------------------------------- -->
	      <!-- END: Participants/Honorees section -->
	      <!-- ---------------------------------- -->
	   
	      <!-- ------------------------------------------------------- -->
	      <!-- BEGIN: Guests section (for those events that have them) -->
	      <!-- ------------------------------------------------------- -->
	      <span ng-show="newcircle.receiverLimit != -1">
	        <div class="row margtop10">
	          <div class="span3 roundedtop10 bgbluegradient pad5 white">Guests
                <div class="btn-group pull-right">
	              <a class="btn btn-mini btn-primary font14 bold dropdown-toggle" data-toggle="dropdown" href="#">+</a>
			      <ul class="dropdown-menu">
			        <li><a ng-click="addmyselfasgiver(newcircle)">Add myself</a></li>
			        <li><a ng-click="addmethod='byname';participationlevel='Giver';">Add by name</a></li>
			        <li><a ng-click="addmethod='fromanotherevent';participationlevel='Giver';">Add from another event</a></li>
			      </ul>	
	            </div>
	          </div>
	        </div>
	      
	        <span ng-repeat="participant in newcircle.participants.givers">
	          <div class="row">
	            <div class="{{isLastRow('span3 list pad5', $index, newcircle.participants.givers.length)}}">
	              <a ng-click="removegiver($index, newcircle, participant)"><i class="icon-remove"></i></a>{{participant.fullname}}
	            </div>
	          </div>
		    </span>
	   
	   
	        <span ng-show="newcircle.participants.givers == 0">
	          <div class="row">
	            <div class="span3 roundedbottom10 pad5">
			        Add Guests to this event so they can view the Honoree(s) wish list.  Don't forget yourself if you are also a Guest.
	            </div>
	          </div>
	        </span>
	      </span> <!-- ng-show="newcircle.receiverLimit != -1" -->
	      <!-- ----------------------------------------------------- -->
	      <!-- END: Guests section (for those events that have them) -->
	      <!-- ----------------------------------------------------- -->
	      
	    </div>
	    
	    <div class="span3">
	      <div class="box pad5 shadow well-tiny margright_5" ng-show="addmethod=='byname'">
			      <div class="row">
			        <div class="span3"><h5>Add by Name</h5></div>
			      </div>
	      
			      <div class="row">
		            <div class="span3"><input search-users type="text" class="span3" ng-model="search"></div>
		          </div>
				  <div class="row">
				    <div class="span3">  
				      <span ng-show="usersearch=='loaded'">
	                    <div class="box-white">
				          <span ng-show="noonefound">
			                <div class="row">
			                  <div class="span3">No one found <p><a ng-click="beginnewuser();">Create Account for this Person</a></p></div>
			                </div>
				          </span>
				          <span ng-hide="noonefound">
				            <div ng-repeat="person in people | filter:search">
				              <span ng-hide="person.hide">
				                <div class="row margbottom5 margleft0 highlight-box-white" ng-click="addparticipant($index, person, newcircle, participationlevel)">
				                  <div class="span1 marg0"><img height=50 width=50 ng-src="{{person.profilepicUrl}}" /></div>
				                  <div class="span2 marg0 padtop5 font14">{{person.fullname}}</div>
				                </div>
				              </span>
				            </div>
				          </span>
				        </div>
				      </span>
				      
				    </div>
			      </div>	
	              
	      </div> <!-- end of div: addmethod='byname' -->
	      
	      
	      <div class="box pad5 shadow well-tiny margright_5" ng-show="addmethod=='createaccount'">
	      
            <!-- See:  http://docs-next.angularjs.org/guide/dev_guide.forms 
                 This page is a copy of register.html except the title here is Create Account
                 and on register.html it's Sign Up.   Also the save button here creates a new
                 user but doesn't send the user to the welcome screen like in register.html
            -->

            <div class="row">
              <div class="span3" ng-form="newuserform" ng-controller="UserCtrl">

                <div class="row"><div class="span3"><h4>Create Account</h4></div></div>
            
                <div class="row">
                  <div class="span3">All fields required</div>
                </div>
                
                <div class="box-white">
    
                        <div class="row">
                          <div class="span1">Name</div>
                          <div class="span2 margleft0">
                            <input class="w110" maxlength="140" value="" type="text" name="fullname" ng-model="newuser.fullname" ng-required="true" />
                          </div>
                        </div>

                        <div class="row">
                          <div class="span1">Email</div>
                          <div class="span2 margleft0">
                            <input class="w110" maxlength="140" value="" name="email" type="email" ng-model="newuser.email" ng-required="true">
                            <span ng-show="newuserform.email.$dirty">
                              <span ng-show="newuserform.email.$error.email"><img src="img/red_x.png" id="emailinvalid" title="Email is invalid"></span>
                            </span>
                          </div>
                        </div>  

                        <div class="row">
                          <div class="span1">Username</div>
                          <div class="span2 margleft0">
                            <input class="w110" maxlength="140" value="" name="username" type="text" ng-model="newuser.username" ng-change="isUsernameUnique(newuser, newuserform)" required />
                            <span ng-show="newuserform.username.$dirty">
                              <span ng-show="newuserform.username.$error.taken">
                                <img src="img/red_x.png" id="invalidusername" title="Username is taken">
                              </span>
                            </span>
                          </div>
                        </div>

                        <div class="row">
                          <div class="span1">Password</div>
                          <div class="span2 margleft0">
                            <input class="w110" ng-model="newuser.password" type="password" name="password" value="*******" ng-required="true" />
                          </div>
                        </div>

                        <div class="row">
                          <div class="span1">Again</div>
                          <div class="span2 margleft0">
                            <input class="w110" ng-model="newuser.passwordAgain" type="password" name="passwordAgain" value="*******" ng-required="true" />
                            <span ng-show="newuserform.passwordAgain.$dirty">
                              <span ng-show="newuser.passwordAgain != newuser.password && !newuserform.passwordAgain.$error.required">
                                <img src="img/red_x.png" id="passwordsdontmatch" title="Passwords don't match">
                              </span>
                            </span> 
                          </div>
                        </div>

                </div> <!-- end div:class=box-white -->
                
                <div class="row">
                  <div class="span2 offset1">    
          
                    <div ng-hide="userfieldsvalid(newuser)" >
                      <a class="btn" ng-click="cancelnewuser();">Cancel</a>
                      <a ng-disabled="true" class="btn" id="invalidform" title="Not Ready Yet">Save</a>
                    </div>    
          
                    <div ng-show="userfieldsvalid(newuser)" >
                      <a class="btn" ng-click="cancelnewuser();">Cancel</a>
                      <a class="btn btn-primary" ng-click="createonthefly(newuser, newcircle)">Save</a>
                    </div>
      
                  </div>
                </div>
                        
              </div>
            </div>
	              
	      </div> <!-- end of div: addmethod='createaccount' -->
	      
	      
	      <div class="box pad5 shadow well-tiny margright_5" ng-show="addmethod=='fromanotherevent'">
			      <div class="row">
			        <div class="span3"><h5>Add from another Event</h5></div>
			      </div>
			      <div class="row">
			        <div class="span3">
				      <!-- option a -->
				      <ul ng-repeat="c in circlecopies" ng-class="'nav nav-pills nav-stacked marg0'">
				        <li ng-class="activeOrNot(c)">
				          <a ng-click="makeActive($index, c);toggleCircle(c);showParticipants(c);">
	                        <span class="caret margleft_5 margtop5"></span>&nbsp;<b>{{c.name}}</b>
	                      </a>
	                      <span ng-show="c.show">
	                        <div class="box-white">
	                          <div class="row margbottom5 margleft0 box pad5 well-tiny">
	                            <div class="offset2 span1"><div class="margleft_35"><a ng-click="addparticipants(c, newcircle);">Select All</a></div></div>
	                          </div>
				              <div class="row margbottom5 margleft0 highlight-box-white" ng-repeat="receiver in c.participants.receivers" ng-click="addparticipant2(receiver, newcircle)">
				                <div class="span1 marg0"><img height=50 width=50 ng-src="{{receiver.profilepicUrl}}" /></div>
				                <div class="span2 marg0 font14">{{receiver.first}} {{receiver.last}}</div>
				              </div>
				              <div class="row margbottom5 margleft0 highlight-box-white" ng-repeat="giver in c.participants.givers" ng-click="addparticipant2(giver, newcircle)">
				                <div class="span1 marg0"><img height=50 width=50 ng-src="{{giver.profilepicUrl}}" /></div>
				                <div class="span2 marg0 font14">{{giver.first}} {{giver.last}}</div>
				              </div>
				            </div>
				          </span> 
					    </li>
					  </ul>
			        </div>
			      </div>
	      </div> <!-- end of div: addmethod='fromanotherevent' -->
	    
        </div>
	    
	  </div>
	  
	</div>
	<div class="modal-footer">	
              <div ng-show="circleForm.name.$error.required || circleForm.expdate.$error.required">
                <a ng-click="addEventModalShown = false;cancelnewcircle();addmethod='';search='';" class="btn">Cancel</a>
                <a ng-disabled="true" class="btn" id="invalidform">Save</a>
              </div>    
          
              <div ng-hide="circleForm.name.$error.required || circleForm.expdate.$error.required">
                <a ng-click="addEventModalShown = false;cancelnewcircle();addmethod='';search='';" class="btn">Cancel</a> 
                <a class="btn btn-primary" ng-click="savecircle(newcircle, expdate);addEventModalShown = false;showRegister=false;search='';">Save</a>
              </div>
	</div>
  </div>
</form>

  </div> <!-- end of div span6 -->
  
  
  <div class="span1">

	    
	    <!-- Lesson Learned:  Not sure why, but this has to come AFTER the modal code (above) or else the modal will only open once and thereafter, it won't open -->
        <div class="pull-right">
          <div class="btn-group">
		    <a class="btn btn-small dropdown-toggle font16 bold" data-toggle="dropdown">+</a> <!-- see dropdownToggle.js -->
		    <ul class="dropdown-menu">
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Christmas', -1)">Christmas</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Birthday', 1)">Birthday</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Anniversary', 2)">Anniversary</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Mothers Day', 1)">Mothers Day</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Fathers Day', 1)">Fathers Day</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Valentines Day', -1)">Valentines Day</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Graduation', -1)">Graduation</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Baby Shower', 1)">Baby Shower</a></li>
		      <li><a ng-click="addEventModalShown = true;newcircleFunction('Other', -1)">Other</a></li>
		    </ul>
		  </div>
	    </div>
	    
  </div> <!-- end of div span1 -->
</div> <!-- The whole page is in this one row -->