<div class="row">
  <div class="span6 bgbluegradient font16 white rounded pad10">Events</div>
</div>


<div class="row">
  <div class="span6 rounded bgwhite">
    <div class="row">
      <div class="span3">
        <i class="icon-calendar" style="font-size:128px"></i>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        Events happen on a certain date
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="span6 rounded bgwhite">
    <div class="row">
      <div class="span3">
        <i class="icon-group" style="font-size:128px"></i>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        Events happen on a certain date
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span7">
    Events make it easy to see everyone's wish list.
  </div>
</div>


<div class="row">
  <div class="span7">
    Add items to your wish list so everyone can see what you want
  </div>
</div>


<div class="row">
  <div class="span7">
    Add items to someone <i>else's</i> wish list as a surprise.  That person won't see what you added - but everyone else will!
  </div>
</div>


