<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
 
  <logger name="net.liftweb.db">
    <level value="error" />
  </logger>
 
  <logger name="net.liftweb.mapper">
    <level value="error" />
  </logger>
 
  <logger name="net.liftweb.util">
    <level value="error" />
  </logger>
 
  <logger name="com.lbb.entity.Reminder">
    <level value="error" />
  </logger>
 
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>