
<!-- See:  http://docs-next.angularjs.org/guide/dev_guide.forms -->

<div ng-controller="MyAccountCtrl">
    <div class="row">
      <div class="span3">
        <h3>Account Settings</h3>
      </div>
      <div class="span3">
        <ul class="nav nav-pills">
          <li ng-class="pi"><a ng-click="pi='active';ep='';">Personal Info</a></li>
          <li ng-class="ep"><a ng-click="pi='';ep='active';">Email Prefs</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span7" ng-controller="UserCtrl">
        <span ng-show="pi==null || pi=='active'">
	        <span ng-hide="user.facebookId == null">
	          <P class="font14">LittleBlueBird does not control your personal information like your name and email address.</P>
	          <P class="font14">That information is stored on <a ng-href="http://www.facebook.com" target="fb">Facebook</a></P>
	        </span>
	        <span ng-show="user.facebookId == null">
	          <div ng-include src="'partials/myaccount/personalinfo.html'" scope=""></div>
	        </span>
	    </span>
        <span ng-show="ep=='active'">
	        <div ng-include src="'partials/myaccount/emailprefs.html'" scope=""></div>
	    </span>
      </div>
    </div>

</div>
