
<div class="row  margleft0">
  <div class="span7 bgbluegradient white roundedtop10 margleft_5 pad0" ng-mouseover="showEdit='true'" ng-mouseleave="showEdit='false'">
    <div class="row">
      <div class="span7 pull-right" style="min-height:30px;padding-top:10px;padding-right:10px;">
        &nbsp;
        <span ng-show="showEdit=='true'" class="pull-right">

          <div class="btn-group">
		    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">Edit</a> <!-- see dropdownToggle.js -->
		    <ul class="dropdown-menu">
		      <li><a href="#/personalinfo">Personal Info</a></li>
		      <li><a href="#/emailprefs">Email Preferences</a></li>
		    </ul>
		  </div>
          
        </span>
      </div>
    </div>
    <div class="row">
    
      <div style="margin-top:{{user.profilepicmargintop}};margin-left:{{user.profilepicmarginleft}};text-align:center;
          overflow:hidden;padding-left:30px;">
        <img style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" height="{{user.profilepicadjustedheight}}" width="{{user.profilepicadjustedwidth}}" ng-src="{{user.profilepicUrl}}"/>
      </div>
      
    </div>
    <div class="row">
      <div class="span7 font24 pad10 center">
        {{user.fullname}}
      </div>
    </div>
  
  </div>

</div>

<div class="row margleft0">
  <div class="span7 roundedbottom10 margleft_5 pad0 bgwhite">
    <div class="row">
      <div class="span1 borderright_009dcb pad5">{{user.friends.length}}<a ng-href="#/friends" ng-click="setactive('friends');"><P>Friends</P></a></div>
      <div class="span1 borderright_009dcb pad5 marg0">{{user.circles.length}}<a ng-href="#/events" ng-click="setactive('events');"><P>Events</P></a></div>
      <div class="span5 pad5 marg0">55<a ng-href="#/mywishlist" ng-click="setactive('me');"><P>Wish List</P></a></div>
    </div>  
  </div>
</div>