
<div id="addevent" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Add Event</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  Choose Event Type
	
      <ul data-role="listview" data-inset="true" class="ui-icon-alt">
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Christmas</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Birthday</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Anniversary</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Mothers Day</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Fathers Day</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Valentines Day</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Graduation</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Baby Shower</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent()">Other</a></li>
      </ul>
	  
	</div><!-- /content -->

