

<div id="events" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Events</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <input name="event-radio-group" id="radio-choice-d" value="current" checked="checked" type="radio" ng-click="eventfilter='current';events()">
        <label for="radio-choice-d">Current Events</label>
        <input name="event-radio-group" id="radio-choice-e" value="past" type="radio" ng-click="eventfilter='past';events()">
        <label for="radio-choice-e">Past Events</label>
        <input name="event-radio-group" id="radio-choice-c" value="all" type="radio" ng-click="eventfilter='all';events()">
        <label for="radio-choice-c">All Events</label>
      </fieldset>
	  
      <div jquery-mobile-tpl>
	    <ul id="eventview" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="">
	      <li ng-repeat="c in user.circles | filter: eventDateFilter" ng-cloak>
	        <a href="#" data-transition="slide">
	          <p><h4>{{c.name}}</h4></p>
	          <p>{{c.date | date:'MMM d, yyyy'}}</p>
	        </a>
	      </li>
	    </ul>
	  </div>
	  
	  
	</div><!-- /content -->

