

<div id="events" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Events</h1>
	</div><!-- /header -->

	<div data-role="content">
	
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <input name="event-radio-group" id="radio-choice-d" value="current" checked="checked" type="radio" ng-click="eventfilter='current';events()">
        <label for="radio-choice-d">Current</label>
        <input name="event-radio-group" id="radio-choice-e" value="past" type="radio" ng-click="eventfilter='past';events()">
        <label for="radio-choice-e">Past</label>
        <input name="event-radio-group" id="radio-choice-c" value="all" type="radio" ng-click="eventfilter='all';events()">
        <label for="radio-choice-c">&nbsp; All &nbsp;</label>
      </fieldset>
		  
	  
      <div jquery-mobile-tpl>
	    <ul id="eventview" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="">
	      <li ng-repeat="c in user.circles | filter: eventDateFilter" ng-cloak>
	        <a href="#" data-transition="slide">
	          <p><h4>{{c.name}}</h4></p>
	          <p>{{c.date | date:'MMM d, yyyy'}}</p>
	        </a>
	      </li>
	    </ul>
	  </div>
	  
	  
	</div><!-- /content -->


	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
      <a href="#mypanel" data-icon="bars"></a><h4>LittleBlueBird</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a">
      <h4>My Account</h4>
      <P><a href="#personalinfo" data-role="button" data-theme="a" data-mini="true">Personal Info</a></P>
      <P>Notifications</P>
      <P><a href="#passwordreset" data-role="button" data-theme="a" data-mini="true">Password Reset</a></P>
      <P><a href="#home" ng-click="logout()" data-role="button" data-theme="a" data-mini="true">Logout</a></P>
    </div><!-- /panel -->


</div><!-- http://www.littlebluebird.com/gf/www/#passwordreset/page -->