
<div id="home" data-role="page">
    <div data-role="header" data-theme="b"><h1>LittleBlueBird</h1></div>
	
	<div data-role="content">
		<p><a href="#welcome" ng-click="fblogin()" data-role="button" data-theme="b">Login via Facebook</a> </p>	
		<p><a href="#lbblogin" data-role="button" data-theme="b">Login via LittleBlueBird</a> </p>	
		<p><a href="#register" data-role="button" data-theme="b" ng-click="initNewUser()">Register</a> </p>	
		<p><a href="#forgot" data-role="button" data-theme="b">Forgot User/Pass?</a> </p>	
	</div><!-- /content -->

	<div data-role="footer" data-theme="b" data-position="fixed">
	  <h4></h4>
	</div><!-- /footer -->

</div>