

<div id="passwordreset" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Password Reset</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
      
      <span ng-show="user.facebookId!=null">
        <P>You logged in using your Facebook account, so that's where you need to go if you want to change your password.</P>
        <P><a href="http://www.facebook.com" data-role="button">Go to Facebook</a></P>
      </span>

      <span ng-hide="user.facebookId!=null">
        <P>
        
		<form novalidate name="resetForm">
		    <fieldset data-role="fieldcontain">
		      <P>
		        <label for="currentpassword" class="ui-hidden-accessible">Current Password:</label>
    		    <input id="currentpassword" name="currentpassword" type="password" ng-model="currentpassword" placeholder="Password" ng-change="validatePassword(resetForm, currentpassword)" required/>
    		  </P>
		      <P>
		        <label for="newpassword" class="ui-hidden-accessible">New Password:</label>
    		    <input id="newpassword" name="newpassword" type="password" ng-model="newpassword" placeholder="New Password" required/>
    		  </P>
		      <P>
		        <label for="newpasswordagain" class="ui-hidden-accessible">New Password (again):</label>
    		    <input id="newpasswordagain" name="newpasswordagain" type="password" ng-model="newpasswordagain" placeholder="New Password (again)" required/>
    		  </P>
		      <P>
		        <span ng-hide="resetForm.$invalid || (newpassword != newpasswordagain) || resetForm.currentpassword.$invalid">
		          <a ng-href="#" ng-click="resetPass(currentpassword, newpassword)" data-role="button" data-theme="b">Change Password</a>
		        </span>
		        <span ng-show="resetForm.$invalid || (newpassword != newpasswordagain) || resetForm.currentpassword.$invalid">
		          <button disabled="" data-role="button" data-theme="b">Change Password</button>
		        </span>
    		  </P>
    		</fieldset>
        </form>
        </P>
      </span>
     
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <!-- li>Notifications</li -->
	        <li data-icon="false"><a href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>