

<div id="setnameanddate" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Event</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
		<form novalidate name="nameanddateForm">
		  <P>Name and date your event</P>
		    <fieldset data-role="fieldcontain">
		      <P>
		        <label for="name" class="ui-hidden-accessible">Name:</label>
    		    <input id="name" name="name" type="text" ng-model="thecircle.name" placeholder="Name" required/>
    		  </P>
		      <P>
		        <input id="datepicker" name="datepicker" />
    		  </P>
    		  <div class="ui-grid-a">
			    <div class="ui-block-a"><a href="#events" data-role="button" data-theme="c" data-mini="true">Cancel</a></div>
			    <div class="ui-block-b"><a ng-href="#editparticipants" ng-change="setdate(thecircle)" data-role="button" data-theme="b" data-icon="arrow-r" data-mini="true" data-iconpos="right">Next</a></div>
			  </div>
    		</fieldset>
    		
    		
		
		</form>	
	  
	</div><!-- /content -->


	