
<div id="welcome" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>{{user.fullname}}</h1>
	</div><!-- /header -->

	<div data-role="content">
	
	  <span ng-show="logingood">
	  <ul data-role="listview" data-inset="true" class="ui-icon-alt">
	    <li><a href="#wishlist" ng-click="mywishlist()" data-transition="slide">My Wish List</a></li>
	    <li><a href="#events" data-transition="slide">Events</a></li>
	    <li><a href="#friends" data-transition="slide">Friends</a></li>
	  </ul>
	  </span>
	
	
	</div><!-- /content -->

	<div data-role="footer" data-theme="b" data-position="fixed">
	  <h4>LittleBlueBird</h4>
	</div><!-- /footer -->
</div><!-- /page -->