<h3>foo.html</h3>

<div ng-controller="fooctrl">
<P>$route.current.params.fooid={{fooid}}</P>


MODAL 555555555


<div id="modalGuy" class="fade" ui-modal ng-model="modalShown">
								<div class="modal-header"><h1>Modalin'!</h1></div>
								<div class="modal-body">
									<p>Cool beans, dude.</p>
								</div>
								<div class="modal-footer">
									<a class="btn" data-dismiss="modal">Close bootstrap way</a>
									<a class="btn" ng-click="modalShown=false">Close ng-model way</a>
								</div>
							</div>
							<a class="btn" ng-click="modalShown=true">Open Modal with ng-model</a><br>
							<a class="btn" data-toggle="modal" href="#modalGuy">Open Modal with data-toggle="modal"</a>

</div>
