<h3>menu.html</h3>

<div ng-controller="menuctrl">
<div class="row">
  <div class="span3">
<P><a href="foo/1">#/foo/1</a></P>
<P><a href="foo/2">#/foo/2</a></P>
<P><a href="bar/2/4">#/bar/2/4</a></P>
<P><a href="bar/8/10">#/bar/8/10</a></P>
<P><a href="baz/2/4/6">#/baz/2/4/6</a></P>
<P><a href="baz/5/7/9">#/baz/5/7/9</a></P>
<hr/>
<P><a ng-click="ngclick_url('/foo/1')">ngclick_url('/foo/1')</a></P>
<P><a ng-click="ngclick_url('/foo/2')">ngclick_url('/foo/2')</a></P>
<P><a ng-click="ngclick_url('/bar/1/3')">ngclick_url('/bar/1/3')</a></P>
<P><a ng-click="ngclick_url('/bar/3/5')">ngclick_url('/bar/3/5')</a></P>
<P><a ng-click="ngclick_url('/baz/1/3/5')">ngclick_url('/baz/1/3/5')</a></P>
<P><a ng-click="ngclick_url('/baz/7/8/9')">ngclick_url('/baz/7/8/9')</a></P>
  </div>
  <div class="span3">
<P><a ng-click="ngclick_path('foo/1')">ngclick_path('foo/1')</a></P>
<P><a ng-click="ngclick_path('foo/3')">ngclick_path('foo/3')</a></P>
<P><a ng-click="ngclick_path('bar/1/3')">ngclick_path('bar/1/3')</a></P>
<P><a ng-click="ngclick_path('bar/6/7')">ngclick_path('bar/6/7')</a></P>
<P><a ng-click="ngclick_path('baz/1/3/5')">ngclick_path('baz/1/3/5')</a></P>
<P><a ng-click="ngclick_path('baz/4/5/6')">ngclick_path('baz/4/5/6')</a></P>
<hr/>
<P><a ng-click="reload('/foo/1')">reload('/foo/1')</a></P>
<P><a ng-click="reload('/foo/3')">reload('/foo/3')</a></P>
<P><a ng-click="reload('/bar/1/3')">reload('/bar/1/3')</a></P>
<P><a ng-click="reload('/bar/6/7')">reload('/bar/6/7')</a></P>
<P><a ng-click="reload('/baz/1/3/5')">reload('/baz/1/3/5')</a></P>
<P><a ng-click="reload('/baz/4/5/6')">reload('/baz/4/5/6')</a></P>
  </div>
</div>

</div>