<div data-role="page">

	<div data-role="header">
		<h1>LittleBlueBird</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p><a ng-href="{{currentlocation}}" ng-click="fblogin()" data-role="button">Login via Facebook</a> </p>	
		<p><a ng-href="lbblogin" data-role="button">Login via LittleBlueBird</a> </p>	
		<p><a ng-href="register" data-role="button">Login via LittleBlueBird</a> </p>	
		<p><a ng-href="forgot" data-role="button">Forgot User/Pass?</a> </p>		
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->
