<div ng-controller="CircleCtrl" ng-class="'pull-right'">

  <!-- http://ajoslin.github.com/angular-bootstrap-ui/ -->
  <div class="btn-group pull-right">
	<a class="btn btn-mini btn-success font14 bold dropdown-toggle" 
	   data-toggle="dropdown" href="#" 
	   ng-click="$location.path($location.url());">+</a>

    <!-- these values should come from the db because here, we're specifying how many receivers an event can have
         this is not the place to store this info -->
    <ul class="dropdown-menu">
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Christmas', -1)">Christmas</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Birthday', 1)">Birthday</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Anniversary', 2)">Anniversary</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Mothers Day', 1)">Mothers Day</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Fathers Day', 1)">Fathers Day</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Valentines Day', -1)">Valentines Day</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Graduation', 1)">Graduation</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Baby Shower', 1)">Baby Shower</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Other', -1)">Other</a></li>
    </ul>
  </div>	
    
    

  <!--
  MODAL
  -->
<form novalidate name="circleForm" class="margbottom0">
  <div id="myModal" class="modal hide fade" ng-model="modalShown">
	<div class="modal-header">
	  <button class="close padtop5" data-dismiss="modal" ng-click="$parent.modalShown = false"><i class="icon-remove"></i></button>
	  <h3>New {{getType()}} Event</h3>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="span3">Event Name<input type="hidden" ng-model="newcircle.creatorId"></div>
	    <div class="span2">Date</div>
	  </div>
	  <div class="row">
	    <div class="span3">
	      <input class="span3" maxlength="140" value="" type="text" name="name" ng-model="newcircle.name" ng-required="true" />
	    </div>
	    <div class="span2">
          <input class="input-small" date-picker="expdate" ng-model="expdate" type="text" ng-required="true"></input>
	    </div>
	  </div>
	
	
	  <div class="row">
        
	    <div class="span3">
	      <div class="row">
	        <div class="span2 box well-tiny">
	          <span ng-show="newcircle.receiverLimit == -1"><b>Participants</b></span>
	          <span ng-hide="newcircle.receiverLimit == -1"><b>Honoree(s)</b></span>
	          
              <div class="btn-group pull-right">
	            <a class="btn btn-mini btn-success font14 bold dropdown-toggle" 
	               data-toggle="dropdown" href="#" 
	               ng-click="$location.path($location.url());">+
	            </a>
			    <ul class="dropdown-menu">
			      <li><a>By Name</a></li>
			      <li><a>From Another Event</a></li>
			    </ul>	
	          </div>
	   
	        </div>
	      </div>
	      <span ng-repeat="participant in newcircle.participants.receivers">
	      <div class="row">
	        <div class="span2"><a ng-click="removereceiver($index, newcircle)"><i class="icon-remove"></i></a>{{participant.fullname}}</div>
	      </div>
		  </span>
	    </div>
	    
	    <div class="span3">
  	  
	      <div class="row">
  	        <div class="span3">
  	          <h4>Add Participants...</h4>
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#byname" data-toggle="tab">By Name</a></li>
			    <li><a href="#fromanotherevent" data-toggle="tab">From Another Event</a></li>
			  </ul>
			  
			  <div class="tab-content">
			  
			    <div class="tab-pane active" id="byname">
			      <div class="row" ng-show="!showRegister">
		            <div class="span3"><input search-users type="text" class="span3" ng-model="search"></div>
		          </div>
				  <div class="row">
				    <div class="span3">
				    				      
				      <span ng-show="usersearch=='loaded'">
				      <div ng-repeat="person in people">
				        <span ng-hide="person.hide">
				        <div class="row highlight marg5" ng-click="$location.url($location.path());addparticipant($index, person, newcircle)">
				          <div class="span1 margleft_5"><img height=50 width=50 ng-src="{{person.profilepicUrl}}" /></div>
				          <div class="span2 marg0 padtop5 font14">{{person.fullname}}</div>
				        </div>
				        </span>
				      </div>
				      </span>
				      
				    </div>
			      </div>	
				  <span ng-show="usersearch=='loaded' && noonefound && showRegister!=true">
			      <div class="row">
			        <div class="span3">No one found <p><a ng-click="beginnewuser();">Create Account for this Person</a></p></div>
			      </div>
				  </span>
				  
	              <!-- begin create on the fly -->
		          <span ng-show="showRegister">
                    <!-- See:  http://docs-next.angularjs.org/guide/dev_guide.forms 
                    This page is a copy of register.html except the title here is Create Account
                    and on register.html it's Sign Up.   Also the save button here creates a new
                    user but doesn't the user to the welcome screen like in register.html
                    -->


                    <div class="row">
                      <div class="span3 well well-small" ng-form="newuserform" ng-controller="UserCtrl">

                        <div class="row"><div class="span3"><h3>Create Account</h3></div></div>
            
                        <div class="row">
                          <div class="span3">All fields required</div>
                        </div>
    
                        <div class="row">
                          <div class="span1">Name</div>
                          <div class="span2 margleft0">
                            <input class="span2" maxlength="140" value="" type="text" name="fullname" ng-model="newuser.fullname" ng-required="true" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="span1">Email</div>
                          <div class="span2 margleft0">
                            <input class="span2" maxlength="140" value="" name="email" type="email" ng-model="newuser.email" ng-required="true">
                          </div>
                          <div class="span1 w20 margleft0">
                            <span ng-show="newuserform.email.$dirty">
                              <span ng-show="newuserform.email.$error.email"><img src="img/red_x.png" id="emailinvalid" title="Email is invalid"></span>
                            </span>
                          </div>
                        </div>  
                        <div class="row">
                          <div class="span1">Username</div>
                          <div class="span2 margleft0">
                            <input class="span2" maxlength="140" value="" name="username" type="text" ng-model="newuser.username" ng-change="isUsernameUnique(newuser, newuserform)" required />
                          </div>
                          <div class="span1 w20 margleft0">
                            <span ng-show="newuserform.username.$dirty">
                              <span ng-show="newuserform.username.$error.taken">
                                <img src="img/red_x.png" id="invalidusername" title="Username is taken">
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="span1">Password</div>
                          <div class="span2 margleft0">
                            <input class="span2" ng-model="newuser.password" type="password" name="password" value="*******" ng-required="true" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="span1">Again</div>
                          <div class="span2 margleft0">
                            <input class="span2" ng-model="newuser.passwordAgain" type="password" name="passwordAgain" value="*******" ng-required="true" />
                          </div>
                          <div class="span1 w20 margleft0">
                            <span ng-show="newuserform.passwordAgain.$dirty">
                              <span ng-show="newuser.passwordAgain != newuser.password && !newuserform.passwordAgain.$error.required">
                                <img src="img/red_x.png" id="passwordsdontmatch" title="Passwords don't match">
                              </span>
                            </span> 
                          </div>
                        </div>


                        <div class="row">
                          <div class="span2 offset1">    
          
                            <div ng-hide="userfieldsvalid(newuser)" >
                              <a class="btn" ng-click="cancelnewuser();">Cancel</a>
                              <a ng-disabled="true" class="btn" id="invalidform" title="Not Ready Yet">Save</a>
                            </div>    
          
                            <div ng-show="userfieldsvalid(newuser)" >
                              <a class="btn" ng-click="cancelnewuser();">Cancel</a>
                              <a class="btn btn-primary" ng-click="createonthefly(newuser, newcircle)">Save</a>
                            </div>
      
                          </div>
    
                        </div>

                      </div>
                    </div>

		          </span>
	              <!-- end create on the fly -->
			    </div> <!-- end of the add-by-name tab -->
			    
			    <div class="tab-pane" id="fromanotherevent">
			      <div class="row">
			        <div class="span3">
				      <!-- option a -->
				      <ul ng-repeat="c in user.circles" ng-class="'nav nav-pills nav-stacked marg0'">
				        <li ng-class="activeOrNot(c)">
				          <a ng-click="makeActive($index, c);toggleCircle(c);showParticipants(c);">
	                        <span class="caret margleft_5 margtop5"></span>&nbsp;<b>{{c.name}}</b>
	                      </a>
	                      <span ng-show="c.show">
	                        <div class="row margbottom5 margleft0 well well-tiny">
	                          <div class="span2">Choose or <a ng-click="addparticipants(c, newcircle);">Select All</a></div>
	                        </div>
				            <div class="row margbottom5 highlight margleft0 well well-tiny" ng-repeat="receiver in c.participants.receivers" ng-click="addparticipant2(receiver, newcircle)">
				              <div class="span1 marg0"><img height=50 width=50 ng-src="{{receiver.profilepicUrl}}" /></div>
				              <div class="span2 marg0 font14">{{receiver.first}} {{receiver.last}}</div>
				            </div>
				            <div class="row margbottom5 highlight margleft0 well well-tiny" ng-repeat="giver in c.participants.givers" ng-click="addparticipant2(giver, newcircle)">
				              <div class="span1 marg0"><img height=50 width=50 ng-src="{{giver.profilepicUrl}}" /></div>
				              <div class="span2 marg0 font14">{{giver.first}} {{giver.last}}</div>
				            </div>
				          </span> 
					    </li>
					  </ul>
			        </div>
			      </div>
			        
			      
			    </div> <!-- end of the add-from-another-event tab -->
			  </div> <!-- end of tab-content -->
			  
  	        </div>
	      </div>
	      
		
        </div>
	    
	  </div>
	  
	</div>
	<div class="modal-footer">
              <div ng-show="circleForm.$invalid" >
                <a ng-click="$parent.modalShown = false;$location.url($location.path());cancelnewcircle();showRegister=false;search='';" class="btn">Cancel</a>
                <a ng-disabled="true" class="btn" id="invalidform">Save</a>
              </div>    
          
              <div ng-show="circleForm.$valid" > 
                <a ng-click="$parent.modalShown = false;$location.url($location.path());cancelnewcircle();showRegister=false;search='';" class="btn">Cancel</a> 
                <a class="btn btn-primary" ng-click="savecircle(newcircle, expdate);$parent.modalShown = false;$location.url($location.path());showRegister=false;search='';">Save</a>
              </div>
	</div>
  </div>
</form>


</div>
