  
<span ng-show="userExists()">
  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">{{btnText}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#/giftlist" ng-click="mywishlist()">My Wish List</a></li>
        <li><a href="#/myaccount">My Account</a></li>
        <li class="divider"></li>
        <li ng-controller="LoginCtrl"><a href="#" ng-click="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</span>