<div ng-controller="CircleCtrl">

  <!-- http://ajoslin.github.com/angular-bootstrap-ui/ -->
  <div class="btn-group">
	<a class="btn btn-mini btn-success pull-right font14 bold dropdown-toggle" 
	   data-toggle="dropdown" href="#" 
	   ng-click="$location.path($location.url());">+</a>

    <ul class="dropdown-menu">
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Christmas')">Christmas</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Birthday')">Birthday</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Anniversary')">Anniversary</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Mothers Day')">Mothers Day</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Fathers Day')">Fathers Day</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Valentines Day')">Valentines Day</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Graduation')">Graduation</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Baby Shower')">Baby Shower</a></li>
      <li><a ng-click="modalShown = !modalShown;newcircleFunction('Other')">Other</a></li>
    </ul>
  </div>	
    
    

  <!--
  MODAL
  -->
<form novalidate name="circleForm" class="margbottom0">
  <div id="myModal" class="modal hide fade" ng-model="modalShown">
	<div class="modal-header">
	  <button class="close padtop5" data-dismiss="modal" ng-click="$parent.modalShown = false"><i class="icon-remove"></i></button>
	  <h3>New {{getType()}} Event</h3>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="span4">Event Name<input type="hidden" ng-model="newcircle.creatorId"></div>
	    <div class="span1">Date: gg {{expdate}}</div>
	  </div>
	  <div class="row">
	    <div class="span4">
	      <input class="span4" maxlength="140" value="" type="text" name="name" ng-model="newcircle.name" ng-required="true" />
	    </div>
	    <div class="span2">
          <input class="input-small" date-picker="expdate" type="text" ng-required="true"></input>
	    </div>
	  </div>
	
	
	  <div class="row">
	    <div class="span4">
  	  
	      <div class="row">
  	        <div class="span4">Add People</div>
	      </div>
		
		  <div class="row margbottom0">
		    <div class="span4"><input search-users type="text" class="span4" ng-model="search"></div>
		  </div>
		
		
	      <div class="row">
		    <div class="span4">
		      <div ng-repeat="person in people" style="border:solid 1px #aaaaaa;">
		        <div class="row highlight margleft5">
		          <div class="span1 margleft_5"><img id="profileimg" height=50 width=50 ng-src="{{person.profilepic}}" onerror="this.src='img/noprofilepic.jpg'" /></div>
		          <div class="span2 padtop5 font14"><a ng-click="$location.url($location.path());addparticipant($index, person, newcircle)">{{person.fullname}}</a></div>
		        </div>
		      </div>
		    </div>
	      </div>
		
        </div>
	    <div class="span2">
	      <div class="row">
	        <div class="span2"><b>Participants</b></div>
	      </div>
	      <span ng-repeat="participant in newcircle.participants">
	      <div class="row">
	        <div class="span2"><a ng-click="removeparticipant($index, newcircle)"><i class="icon-remove"></i></a>{{participant.fullname}}</div>
	      </div>
		  </span>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
              <div ng-show="circleForm.$invalid" >
                <a ng-click="$parent.modalShown = false;$location.url($location.path());cancelnewcircle();" class="btn">Cancel</a>
                <a ng-disabled="true" class="btn" id="invalidform">Save</a>
              </div>    
          
              <div ng-show="circleForm.$valid" > 
                <a ng-click="$parent.modalShown = false;$location.url($location.path())" class="btn">Cancel</a> 
                <a class="btn btn-primary" ng-click="savecircle(newcircle, expdate);$parent.modalShown = false;$location.url($location.path());">Save</a>
              </div>
	</div>
  </div>
</form>


</div>
