  
  <div class="btn-group pull-right">
    <a class="btn btn-mini btn-success pull-right font14 bold dropdown-toggle" data-toggle="dropdown" href="#">+</a>
    <ul class="dropdown-menu">
      <li><a href="#/newchristmas" ng-click="type('Christmas')">Christmas</a></li>
      <li><a href="#">Birthday</a></li>
      <li><a href="#">Anniversary</a></li>
      <li><a href="#">Mothers Day</a></li>
      <li><a href="#">Fathers Day</a></li>
      <li><a href="#">Valentines Day</a></li>
      <li><a href="#">Graduation</a></li>
      <li><a href="#">Baby Shower</a></li>
      <li><a href="#">Other</a></li>
    </ul>
  </div>