  
<div>
{{lookforuser()}}
  
<span ng-show="userExists()">
  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">{{btnText}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="font12" ng-href="#/mywishlist" ng-click="mywishlist()">My Wish List</a></li>
        <li><a class="font12" ng-href="#/myaccount" ng-click="myaccount()">Account Settings</a></li>
        <li class="divider"></li>
        <li ng-controller="LoginCtrl"><a class="font12" href="#/login" ng-click="logout()">Logout</a></li>
        <!-- This is demo code.  I was not planning on putting a Friends link here.  It's just here
        so I can verify friends in FireBug
        <li ng-controller="ConnectCtrl"><a ng-click="getfriends()">Friends</a></li>
        -->
      </ul>
    </li>
  </ul>
</span>
</div>