<div ng-controller="ModalCtrl">  
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Edit Event
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Add People</a></li>
      <li><a href="#">Remove People</a></li>
      <li class="divider"></li>
      <li><a href="#">Edit Event</a></li>
      <li><a ng-click="$location.path($location.url());openModal('deleteCircleModal');">Delete Event</a></li>
    </ul>
  </div>
  
		<bootstrap-modal id="deleteCircleModal" effect='slide'>
			<div class="modal-header">
				<button class="close modal-close padtop5"> <i class="icon-remove"></i></button>
				<h3>Delete Event BB</h3>
			</div>
			<div class="modal-body">
			            Are you sure you want to delete the {{circle.name}} event?
			            <P/>
			            This event will also be deleted for the following people:
			            <P/>
				        <div class="row" ng-repeat="p in circle.participants.receivers">
				          <div class="span2">{{p.first}} {{p.last}}</div>
				        </div>
				        <div class="row" ng-repeat="p in circle.participants.givers">
				          <div class="span2">{{p.first}} {{p.last}}</div>
				        </div>
			</div>
		    <div class="modal-footer"> 
              <a ng-click="$location.url($location.path())" class="btn modal-close">Cancel</a> 
              <a class="btn btn-danger modal-close" ng-click="$location.url($location.path());">Delete</a>
			</div>
		</bootstrap-modal>
  
  
		
</div>