
<form novalidate name="addGiftForm" class="margbottom0">
  <div ui-modal class="fade" ng-model="addGiftFormModalShown">
	<div class="modal-header bgbluegradient white">
	  <button class="close padtop5" data-dismiss="modal" ng-click="addGiftFormModalShown = false"><i class="icon-remove"></i></button>
	  <h3>Add Item</h3>
	</div>
	
	<div class="modal-body">
	
          <div class="row giftadd margleft_35">
            <div class="span6">
              <div class="row">
                <div class="span4">
	              <div class="row">
	                <div class="span1">Item</div>
	              </div>
	              <div class="row">
                      <input type="hidden" name="giftId" ng-model="newgift.id" />
                      <input type="hidden" name="addedBy" ng-model="newgift.addedBy" />
                      <input type="hidden" name="circle" ng-model="newgift.circle" />
	                <div class="span4"><textarea class="span4" rows="5" ng-model="newgift.description" cols="80" required></textarea></div>
	              </div>
	              <div class="row">
	                <div class="span1">URL</div>
	              </div>
	              <div class="row">
	                <div class="span4"><input class="span4" type="URL" name="url" ng-model="newgift.url" /></div>
	              </div>
                </div>
                
              <span ng-show="needToSpecifyWhoTheGiftIsFor">
                <div class="span2">
                  <div class="row">
                    <div class="span2">
                      This item is for<br/>(check all that apply)
                    </div>
                  </div>
                  <div class="row">
                    <div class="span2">
                      <div ng-repeat="receiver in newgift.recipients">
                        <input type="checkbox" ng-model="receiver.checked"> {{receiver.fullname}}
                      </div>
                    </div>
                  </div>
                </div>
              </span>
                
                
              </div>
            </div>
          </div>
	
	</div> <!-- modal-body -->
	
	<div class="modal-footer">	
              <div class="row pull-right">
                    <div class="span2">
                      <div ng-show="addGiftForm.$invalid">
                        <button ng-disabled="true" class="btn btn-primary" id="invalidform">Add Item</button>
                      </div>    
          
                      <div ng-hide="addGiftForm.$invalid">
                        <button class="btn btn-primary" ng-click="addgift(newgift);addGiftFormModalShown = false">Add Item</button>
                      </div>
                    </div>
                    <div class="span1">
                      <button class="btn" ng-click="addGiftFormModalShown = false;gift.adding=false">Cancel</button>
                    </div>
              </div>
	
	</div> <!-- modal-footer -->
	
  </div>
</form>


<a ng-href="{{currentlocation}}" class="btn btn-primary pull-right font18" title="Add an item to this wish list" ng-click="addGiftFormModalShown = !addGiftFormModalShown;gift.adding=true;initNewGift();">+</a>