
<div class="span7 list pad10" ng-controller="GiftCtrl">
  <div class="row">     
    <div class="spantiny padtop5">
        
      <ul gift-actions class="nav marg0">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret pad0"></span></a>
	      <ul class="dropdown-menu">
		    <span ng-show="gift.canedit"><li><a href="editgift/{{circle.id}}/{{showUser.id}}/{{gift.id}}" ng-click="editgift(gift)"><i class="icon-pencil"></i> Edit</a></li></span> 
            <span ng-show="gift.candelete"><li><a href="deletegift/{{circle.id}}/{{showUser.id}}/{{gift.id}}" ng-click="deletegift($index, gift)"><i class="icon-remove"></i> Delete</a></li></span>
		    <span ng-hide="gift.canedit"><li><a ng-click="alertcannotedit()"><i class="icon-pencil"></i> Edit</a></li></span> 
		    <span ng-hide="gift.candelete"><li><a ng-click="alertcannotdelete()"><i class="icon-remove"></i> Delete</a></li></span>
		  </ul>
        </li>
      </ul>
  
    </div>
    
    <span ng-hide="circle.isExpired || gifts.mylist">
      <div class="span1">
        <span ng-show="gift.canbuy">
          <a href="buy/{{circle.id}}/{{showUser.id}}/{{gift.id}}" class="btn btn-success btn-mini" title="Reserve tells others you are buying this" ng-click="startbuying(gift)">Reserve</a>
        </span>
        <span ng-show="gift.canreturn">
          <a class="btn btn-mini padleft15 padright15" ng-click="returngift($index, gift)">Undo</a>
        </span>
        <span ng-show="!gift.canbuy && !gift.canreturn && gift.canseestatus && gift.isbought">
          <a class="btn btn-mini" ng-disabled="true" title="Bought by {{gift.sender_name}}">bought</a>
        </span>
        <span ng-show="!gift.canseestatus">
          &nbsp;
        </span>
      </div>
    </span>
                  
               
      <div class="span4 giftdescription">
        <a ng-href="{{gift.affiliateUrl}}" 
           target="item" 
           ui-jq="popover" 
           ui-options="popoverOptions($index, gift)">
          {{gift.description}}
        </a>
      </div>   
      
      <div class="span1"><span ng-show="showshare=='true'"><a class="uibutton confirm" ng-click="fbsharelist(showUser, circle)">Share</a></span></div>             
             
  </div>
  
</div>