
<span ng-controller="GiftCtrl">

			  <div class="row">
			    <div class="span2 offset4 align-right font11 txtgray">{{gift.dateCreated | date:'MMM d, yyyy'}}</div>
			  </div>
			  
			  
			  <div class="row">
			    <div class="span1">
			    
			      <span ng-hide="circle.isExpired || gifts.mylist">
			        <span ng-show="gift.canbuy">
			          <a href="buy/{{circle.id}}/{{showUser.id}}/{{gift.id}}" class="btn btn-success btn-mini" title="Reserve tells others you are buying this" ng-click="startbuying(gift)">Reserve</a>
			        </span>
			        <span ng-show="gift.canreturn">
			          <span ng-show="gift.returning">
			            <img src="img/spinner-16.gif"/>
			          </span>
			          <span ng-hide="gift.returning">
			            <a ng-href="{{currentlocation}}" ui-jq="popover" ui-options="changedYourMindPopover($index, gift)" class="btn btn-mini padleft15 padright15" ng-click="returngift($index, gift)">Undo</a>
			          </span>
			        </span>
			        <span ng-show="!gift.canbuy && !gift.canreturn && gift.canseestatus && gift.isbought">
			          <a class="btn btn-mini" ng-disabled="true" title="Bought by {{gift.sender_name}}">bought</a>
			        </span>
			        <span ng-show="!gift.canseestatus">
			          &nbsp;
			        </span>
			      </span>
			    
			    </div>
			    
			    
			    <div class="span3">
			      <span class="font14">
			        <span ng-show="gift.issurprise"><img src="img/shhh.gif" title="Shhhh! {{showUser.fullname}} does not know anything about this" /></span>
			        <span ng-show="gift.affiliateUrl != ''">
			          <a ng-href="{{gift.affiliateUrl}}" 
			             target="item">
			            {{gift.description}}
			          </a>
			        </span>
			        
			        <span ng-show="gift.affiliateUrl == ''">
			            {{gift.description}}  <!-- TODO: use the amazon quick linker widget when no link is provided -->
			        </span>
			        
			      </span> 
			    </div>
			    
			    
			    <div ng-class="{span2: true, pull-right: true, offset1: gift.mylist}">
			    
			      <span ng-show="showshare=='true'"><a class="uibutton confirm" ng-click="fbsharelist(showUser, circle)">Share</a></span> 
			      
			      <span ng-show="$parent.showbuttons">
			        <span class="pull-right">
			        
					    <span ng-show="gift.canedit"><a class="btn btn-mini" href="{{currentlocation}}" ng-click="editgift(gift)"><i class="icon-pencil"></i> Edit</a></span> 
			            <span ng-show="gift.candelete"><a class="btn btn-mini" href="{{currentlocation}}" ng-click="deletegift($index, gift)"><i class="icon-remove"></i> Delete</a></span>
					  
					    <span ng-hide="gift.canedit"><button class="btn btn-mini disabled" title="You can't edit this item because you didn't add it"><i class="icon-pencil"></i> Edit</button></span> 
					    <span ng-hide="gift.candelete"><button class="btn btn-mini disabled" title="You can't delete this item because you didn't add it"><i class="icon-remove"></i> Delete</button></span>
			            &nbsp;
			            
			        </span>
			      </span>
			      
			    </div>
			    
			  </div>


</span>