


<div class="row">
  <div class="span2">
      <div class="crop" ng-controller="UserCtrl">
        <img id="profileimg" ng-src="{{showUser.profilepic}}" onerror="this.src='img/noprofilepic.jpg'" />
      </div>
  </div>

  <div class="span5">    
    <div ng-controller="CircleCtrl">
    <div class="row">
      <div class="span3">
        <h2>{{circle.name}}</h2>
      </div>
      <div class="span2">
        <span ng-show="circle!=undefined">
          <btn-edit-circle/>
        </span>
      </div>
      <div class="span3">
        <h3>{{circle.date | date:'EEE MMM d, yyyy'}}</h3>
      </div>
    </div>
    </div>
    
    
  </div>
</div>

