 <div ng-controller="CircleCtrl" class="margleft30">
 <div ng-controller="UserCtrl">
 <div ng-controller="GiftCtrl">
 
 <div ng-repeat="p in circle.participants.receivers">
 <a href="#/giftlist/{{circle.id}}/{{p.id}}" ng-click="giftlist(circle, p)">
 <div class="row pad10 highlight" title="See {{p.first}}'s wish list">
     <div class="span2 marg0"><div class="crop"><img height="{{adjustedheight(p)}}" width="{{adjustedwidth(p)}}" ng-src="{{p.profilepicUrl}}"/></div></div>
     <div class="span3 pad10"><h2>{{p.first}} {{p.last}}</h2></div>
 </div>
 </a>
 </div>
 
 
 <span ng-show="circle.participants.givers.length != 0">
 <div class="row"><div class="span7 marg0"><hr/></div></div>
 </span>
 
 <div ng-repeat="p in circle.participants.givers">
 <div class="row pad10">
   <div class="span2 marg0"><div class="crop"><img height="{{adjustedheight(p)}}" width="{{adjustedwidth(p)}}" ng-src="{{p.profilepicUrl}}"/></div></div>
   <div class="span3 pad10">
     <h2>{{p.first}} {{p.last}}</h2>
   </div>
 </div>
 </div>
 
 </div>
 </div>
 </div>