
<div ng-controller="FriendCtrl">


<div class="navbar">
  <div class="navbar-inner bggraygradient">
    <div class="container">
      <span class="brand font14">Friends</span>
      
      <ul class="nav pull-right">
        <li>

<ul friend-stuff class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">Friend Stuff <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a ng-click="showaccepted()">Show Accepted</li><li><a ng-click="showinvited()">Show Invited</li><li><a ng-click="showall()">Show All</li>
      </ul>
    </li>
  </ul>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="row">
  <div class="span7">
    <a class="uibutton" ng-click="fbinvite()">Invite Facebook Friends</a>
  </div>
</div>


</div>