<!-- 
/buy/:circleId/:showUserId/:giftId
/editgift/:circleId/:showUserId/:giftId
/deletegift/:circleId/:showUserId/:giftId
/giftlist/:showUserId/:circleId
/mywishlist
/wishlist/:showUserId

All of the above url's end up including this page.  Need to pull out the parameters here rather
than relying on ng-click from the calling page.  Using ng-click means the url's can't be made into
hyperlinks, which is what we want if we want to post items to FB.
 -->


<div ng-controller="GiftListCtrl">
          
          
      <div class="row margbottom5">
        <div class="span4">
          <h3 class="margleft5">{{showUser.fullname}}'s Wish List</h3>
        </div>
            
        <div class="span3 pull-right">
          <a class="uibutton confirm" title="Share this list on Facebook" ng-click="fbsharelist(showUser)">Share on Facebook</a>
          <span ng-hide="gift.adding">
            <a class="btn btn-mini btn-success font18 pull-right" title="Add an item to this wish list" ng-click="gift.adding=true;initNewGift();">+</a>
          </span>
        </div>
      </div> <!-- div class="row" -->
          
          
      <div class="row margbottom5">
        <div class="span5">
          <h3 class="margleft5">{{circle.name}}</h3>
        </div>
        <div class="span2 pull-right">
          <h4 class="pull-right">{{circle.date | date:'EEE MMM d, yyyy'}}</h4>
        </div>
            
      </div> <!-- div class="row" -->
      
      <div class="row"><div class="span7 simple-top"></div></div>
    
      <div class="row">
        <div class="span7">
        <span ng-show="isExpired()">
          <div class="row alert alert-success margleft0">
            <div class="span6 padright30 margleft0">
              <h4 class="alert-heading">{{circle.name}} has past</h4>
              This is what {{showUser.first}} got for {{circle.name}}
            </div>
          </div>
        </span>
        </div>
      </div>
          
          
          
      <div class="row">
            
        <!-- everything goes in here -->
        <div class="span7">
            
          <span ng-show="gifts.length==0 && !isExpired()">
            <P><h4 class="font16">This list is empty</h4></P>
            <span ng-show="user.id != showUser.id">
              <P class="font16">Did you know you can add items to this list even though it's not <I>your</I> list?</P>
              <P class="font16">And anything you add will be hidden from {{showUser.fullname}}. LittleBlueBird won't spoil the surprise!</P>
              <P class="font16">Everyone else will be able to see it though</P>
            </span>
          </span>
            
          <span ng-show="gifts.length==0 && isExpired()">
            <P>
              <h4 class="font16">
                According to LittleBlueBird, <span ng-show="user.id == showUser.id">you</span><span ng-hide="user.id == showUser.id">{{showUser.fullname}}</span> didn't get anything at this event.
              </h4>
            </P>
            <P class="font16">
              <span ng-show="user.id == showUser.id">You</span><span ng-hide="user.id == showUser.id">{{showUser.fullname}}</span> probably did get something,
                it just wasn't bought through LittleBlueBird.
            </P>
          </span>
            
          <span ng-show="gift.adding">
	        <div ng-include src="'partials/giftlist/addgiftform.html'"></div>
          </span>

          <div ng-repeat="gift in gifts">
            <!-- review usage of: gift -->
              
            <span ng-hide="gift.editing || gift.buying"> 
              <div class="row gift marg0 margtop5">   
	            <ng-include src="'partials/giftlist/viewitem.html'"></ng-include>  
              </div>                
            </span>
            <!-- end:  hide gift.editing || gift.buying -->  
              
              
            <span ng-show="gift.buying">
              <div class="row gift marg0 margtop5">   
	            <ng-include src="'partials/giftlist/buygiftform.html'"></ng-include>   
              </div>                
            </span>
            <!-- end:  hide gift.buying --> 
              
                  
            <span ng-show="gift.editing">
              <div class="row gift marg0 margtop5">   
	            <ng-include src="'partials/giftlist/editgiftform.html'"></ng-include>  
              </div>                
            </span>
            <!-- end:  show gift.editing -->    
                  
          </div> <!-- div ng-repeat="gift in gifts" -->

            
        </div>
        <!-- everything goes in here -->
            
      </div> <!-- div class="row" -->
          
      
</div>  <!-- GiftListCtrl -->
