
<div ng-controller="LoginCtrl">
  <div class="row">
    <div class="span3 well well-small">
      <span ng-hide="forgotlogin">
		<form novalidate class="form-inline">
		    <input type="text" title="username" placeholder="Username" ng-model="username"  class="input-small">
		    <input type="password" title="password" placeholder="Password" ng-model="password" class="input-small">
		    <button class="btn" ng-click="login()">Login</button> <a href="#/login" ng-click="forgotlogin=true">forgot your login?</a> 
		</form>

        <span ng-show="loginfail"><div class="alert alert-error">Wrong username/password</div></span>
      </span>
      <span ng-show="forgotlogin">
		<form novalidate class="form-inline">
		    <input type="email" title="Email" placeholder="Email" ng-model="email"  class="span2">
		    <button class="btn" ng-click="forgotlogin=false;emailIt(email)">Email It!</button> 
		</form>
      </span>
      
      <!-- Put this back in when ready for facebook integration  
      <div id="fb-root"></div>
      <div ng-controller="ConnectCtrl">
        <span ng-click="registerWithFacebook()"><img src="img/fblogin.jpg"></span>
      </div>
      -->

    </div>
  </div>
</div>