
<div ng-controller="LoginCtrl">
  <div class="row">
    <div class="span5">
  
<form class="form-inline">
  User: <input type="text" ng-model="username" class="input-small" >
  Pass: <input type="password" ng-model="password" class="input-small">
  <button class="btn" ng-click="login()">Login</button>
  <BR/> &nbsp;
  <a href="#/register">sign up</a> | <a href="#/forgot">forgot your login?</a>
  <BR/> 
</form>
  

    </div>
  </div>
  <div class="row">
    <div class="span3">
<span ng-show="loginfail"><div class="alert alert-error">Wrong username/password</div></span>
    </div>
  </div>
</div>