
<!-- See:  http://docs-next.angularjs.org/guide/dev_guide.forms -->

<div ng-controller="MyAccountCtrl">
    <div class="row">
      <div class="span6 aac">My Account</div>
    </div>
    <div class="row aab marg0 margtop5">
      <div class="span7 marg5">
      
<form novalidate name="regForm">
        <div class="row">
          <div class="span3">
                                      
            <div class="row"><div class="span1">ID</div><div class="span2"><input class="input-small" maxlength="140" value="" type="text" name="id" ng-model="user.id" /></div></div>
            <div class="row"><div class="span1">Name</div><div class="span2"><input class="input-small" maxlength="140" value="" type="text" name="fullname" ng-model="user.fullname" /></div></div>
            <div class="row">
              <div class="span1">Email</div>
              <div class="span2">
                <input class="input-small" maxlength="140" value="" name="email" type="email" ng-model="user.email" required>
                <span ng-show="regForm.email.$pristine">*</span>
                <span ng-show="regForm.email.$dirty">
                  <span ng-show="regForm.email.$error.required"><img src="img/red_x.png" id="emailrequired" title="Email is required"></span>
                  <span ng-show="regForm.email.$error.email"><img src="img/red_x.png" id="emailinvalid" title="Email is invalid"></span>
                </span>
              </div>
            </div>  
            <div class="row">
              <div class="span1">Username</div>
              <div class="span2">
                <input class="input-small" maxlength="140" value="" name="username" type="text" ng-model="user.username" required />
                <span ng-show="regForm.username.$pristine">*</span>
                <span ng-show="regForm.username.$dirty">
                  <span ng-show="regForm.username.$error.required">
                    <img src="img/red_x.png" id="invalidusername" title="Username is required">
                  </span>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="span1">Birthday</div>
              <div class="span2">
                <input class="input-small" type="text" ng-model="user.dateOfBirthStr" name="dateOfBirth" ng-pattern="/^(\d{1,2})/(\d{1,2})/(\d{4})$/" />
                <span ng-show="regForm.dateOfBirth.$dirty">
                  <span ng-show="regForm.dateOfBirth.$error.pattern">
                    <img src="img/red_x.png" id="invaliddobb" title="Enter Birthday as MM/dd/yyyy">
                  </span>
                </span>
              </div>
            </div>
          </div>
    
          <div class="span1">
          
            <div class="row">
              <div class="span1">
                <div class="crop" ng-controller="UserCtrl"><img height="{{adjustedheight(user)}}" width="{{adjustedwidth(user)}}" ng-src="{{user.profilepicUrl}}"/></div>
              </div>
            </div>
            
          </div>
    
        </div>
  
        <div class="row">
          <div class="span1">Profile Pic</div>
          <div class="span4">
                <input class="span3" maxlength="1028" value="" type="url" ng-model="user.profilepic" name="profilepic" ng-validate="url" />
                <span ng-show="regForm.username.$pristine">&nbsp;&nbsp;</span>
                <span ng-show="regForm.profilepic.$dirty">
                  <span ng-show="regForm.profilepic.$error.url">
                    <img src="img/red_x.png" id="invalidprofilepic" title="URL is invalid">
                  </span>
                </span> 
          </div>
        </div>
  
        <div class="row">
          <div class="span4">Bio</div>
        </div>
      
        <div class="row">
          <div class="span5">
            <textarea class="span5" rows="10" ng-model="user.bio" cols="80"></textarea>
          </div>
        </div>



        <div class="row">
          <div class="span1 offset1">    
            <div ng-show="regForm.$invalid" >
              <a ng-disabled="true" class="btn span1" id="invalidform" title="Not Ready Yet" data-content="The form isn't ready to submit yet.  You still have fields to fix and complete.">Save</a>
            </div>    
          
            <div ng-show="regForm.$valid" >
              <a href="#/myaccount" class="btn btn-primary span1" ng-click="save(user)">Save</a>
            </div>
          </div>
    
        </div>
</form>

      </div>
    </div>

</div>
