<div ng-controller="CircleCtrl">
<h4>Events</h4>
  <ul ng-repeat="circle in user.circles" ng-class="'nav nav-pills nav-stacked'" style="margin:0px;">
    <li ng-class="activeOrNot(circle)">
      <a href="#/event/{{circle.id}}" ng-click="makeActive(circle);toggleCircle(circle);showParticipants(circle);">
        <span class="caret"></span> <b>{{circle.name}}</b>
      </a>
        <span ng-show="circle.show">
      <div ng-repeat="participant in circle.participants" style="text-indent:15px;">
          <a href="#/giftlist" ng-click="giftlist(circle, participant)">
            {{participant.fullname}}
          </a> 
      </div>
        </span> 
    </li>
  </ul>
</div>