<div ng-controller="CircleCtrl">
<h3>Past Events</h3>
  <ul ng-repeat="circle in user.expiredcircles" ng-class="'nav nav-pills nav-stacked'" style="margin:0px;">
    <li ng-class="activeOrNot(circle)">
      <a href="#/event/{{circle.id}}" ng-click="makeActive(circle);toggleCircle(circle);showParticipants(circle);">
        <i class="icon-chevron-down"></i> {{circle.name}}
      </a>
        <span ng-show="circle.show">
      <div ng-repeat="participant in circle.participants">
          <a href="#/giftlist" ng-click="giftlist(circle, participant)">
            {{participant.first}} {{participant.last}}
          </a> 
      </div>
        </span> 
    </li>
  </ul>
</div>