<div ng-controller="UserCtrl">
<div ng-controller="NavCtrl">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" ng-click="loginpage();">LittleBlueBird</a>
      <ul class="nav">
        <li ng-class="navstate('classA')">
          <a href="#/gettingstarted" ng-click="activenav='classA'">Getting Started</a>
        </li>
        <li ng-class="navstate('classB')">
          <a href="#" ng-click="activenav='classB'">Learn</a>
        </li>
        <li ng-class="navstate('classC')">
          <a href="mailto:info@littlebluebird.com">Contact Us</a>
        </li>
      </ul>
      <ul class="nav">
        <div class="row margtop10 margbottom0">
          <div class="span2 offset1"><input search-users type="text" class="input-medium search-query" ng-model="search" title="Search for people">
          </div>
          <div class="span1 margleft_10 margtop5"><i class="icon-search"></i>
          </div>
        </div>
        
      </ul>
      <ul class="nav pull-right">
        <li>


<span ng-controller="UserCtrl">
<span ng-show="userExists()">
  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">{{user.fullname}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="font12" ng-href="#/mywishlist" ng-click="mywishlist()">My Wish List</a></li>
        <li><a class="font12" ng-href="#/myaccount" ng-click="myaccount()">Account Settings</a></li>
        <li class="divider"></li>
        <li ng-controller="FriendCtrl"><a class="font12" ng-click="fblogout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</span>
</span>




        </li>
        <li><img ng-src="img/logo.gif"/></li>
      </ul>
    </div>
  </div>
</div>

				    <span ng-show="usersearch=='loaded'">
				      <span ng-hide="noonefound">
				        <div class="searchresults pad5">
				            <div ng-repeat="person in people">
				              <span ng-hide="person.hide">
				                <div class="row margbottom5 margleft0 highlight-box-white" ng-click="$location.url($location.path());addparticipant($index, person, thecircle)">
				                  <div class="span1 marg0"><img height=50 width=50 ng-src="{{person.profilepicUrl}}" /></div>
				                  <div class="span2 marg0 padtop5 font14">{{person.fullname}}</div>
				                </div>
				              </span>
				            </div>
				        </div>
			          </span>
				      <span ng-show="noonefound">
				        <div class="searchresults pad5">
				            No one found
				        </div>
			          </span>
			        </span>
        


</div>
</div>