
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/gf/app">LittleBlueBird</a>
      <ul class="nav">
        <li class="active">
          <a href="#">What Is It?</a>
        </li>
        <li><a href="#">Tell Me More</a></li>
        <li><a href="#">Features</a></li>
      </ul>
      <ul class="nav pull-right">
        <li ng-controller="UserCtrl"><btn-user btn-text="{{user.fullname}}"/></li>
        <li><img ng-src="img/logo.gif"/></li>
      </ul>
    </div>
  </div>
</div>