<h1>New Christmas Event</h1>
<form novalidate name="circleForm" ng-controller="CircleCtrl">
  
	<div class="row">
	  <div class="span1">Event Name</div>
	  <div class="span2 margleft0">
	    <input class="span2" maxlength="140" value="" type="text" name="name" ng-model="circle.name" required />
	  </div>
	  <div class="span1 w20 margleft0">
	    <span ng-show="circleForm.name.$dirty">
	      <span ng-show="circleForm.name.$error.required"><img src="img/red_x.png" title="Name is required"></span>
	    </span>
	  </div>
	</div>
	<div class="row">
	  <div class="span3">Date
        <input id="datepicker" ui-date="dateOptions" class="input-small" ng-model="circle.expirationdate" type="text" ng-required="true"></input>
	  </div>
	</div>
	
	
    <div class="row">
      <div class="span2 offset1">   
        <div ng-show="circleForm.$invalid" >
          <a ng-disabled="true" class="btn span1" id="invalidform" title="Not Ready Yet" data-content="The form isn't ready to submit yet.  You still have fields to fix and complete.">Save</a>
        </div>    
          
        <div ng-show="circleForm.$valid" >  
          <a href="#" class="btn btn-primary" ng-click="save(circle)">Save</a>
        </div>
      </div>

    </div>
</form>

<!-- 
http://jsfiddle.net/CHVbb/441/
http://groups.google.com/group/angular/browse_thread/thread/d844fbc0ca704c97
 -->