
<!--
<div class="row" ng-controller="UserCtrl">
  <div class="span2 margbottom20">
      <P>showUser.profilepicmargintop={{showUser.profilepicmargintop}}</P>
      <P>showUser.profilepicmarginleft={{showUser.profilepicmarginleft}}</P>
  </div>
</div>
-->

<div class="row" ng-controller="UserCtrl">
  <div class="span2 margbottom20">
    <div style="width:150px; height:150px; overflow:hidden;">
      <div style="margin-top:{{showUser.profilepicmargintop}};margin-left:{{showUser.profilepicmarginleft}}">
        <img height="{{showUser.profilepicadjustedheight}}" width="{{showUser.profilepicadjustedwidth}}" ng-src="{{showUser.profilepicUrl}}"/>
      </div>
    </div>
  </div>
</div>

