
<!--
<div class="row" ng-controller="UserCtrl">
  <div class="span2 margbottom20">
      h={{showUser.profilepicheight}} h adj={{adjustedheight(showUser)}}
      <P>w={{showUser.profilepicwidth}} w adj={{adjustedwidth(showUser)}}</P>
  </div>
</div>
-->

<div class="row" ng-controller="UserCtrl">
  <div class="span2 margbottom20">
    <div style="width:150px; height:150px; overflow:hidden;">
      <div style="margin-top:{{profilepicmargintop}};margin-left:{{profilepicmarginleft}}">
        <img height="{{adjustedheight(showUser(), 150)}}" width="{{adjustedwidth(showUser(), 150)}}" ng-src="{{showUser().profilepicUrl}}"/>
      </div>
    </div>
  </div>
</div>

