
<!-- See:  http://docs-next.angularjs.org/guide/dev_guide.forms -->

<div class="row">
  <div class="span3 aaa">
    <div class="row">
      <div class="span3 aac">Sign Up</div>
    </div>

    <div class="row">
      <div class="span3 aab">

<form novalidate name="regForm" ng-controller="UserCtrl">

    
            <div class="row"><div class="span1">Name</div><div class="span2"><input class="input-small" maxlength="140" value="" type="text" name="fullname" ng-model="user.fullname" /></div></div>
            <div class="row">
              <div class="span1">Email</div>
              <div class="span2">
                <input class="input-small" maxlength="140" value="" name="email" type="email" ng-model="user.email" required>
                <span ng-show="regForm.email.$dirty">
                  <span ng-show="regForm.email.$error.required"><img src="img/red_x.png" id="emailrequired" title="Email is required"></span>
                  <span ng-show="regForm.email.$error.email"><img src="img/red_x.png" id="emailinvalid" title="Email is invalid"></span>
                </span>
              </div>
            </div>  
            <div class="row">
              <div class="span1">Username</div>
              <div class="span2">
                <input class="input-small" maxlength="140" value="" name="username" type="text" ng-model="user.username" ng-change="isUsernameUnique(user, regForm)" required />
                <span ng-show="regForm.username.$dirty">
                  <span ng-show="regForm.username.$error.required">
                    <img src="img/red_x.png" id="invalidusername" title="Username is required">
                  </span>
                  <span ng-show="regForm.username.$error.taken">
                    <img src="img/red_x.png" id="invalidusername" title="Username is taken">
                  </span>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="span1">Password</div>
              <div class="span2">
                <input class="input-small" ng-model="user.password" type="password" name="password" value="*******" required />
                <span ng-show="regForm.password.$dirty">
                  <span ng-show="regForm.password.$error.required">
                    <img src="img/red_x.png" id="invalidpass" title="Password is required">
                  </span>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="span1">Again</div>
              <div class="span2">
                <input class="input-small" ng-model="user.passwordAgain" type="password" name="passwordAgain" value="*******" required />
                <span ng-show="regForm.passwordAgain.$dirty">
                  <span ng-show="regForm.passwordAgain.$error.required">
                    <img src="img/red_x.png" id="invalidpassagain" title="Enter password twice">
                  </span>
                  <span ng-show="user.passwordAgain != user.password && !regForm.passwordAgain.$error.required">
                    <img src="img/red_x.png" id="passwordsdontmatch" title="Passwords don't match">
                  </span>
                </span> 
              </div>
            </div>
  
  

        <div class="row">
          <div class="span2 offset1">    
          
            <div ng-show="regForm.$invalid || (user.passwordAgain != user.password && !regForm.passwordAgain.$error.required)" >
              <a ng-disabled="true" class="btn" id="invalidform" title="Not Ready Yet">Save</a>
            </div>    
          
            <div ng-hide="regForm.$invalid || (user.passwordAgain != user.password && !regForm.passwordAgain.$error.required)" >
              <a href="#" class="btn btn-primary" ng-click="save(user)">Save</a>
            </div>
      
          </div>
    
        </div>
</form>

      </div>
    </div>
  </div>
</div>
