<div ng-controller="SideMenuCtrl">
<div class="box bg_efefef pad3">
    <ul class="nav nav-tabs nav-stacked" style="margin:0;">
      <li ng-class="state('me')"><a href="#/me" ng-click="setactive('me')">Me<i class="icon-chevron-right pull-right"/></a></li>
      <li ng-class="state('friends')"><a href="#/friends" ng-click="setactive('friends')">Friends<i class="icon-chevron-right pull-right"/></a></li>
      <li ng-class="state('events')"><a href="#/events" ng-click="setactive('events')">Events<i class="icon-chevron-right pull-right"/></a></li>
    </ul>
</div>
</div>