<h1>Welcome to LittleBlueBird</h1>

<P>&nbsp;</P>

<h3>Check Your Email</h3>
<P>You should have received a welcome email from 
<a href="mailto:info@littlebluebird.com">info@littlebluebird.com</a> with your username and password.</P>
<P>If it went to your spam folder, add us to your contacts.</P>
<P>If you didn't receive this email, add us to your contacts and then click <a href="">resend</a>.</P>

<P>&nbsp;</P>

<h3>No Spam</h3>
<P>LittleBlueBird.com will never spam you or sell your email address.</P>
<P>We use your email for
  <ul>
    <li>password recovery</li>
    <li>to notify you of upcoming events</li>
  </ul>
</P>
<P>You can control turn these notification on and off from your <a href="#/myaccount">My Account</a> page.</P>
<P>&nbsp;</P>


<h3>What Next?</h3>
<P>Check out the <a href="#/gettingstarted">Getting Started</a> page.</P>
<P>It will tell you everything you need to know about creating events and your wish list.</P>