
		        <a ng-click="mergeaccount(auser)" title="Click here if this is you">
		          <div style="width:50px; height:50px; overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                    <div style="margin-top:{{auser.profilepicmargintop50}};margin-left:{{auser.profilepicmarginleft50}}">
		              <img class="rounded" height="{{auser.profilepicadjustedheight50}}" width="{{auser.profilepicadjustedwidth50}}" ng-src="{{auser.profilepicUrl}}"/>
		            </div>
		          </div>
		        </a>
		        <a ng-click="mergeaccount(auser)" title="Click here if this is you">{{auser.first}} {{auser.last}}</a>