.aaa {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border:2px solid #006caa;
  padding:5px 18px 5px 5px;
  margin-left:75px;
  background-color:#cccccc;
  color:#eeeeee;
}

.aab {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #aaaaaa;
  background-color:#ffffff;
  color:#333333;
  overflow:hidden;
}

.aac {
  padding-bottom:5px;
  font-family:Verdana;
  font-size:20px;
}

.aae {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border:2px solid #bbbbbb;
  padding:2px;
  width:150px;
  height:150px;
}

.align-bottom {vertical-align:bottom;}
.align-left {text-align:left;}
.align-middle {vertical-align:middle;}
.align-right {text-align:right;}
.align-top {vertical-align:top;}

.bgbluegradient {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #009dcb, #004c73);
  background-image: -ms-linear-gradient(top, #009dcb, #004c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009dcb), to(#004c73));
  background-image: -webkit-linear-gradient(top, #009dcb, #004c73);
  background-image: -o-linear-gradient(top, #009dcb, #004c73);
  background-image: linear-gradient(top, #009dcb, #004c73);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009dcb', endColorstr='#004c73', GradientType=0);
}

.bggraygradient {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #cdcdcd, #9a9a9a);
  background-image: -ms-linear-gradient(top, #cdcdcd, #9a9a9a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cdcdcd), to(#9a9a9a));
  background-image: -webkit-linear-gradient(top, #cdcdcd, #9a9a9a);
  background-image: -o-linear-gradient(top, #cdcdcd, #9a9a9a);
  background-image: linear-gradient(top, #cdcdcd, #9a9a9a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcdcd', endColorstr='#9a9a9a', GradientType=0);
}

.bg005d8f { background-color:#005d8f; }
.bgblack { background-color: #000000; }
.bgblue { background-color: blue; }
.bgd3e8f2 { background-color: #d3e8f2; }
.bgebf3f7 { background-color: #ebf3f7; }
.bggreen { background-color: #00ff00; }
.bgred { background-color: #ff0000; }
.bgwhite { background-color: #ffffff; }



body { height:100%; }

.body2 {
  background-color: #ffffff;
  padding-top:40px;
}

.body1 {
  background-color: #d3e8f2;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
}

.bold { font-weight:bold; }

.border {border:1px solid black;}

.bottom_004c73 {
  border-bottom: 1px solid #004c73;
}

.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}

.box-white {
  padding: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}

.center {text-align:center;}

.container2 {
  margin-left:auto;
  margin-right:auto;
}

.crop100 { width: 100px; height: 100px; overflow: hidden; float:left;  }

.crop150X { width: 150px; height: 150px; overflow: hidden;  }

.crop150X imgX { 
  margin:0px 0px 0px -24px; 
}

.font10 { font-size:10px; }
.font11 { font-size:11px; }
.font12 { font-size:12px; }
.font14 { font-size:14px; }
.font16 { font-size:16px; }
.font18 { font-size:18px; }
.font24 { font-size:24px; }
.font28 { font-size:28px; }
.font36 { font-size:36px; }
.font48 { font-size:48px; }

.giftadd {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #222222;
  padding: 10px 0px 10px 0px;
}


.gradient1 {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #0da6d4, #009cca);
  background-image: -ms-linear-gradient(top, #0da6d4, #009cca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0da6d4), to(#009cca));
  background-image: -webkit-linear-gradient(top, #0da6d4, #009cca);
  background-image: -o-linear-gradient(top, #0da6d4, #009cca);
  background-image: linear-gradient(top, #0da6d4, #009cca);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0da6d4', endColorstr='#009cca', GradientType=0);
}

.gray { background-color:#ededed; }

.header {
  height: 125px;
  border-bottom:1px solid #dddddd;
  background-color:#eeeeee;
  background-image: url('../img/logo.gif');
  background-position:bottom right;
  background-repeat:no-repeat; 
}

.header-text {
  text-indent:5px;
  font-size:24px;
  font-family:Verdana;
  color:#006caa;
  padding-top:5px;
}

.h0 { height:0px; }
.h10 { height:10px; }
.h15 { height:15px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h35 { height:35px; }
.h40 { height:40px; }
.h50 { height:50px; }
.h60 { height:60px; }
.h100 { height:100px; }
.h200 { height:200px; }
.h225 { height:225px; }

.hand {cursor:pointer;}

.height95pc { height:95%; }

.height100pc { height:100%; }

.height101pc { height:101%; }

.hero-logo {
  background-image: url('../img/biglogo-bluebackgr.gif');
  background-position: 40% 40%;
  background-repeat:no-repeat; 
}

.hero-unit2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #77c9e2;
}
.hero-unit2 h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
  letter-spacing: -1px;
}
.hero-unit2 p {
  font-size: 26px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

.highlight:hover {
  background-color:#dddddd;
}

.highlight-box-white {
  min-height: 20px;
  padding: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}

.highlight-box-white:hover {
  min-height: 20px;
  padding: 3px;
  background-color: #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
}

html { height:100%; }



.inset {
  -webkit-box-shadow: inset 1px 1px 0 0 #333333;
	   -moz-box-shadow: inset 1px 1px 0 0 #333333;
	        box-shadow: inset 1px 1px 0 0 #333333;
}

.largefield { font-size: 24px; height:24px; }

.lastrow { 
  border-left: 1px solid #009dcb;
  border-right: 1px solid #009dcb;
  border-bottom: 1px solid #009dcb;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.list {
  border-left: 1px solid #009dcb;
  border-right: 1px solid #009dcb;
  border-bottom: 1px solid #009dcb;
  background-color:#ffffff;
}

.list:hover { background-color:#efefef; }

.list.selected:hover { background-color:#d3e8f2; }

.listfooter {
  border-left: 1px solid #009dcb;
  border-right: 1px solid #009dcb;
  border-bottom: 1px solid #009dcb;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-color:#dddddd;
}

.marg0 { margin:0; }

.marg5 { margin:5px; }

.marg_20 {
  margin:-20px;
}

.margbottom0 {
  margin-bottom:0px;
}

.margbottom2 { margin-bottom:2px; }

.margbottom5 {
  margin-bottom:5px;
}

.margbottom20 { margin-bottom:20px; }

.margbottom60 { margin-bottom:60px; }


.margleft_35 { margin-left:-35px; }
.margleft_20 { margin-left:-20px; }
.margleft_10 { margin-left:-10px; }
.margleft_5 { margin-left:-5px; }
.margleft0 { margin-left:0; }
.margleft5 { margin-left:5px; }
.margleft10 { margin-left:10px; }
.margleft20 { margin-left:20px; }
.margleft30 { margin-left:30px; }
.margleft35 { margin-left:35px; }
.margleft175 { margin-left:175px; }


.margright0 {  margin-right:0; }
.margright_5 {  margin-right:-5px; }
.margright50 {  margin-right:50px; }

.margtop_100 { margin-top:-100px; }
.margtop_40 { margin-top:-40px; }
.margtop_25 { margin-top:-25px; }
.margtop_20 { margin-top:-20px; }
.margtop_10 { margin-top:-10px; }
.margtop_9 { margin-top:-9px; }
.margtop_5 { margin-top:-5px; }
.margtop5 { margin-top:5px; }
.margtop10 { margin-top:10px; }
.margtop20 { margin-top:20px; }
.margtop30 { margin-top:30px; }
.margtop50 { margin-top:50px; }
.margtop100 { margin-top:100px; }

.minheight100 {min-height:100px;}

.minheight100pc {min-height:100%;}

.normal { font-weight:normal; }

.pad0 { padding:0; }

.pad2 { padding:2px; }

.pad3 { padding:3px; }

.pad5 { padding:5px; }

.pad10 { padding:10px; }

.pad30 { padding:30px; }

.pad50 { padding:50px; }

.padbottom0 {padding-bottom:0;}
.padbottom2 {padding-bottom:2px;}
.padbottom5 {padding-bottom:5px;}
.padbottom20 {padding-bottom:20px;}
.padbottom50 {padding-bottom:50px;}

.padleft0 { padding-left:0px; }
.padleft2 { padding-left:2px; }
.padleft5 { padding-left:5px; }
.padleft10 { padding-left:10px; }
.padleft15 { padding-left:15px; }
.padleft20 { padding-left:20px; }
.padleft30 { padding-left:30px; }
.padleft170 { padding-left:170px; }


.padright0 { padding-right:0px; }
.padright2 { padding-right:2px; }
.padright5 { padding-right:5px; }
.padright10 { padding-right:10px; }
.padright15 { padding-right:15px; }
.padright20 { padding-right:20px; }
.padright30 { padding-right:30px; }

.padtop_50 { padding-top:-50px; }
.padtop_20 { padding-top:-20px; }
.padtop0 { padding-top:0px; }
.padtop1 { padding-top:1px; }
.padtop2 { padding-top:2px; }
.padtop5 { padding-top:5px; }
.padtop10 { padding-top:10px; }
.padtop20 { padding-top:20px; }
.padtop30 { padding-top:30px; }
.padtop50 { padding-top:50px; }
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.roundedtop {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #009dcb;
  border-right: 1px solid #009dcb;
  border-left: 1px solid #009dcb;
}

.roundedbottom {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #009dcb;
  border-right: 1px solid #009dcb;
  border-left: 1px solid #009dcb;
}

.scroll {overflow-y:scroll}

.searchresults {
  position:fixed;
  background-color:#ededed;
  right: 200px;
  left: 500px;
  top: 50px;
  width: 250px;
}

.selected {background-color:#d3e8f2;}

.sideborders_009dcb { border-right: 1px solid #009dcb; border-left: 1px solid #009dcb }

.shadow {
  -webkit-box-shadow: 1px 1px 2px 1px #444444;
  -moz-box-shadow: 1px 1px 2px 1px #444444;
  box-shadow: 1px 1px 2px 1px #444444;
}

.span5px {width: 5px;}
.span50 {width: 50px;}
.span100 {width: 100px;}
.span150 {width: 150px;}
.span160 {width: 160px;}
.span190 {width: 190px;}

.spantiny {
  width: 15px;
}

.table {display:table; border-spacing:0px;}

.table_space5 { display:table; border-spacing:5px; }

.table700 {display:table; width:700px; background-color:#f0f5f7;}

.tablerow {display:table-row}

.tablecell {display:table-cell;}

.tablecell150 {display:table-cell;width:150px;}

.tablecell250 {display:table-cell;width:250px;}

.tablecell400 {display:table-cell;width:400px;}

.tablecell500 {display:table-cell;width:500px;}

.topside { border-top: 1px solid #009dcb; }

.transition0 {
	color:white;
}

.transition1 {
	color:green;
}

.transition2 {
    opacity:0;
	background:white;
	color:#007700;
	transition-property:opacity;
	transition-duration:1s;
	transition-timing-function:linear;
	transition-delay:1s;
	/* Firefox 4 */
	-moz-transition-property:opacity;
	-moz-transition-duration:1s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:1s;
	/* Safari and Chrome */
	-webkit-transition-property:opacity;
	-webkit-transition-duration:1s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:1s;
	/* Opera */
	-o-transition-property:opacity;
	-o-transition-duration:1s;
	-o-transition-timing-function:linear;
	-o-transition-delay:1s;
}

.txtblack {color:#000000;}

.txtgray {color:#787878;}

.well-tiny {
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.well1 {
  margin-left:0px;
  padding-left:0px;
}

.white { color:#ffffff; }

.w100pc { width:100%; }

.w20 { width:20px; }
.w30 { width:30px; }
.w40 { width:40px; }
.w45 { width:45px; }
.w50 { width:50px; }
.w60 { width:60px; }
.w75 { width:75px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w100 { width:100px; }
.w110 { width:110px; }
.w125 { width:125px; }
.w140 { width:140px; }
.w150 { width:150px; }
.w200 { width:200px; }
.w210 { width:210px; }
.w225 { width:225px; }
.w245 { width:245px; }
.w250 { width:250px; }
.w275 { width:275px; }
.w308 { width:308px; }
.w350 { width:350px; }
.w400 { width:400px; }
.w415 { width:415px; }
.w425 { width:425px; }
.w450 { width:450px; }
.w455 { width:455px; }
.w480 { width:480px; }
.w500 { width:500px; }
.w725 {width:725px;}
.w750 {width:750px;}
.w700 {width:700px;}
.w800 {width:800px;}