

<div class="table">
  <div class="tablerow">
    <div class="h30 bgbluegradient padleft5 padtop5 rounded">
      <img style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" height="{{user.profilepicadjustedheight}}" width="{{user.profilepicadjustedwidth}}" ng-src="{{user.profilepicUrl}}"/>
      <span class="font24 align-top white">{{user.fullname}}</span>
      <div class="font14 padleft170 margtop_100 h100 scroll">{{user.bio}}</div>
    </div>
  </div>
  
  
  <div class="tablerow">
    <div class="margtop100">
      <div ng-include src="'partials/giftlist.html'"></div>
    </div>
  </div>
</div>

