


<div class="row">
  <div class="span2 pad5 box bgwhite">

		<div class="row">
		  <div class="span1">
		  
		              <div style="width:50px; height:50px; overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
		                <div style="margin-top:{{user.profilepicmargintop50}};margin-left:{{user.profilepicmarginleft50}}">
		                   <img height="{{user.profilepicadjustedheight50}}" width="{{user.profilepicadjustedwidth50}}" ng-src="{{user.profilepicUrl}}"/>
		                </div>
		              </div>
					                      
		  </div>
		  <div class="span1 margleft_10">
		    <div class="row"><div class="span2"><b>{{user.fullname}}</b></div></div>
		    <div class="row"><div class="span2"><a ng-href="giftlist/{{user.id}}">My Wish List</a></div></div>
		    <div class="row"><div class="span2"><a ng-href="accountinfo">My Account</a></div></div>
		  </div>
		</div>


  </div>
</div>
