
<div ng-controller="MyAccountCtrl">



<div class="row">
  <div class="span6 box pad10 bgwhite">
  
    <div class="row">
      <a ng-href="{{currentlocation}}" ng-click="showpasswordsection = !showpasswordsection">
      <div class="span6">
        <span class="font16">Change Password</span>
        
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <!-- http://jsfiddle.net/maccman/E9cnL/ -->
            <span class="font16 bold"><span ng-class="cssPasswordSaved">Saved</span></span>
        
        
        <span class="pull-right">
          <span ng-hide="showpasswordsection">
            <i class="icon-chevron-down"/>
          </span>
          <span ng-show="showpasswordsection">
            <i class="icon-chevron-up"/>
          </span>
        </span>
      </div>
      </a>
    </div>
    
    
    <span ng-show="showpasswordsection">
    <form novalidate name="passwordForm" class="padtop10 margbottom0"> <!-- form contains 3 rows -->
    
      <div class="row">
        <div class="span4">
	        <input class="span3" maxlength="140" value="" type="password" name="password" ng-model="usercopy.password" placeholder="Current Password" title="Current Password" ng-change="validatePassword(passwordForm, usercopy.password)" required />
	        <span ng-show="passwordForm.password.$dirty">
	          <span ng-show="passwordForm.password.$error.required"><img src="img/red_x.png" id="passwordrequired" title="Enter current password"></span>
	        </span>
         
            <!-- http://jsfiddle.net/maccman/E9cnL/ -->
            <span class="font16 bold"><span ng-class="cssPersonalInfoSaved">Saved</span></span>
        </div>
      </div>
    
    
      <div class="row">
        <div class="span4">
		        <input class="span3" maxlength="140" value="" type="password" name="newpassword" ng-model="usercopy.newpassword" placeholder="New Password" title="New Password" required>
		        <span ng-show="passwordForm.newpassword.$dirty">
		          <span ng-show="passwordForm.newpassword.$error.required"><img src="img/red_x.png" id="newpasswordrequired" title="Enter new password"></span>
		        </span>
        </div>
      </div>
    
    
      <div class="row">
        <div class="span4">
		        <input class="span3" maxlength="140" value="" type="password" name="newpasswordAgain" ng-model="usercopy.newpasswordAgain" placeholder="New Password (Again)" title="New Password (Again)" required />
			    
	            <span ng-show="passwordForm.newpasswordAgain.$dirty">
	              <span ng-show="passwordForm.newpasswordAgain.$error.required">
	                <img src="img/red_x.png" id="invalidpasswordagain" title="Enter new password again">
	              </span>
	              <span ng-show="usercopy.newpasswordAgain != usercopy.newpassword && !passwordForm.newpasswordAgain.$error.required">
	                <img src="img/red_x.png" id="passwordsdontmatch" title="Passwords don't match">
	              </span>
	            </span> 
            
        </div>
      </div>
    
       
      
      <!-- 3rd row is the Save/Cancel button row -->
      <div class="row">
        <div class="span6">
              <span class="pull-right">
		        <div ng-show="passwordForm.$invalid || passwordForm.password.$invalid">
		          <a ng-disabled="true" class="btn span1 pull-right" id="invalidform" title="Not Ready Yet" data-content="The form isn't ready to submit yet.  You still have fields to fix and complete.">Save</a>
		          <button ng-click="resetPasswordForm(passwordForm)" class="btn span1 pull-right">Reset</button>
		        </div>    
		      
		        <div ng-hide="passwordForm.$invalid || passwordForm.password.$invalid">
		          <a class="btn btn-primary span1 pull-right" ng-href="{{currentlocation}}" ng-click="changePassword(usercopy);">Save</a>
		          <button ng-click="resetPasswordForm(passwordForm)" class="btn span1 pull-right">Reset</button>
		        </div>
		      </span>
        </div>
      </div>
      
            
    </form>
    </span>
    
    
  </div>
</div>



</div>