
<div ng-controller="MyAccountCtrl">



<div class="row">
  <div class="span6 box pad10 bgwhite">
    
    <form novalidate name="regForm" class="padtop10 margbottom0"> <!-- form contains 3 rows -->
    
      <div class="row">
        <div class="span4">
	        <input class="span3" maxlength="140" value="" type="text" name="fullname" ng-model="usercopy.fullname" placeholder="Name" title="Name" required />
	        <span ng-show="regForm.fullname.$dirty">
	          <span ng-show="regForm.fullname.$error.required"><img src="img/red_x.png" id="fullnamerequired" title="Name is required"></span>
	        </span>
		    <input class="input-small" maxlength="140" value="" type="hidden" name="id" ng-model="usercopy.id" />
         
            <!-- http://jsfiddle.net/maccman/E9cnL/ -->
            <span class="font16 bold"><span ng-class="cssPersonalInfoSaved">Saved</span></span>
        </div>
      </div>
    
    
      <div class="row">
        <div class="span4">
		        <input class="span3" maxlength="140" value="" name="email" type="email" ng-model="usercopy.email" placeholder="Email" title="Email" required>
		        <span ng-show="regForm.email.$dirty">
		          <span ng-show="regForm.email.$error.required"><img src="img/red_x.png" id="emailrequired" title="Email is required"></span>
		          <span ng-show="regForm.email.$error.email"><img src="img/red_x.png" id="emailinvalid" title="Email is invalid"></span>
		        </span>
        </div>
      </div>
    
    
      <div class="row">
        <div class="span4">
		        <input class="span3" maxlength="140" value="" name="username" type="text" ng-model="usercopy.username" ng-change="isUsernameUnique(usercopy, regForm)" placeholder="Username" title="Username" required />
			    <span ng-show="regForm.username.$dirty">
			      <span ng-show="regForm.username.$error.required">
			        <img src="img/red_x.png" id="invalidusername" title="Username is required">
			      </span>
	              <span ng-hide="regForm.username.$error.required"> <!-- without this outer ng-hide, we were getting both red x's after entering a taken username then blanking out the field -->
	                <span ng-show="regForm.username.$error.taken">
	                  <img src="img/red_x.png" id="invalidusername" title="Username is taken">
	                </span>
	              </span>
			    </span>
        </div>
      </div>
    
    
    
      <div class="row">
        <div class="span4">
		        <input class="span3" type="text" ng-model="usercopy.dateOfBirthStr" name="dateOfBirth" ng-pattern="/^(\d{1,2})/(\d{1,2})/(\d{4})$/" placeholder="Birthday (optional)" title="Birthday" />
		        <span ng-show="regForm.dateOfBirth.$dirty">
		          <span ng-show="regForm.dateOfBirth.$error.pattern">
		            <img src="img/red_x.png" id="invaliddobb" title="Enter Birthday as MM/dd/yyyy">
		          </span>
		        </span>
        </div>
      </div>
    
    
    
      <div class="row">
        <div class="span6">
		            <input class="span6" maxlength="1028" value="" type="url" ng-model="usercopy.profilepicUrl" name="profilepic" ng-validate="url" placeholder="Profile Pic" title="Profile Pic" />
		            <span ng-show="regForm.profilepic.$dirty">
		              <span ng-show="regForm.profilepic.$error.url">
		                <img src="img/red_x.png" id="invalidprofilepic" title="URL is invalid">
		              </span>
		            </span> 
        </div>
      </div>
             
             
      <div class="row">
        <div class="span6">
          <span class="font16">About Me, Stuff I like, etc</span>
        </div>
      </div>
             
             
      <div class="row">
        <div class="span6">
          <textarea class="span6" rows="10" ng-model="usercopy.bio" cols="80"></textarea>
        </div>
      </div>
    
      
      <!-- 3rd row is the Save/Cancel button row -->
      <div class="row">
        <div class="span6">
              <span class="pull-right">
		        <div ng-show="regForm.$invalid" >
		          <a ng-disabled="true" class="btn span1 pull-right" id="invalidform" title="Not Ready Yet" data-content="The form isn't ready to submit yet.  You still have fields to fix and complete.">Save</a>
		          <button ng-click="resetuser()" class="btn span1 pull-right">Reset</button>
		        </div>    
		      
		        <div ng-show="regForm.$valid" >
		          <a class="btn btn-primary span1 pull-right" ng-href="{{currentlocation}}" ng-click="savePersonalInfo(usercopy);">Save</a>
		          <button ng-click="resetuser()" class="btn span1 pull-right">Reset</button>
		        </div>
		      </span>
        </div>
      </div>
      
            
    </form>
    
    
  </div>
</div>



<div class="row">
  <div class="span2 offset4">
	  <div style="width:150px; height:150px; overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-top:-450px;">
	    <div style="margin-top:{{usercopy.profilepicmargintop}};margin-left:{{usercopy.profilepicmarginleft}}">
	        <img height="{{usercopy.profilepicadjustedheight}}" width="{{usercopy.profilepicadjustedwidth}}" ng-src="{{usercopy.profilepicUrl}}"/>
	    </div>
	  </div>
  </div>
</div>


</div>