<!--  
THERE ARE 2 MODAL DIALOGS ON THIS PAGE.  THE FIRST IS THE "ADD LITTLEBLUEBIRD FRIEND" MODAL
THE SECOND IS THE "ADD NEW USER" MODAL.  TRIED PUTTING THESE MODALS INTO SEPARATE PAGES AND ng-include-ing THEM
BUT THAT DIDN'T WORK - THE MODAL WOULD OPEN ONCE THEN NEVER AGAIN.  SO WE'RE STUCK WITH 2 BIG UGLY MODALS ALL IN THIS PAGE
-->

  <div ui-modal class="fade" ng-model="addLbbFriendModal">
	<div class="modal-header bgbluegradient">
	  <button class="close padtop5" data-dismiss="modal"><i class="icon-remove" data-dismiss="modal"></i></button>
	  <h3 class="white">Add LittleBlueBird Friends</h3>
	</div>
	<div class="modal-body txtblack">

      <div class="row">
		<div class="span3 padbottom5"><input search-users type="text" class="input-large search-query" ng-model="search" placeholder="Search by Name"></div>
	  </div>
		          
	  <span ng-show="usersearch=='loaded'">
        <div class="row"> <!-- header row -->
          <div class="span3 roundedtop bgbluegradient white pad5">
            LittleBlueBird Users...
          </div>
        </div> <!-- header row -->
		          
	    <span ng-show="noonefound">
		  <div class="row">
			<div class="span3 list pad5 lastrow">No one found <p><a ng-click="beginnewuser();">Create account for this person?</a></p></div>
	      </div>
		</span>
				          
	    <div ng-repeat="person in peoplesearchresults | filter:search">
			  <div class="row" ng-click="clicklbbuser($index, person, peoplesearchresults)">
				<div class="{{selectedOrNotStyle('span3 list pad5', $index, peoplesearchresults.length, person)}}">
				  <div class="row">
				    <div class="span1">

                      <div style="width:50px; height:50px; overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;">
                        <div style="margin-top:{{person.profilepicmargintop50}};margin-left:{{person.profilepicmarginleft50}}">
                           <img height="{{person.profilepicadjustedheight50}}" width="{{person.profilepicadjustedwidth50}}" ng-src="{{person.profilepicUrl}}"/>
                        </div>
                      </div>

				    </div>
				    <div class="span2 marg0 padtop5 font14">{{person.fullname}}</div>
				  
				  </div>
	            </div>
	          </div>
        </div>
				          
	  </span> <!-- "usersearch=='loaded'" -->
		          
		          
	</div>
	<div class="modal-footer">
	  <span ng-show="selectedfriends.length > 0">
	    <a class="btn btn-primary" ng-click="addLbbFriendModal=false;addselectedfriends();">Add {{selectedfriends.length}} Friend<span ng-show="selectedfriends.length > 1">s</span></a>
	  </span>
	  <span ng-show="selectedfriends.length == 0">
	    <a class="btn btn-primary disabled">Add Friends</a>
	  </span>
	  <a class="btn" ng-click="addLbbFriendModal=false;cancelselectedfriends()">Cancel</a>
	</div>
  </div>
  
  <!-- END MODAL:  Add LittleBlueBird Friend -->
  
  
  
  
  
  
  
  
  <form novalidate name="regForm" class="marg0">
  <div ui-modal class="fade" ng-model="addNewUserModal">
	<div class="modal-header bgbluegradient">
	  <button class="close padtop5" data-dismiss="modal" ng-click="addNewUserModal = false"><i class="icon-remove"></i></button>
	  <h3 class="white">Create A Friend</h3>
	</div>
	<div class="modal-body txtblack">
	  <!------------------------------------->
	  <!-- BEGIN: main row in the modal body
	  The modal body contains one main row and 2 cells.  The cell on the left contains the form to create the new person/friend.
	  The cell on the right tells the user what this form is for. -->
	  <!------------------------------------->
	  <div style="display:table;width:525px;">
	  <div style="display:table-row;width:525px;">
	    <!-- BEGIN: cell containing new user form -->
	    <div style="display:table-cell;width:300px;">
	      <div style="display:table;width:300px;">
	        <div style="display:table-row;width:300px;">
              <div style="display:table-cell;width:75px;">Name</div>
              <div style="display:table-cell;width:175px;">
                <input class="input-medium" maxlength="140" value="" type="text" name="fullname" ng-model="newuser.fullname" required />
              </div>
              <div style="display:table-cell;width:50px;">
                <span ng-show="regForm.fullname.$dirty">
                  <span ng-show="regForm.fullname.$error.required"><img src="img/red_x.png" id="fullnamerequired" title="Name is required"></span>
                </span>
              </div>
            </div>
	        <div style="display:table-row;width:300px;">
              <div style="display:table-cell;width:75px;">Email</div>
              <div style="display:table-cell;width:175px;">
                <input class="input-medium" maxlength="140" value="" name="email" type="email" ng-model="newuser.email" required>
              </div>
              <div style="display:table-cell;width:50px;">
                <span ng-show="regForm.email.$dirty">
                  <span ng-show="regForm.email.$error.required"><img src="img/red_x.png" id="emailrequired" title="Email is required"></span>
                  <span ng-show="regForm.email.$error.email"><img src="img/red_x.png" id="emailinvalid" title="Email is invalid"></span>
                </span>
              </div>
            </div>  
	        <div style="display:table-row;width:300px;">
              <div style="display:table-cell;width:75px;">Username</div>
              <div style="display:table-cell;width:175px;">
                <input class="input-medium" maxlength="140" value="" name="username" type="text" ng-model="newuser.username" ng-change="isUsernameUnique(newuser, regForm)" required />
              </div>
              <div style="display:table-cell;width:50px;">
                <span ng-show="regForm.username.$dirty">
                  <span ng-show="regForm.username.$error.required">
                    <img src="img/red_x.png" id="invalidusername" title="Username is required">
                  </span>
                  <span ng-hide="regForm.username.$error.required"> <!-- without this outer ng-hide, we were getting both red x's after entering a taken username then blanking out the field -->
                    <span ng-show="regForm.username.$error.taken">
                      <img src="img/red_x.png" id="invalidusername" title="Username is taken">
                    </span>
                  </span>
                </span>
              </div>
            </div>
	        <div style="display:table-row;width:300px;">
              <div style="display:table-cell;width:75px;">Password</div>
              <div style="display:table-cell;width:175px;">
                <input class="input-medium" ng-model="newuser.password" type="password" name="password" value="*******" required />
              </div>
              <div style="display:table-cell;width:50px;">
                <span ng-show="regForm.password.$dirty">
                  <span ng-show="regForm.password.$error.required">
                    <img src="img/red_x.png" id="invalidpass" title="Password is required">
                  </span>
                </span>
              </div>
            </div>
	        <div style="display:table-row;width:300px;">
              <div style="display:table-cell;width:75px;">Again</div>
              <div style="display:table-cell;width:175px;">
                <input class="input-medium" ng-model="newuser.passwordAgain" type="password" name="passwordAgain" value="*******" required />
              </div>
              <div style="display:table-cell;width:50px;">
                <span ng-show="regForm.passwordAgain.$dirty">
                  <span ng-show="regForm.passwordAgain.$error.required">
                    <img src="img/red_x.png" id="invalidpassagain" title="Enter password twice">
                  </span>
                  <span ng-show="newuser.passwordAgain != newuser.password && !regForm.passwordAgain.$error.required">
                    <img src="img/red_x.png" id="passwordsdontmatch" title="Passwords don't match">
                  </span>
                </span> 
              </div>
            </div>
          </div>
	    </div>
	    <!---------------------------------------->
	    <!-- END: cell containing new user form -->
	    <!---------------------------------------->
	    
	    <div style="display:table-cell;width:225px;vertical-align:top">
	      Use this form to create accounts for...
	      <ul>
	        <li>friends and family that aren't on Facebook</li>
	        <li>friends and family that don't have email (register with <i>your</i> email instead)</li>
	      </ul>
	    </div>
	  </div> <!-- end: display:table-row -->
	  </div> 
	  <!------------------------------------->
	  <!-- END: main row in the modal body -->
	  <!------------------------------------->
	</div>
	<div class="modal-footer">
            <span ng-show="regForm.$invalid || (newuser.passwordAgain != newuser.password && !regForm.passwordAgain.$error.required)" >
              <a ng-disabled="true" class="btn" id="invalidform" title="Not Ready Yet">Save</a>
            </span>    
          
            <span ng-hide="regForm.$invalid || (newuser.passwordAgain != newuser.password && !regForm.passwordAgain.$error.required)" >
              <a class="btn btn-primary" ng-click="addNewUserModal=false;savenewfriend(newuser)">SaveX</a>
            </span>
            
            <a class="btn" ng-click="addNewUserModal=false;">Cancel</a>
	</div>
  </div>
  </form>
  

          <div class="btn-group">
		    <a class="btn btn-mini dropdown-toggle font16 bold txtgray" data-toggle="dropdown">+</a> <!-- see dropdownToggle.js -->
		    <ul class="dropdown-menu">
		      <li><a ng-click="fbinviteasfriend()">Add Facebook Friends</a></li>
		      <li><a ng-click="addLbbFriendModal=true">Add LittleBlueBird Friends</a></li>
		      <li><a ng-click="addNewUserModal=true;createafriend()">Create A Friend</a></li>
		    </ul>
		  </div> 