
          
          
          <div class="row">
            <div class="span6">
              <div style="width:400px; height:125px;">
                <div style="width:120px; height:100px; display:table-cell">
                
                  <div style="width:100px; height:100px; overflow:hidden;">
                    <div style="margin-top:{{friend.profilepicmargintop100}};margin-left:{{friend.profilepicmarginleft100}}">
                      <a ng-click="friendwishlist(friend)" title="See {{friend.fullname}}'s wish list">
                        <img height="{{friend.profilepicadjustedheight100}}" width="{{friend.profilepicadjustedwidth100}}" ng-src="{{friend.profilepicUrl}}"/>
                      </a>
                    </div>
                  </div>
                
                </div>
                <div style="width:280px; height:100px;display:table-cell;vertical-align:top;font-size:16px;">
                  <a style="font-weight:bold;" href="#/giftlist/{{friend.id}}" ng-click="friendwishlist(friend)" title="See {{friend.fullname}}'s wish list">{{friend.fullname}}</a>
                  <P style="font-size:16px;">fasfadf <a title="{{friend.fullname}} has not accepted the app request yet">{{friend.appRequestStatus}}</a></P>
                </div>
              </div>
            </div>
          </div>