<!-- Displays all of your FB friends (that you aren't already friends with on LBB)
The purpose: To give the user a way of selecting which friends to send a message to (to tell them about LBB)

 -->
 
<div ng-controller="FriendCtrl">

  <span ng-show="user.facebookId != null && user.facebookId != ''">
  
  
		<div class="margbottom20" ng-show="user.peopleToInvite.length > 0">
		  <div class="row">
		    <div class="span3 rounded bgbluegradient pad5 font14 white">
		      Invite
		    </div>
		  </div>
		  
		  <div class="row">
		    <div class="span3 font14 bold">
		      Invite your Facebook friends to LittleBlueBird.  They'll thank you for it.
		    </div>
		  </div>
		 
		
		  <div class="row">
		    <div class="span2 offset1 align-right padbottom10">
		      <a class="btn btn-primary" ng-href="peopleToInvite">See More...</a>
		    </div>
		  </div>
		
		
		
		  <div class="row" ng-repeat="fb in user.peopleToInvite | limitTo: 3">
		    <a ng-href="{{currentlocation}}" ng-click="sendFacebookMessage(fb)">
		      <div class="{{styleRow('span3 pad5 list', $index, peopleToInvite.length, fb)}}">
				<div class="row">
				  <div class="span1"><img ng-src="{{fb.profilepicUrl}}" /></div>
				  <div class="span2">{{fb.fullname}}</div>
				</div>
		      </div>
		    </a>
		  </div>
		</div>
		
		
		
		<span ng-show="user.peopleToFollow.length > 0">
		  <div class="row">
		    <div class="span3 rounded bgbluegradient pad5 font14 white">
		      Look Who's Here...
		    </div>
		  </div>
		  
		  <div class="row"><div class="span3 font14 bold">Your Facebook friends who also use LittleBlueBird</div></div>
		
		  <div class="row" ng-repeat="fb in user.peopleToFollow">
		    <a ng-href="giftlist/{{fb.id}}">
		      <div class="{{styleRow('span3 pad5 list', $index, peopleToFollow.length, fb)}}">
				<div class="row">
				  <div class="span1">
				      <img ng-src="http://graph.facebook.com/{{fb.facebookId}}/picture?type=square"/>
				  </div>
				  <div class="span2">{{fb.fullname}}</div>
				</div>
		      </div>
		    </a>
		  </div>
		</span>
		
  </span>
  
  <span ng-hide="user.facebookId != null && user.facebookId != ''">
    
		  <div class="row">
		    <div class="span3 font14 bold">
		      Invite your Facebook friends to join LittleBlueBird.
		    </div>
		  </div>
		  <div class="row">
		    <div class="span3 font14 bold">
		      They'll thank you for it!
		    </div>
		  </div>
		  <div class="row">
		    <div class="span3 font14 bold">
		      <img ng-src="img/FacebookLoginButton.png" ng-click="registerWithFacebook()">
		    </div>
		  </div>
  </span>

</div>

