<!--  
THERE ARE 2 MODAL DIALOGS ON THIS PAGE.  THE FIRST IS THE "ADD LITTLEBLUEBIRD FRIEND" MODAL
THE SECOND IS THE "ADD NEW USER" MODAL.  TRIED PUTTING THESE MODALS INTO SEPARATE PAGES AND ng-include-ing THEM
BUT THAT DIDN'T WORK - THE MODAL WOULD OPEN ONCE THEN NEVER AGAIN.  SO WE'RE STUCK WITH 2 BIG UGLY MODALS ALL IN THIS PAGE
-->

  <div ui-modal class="fade" ng-model="addLbbFriendModal">
	<div class="modal-header bgbluegradient">
	  <button class="close padleft5 padright5 padtop5" data-dismiss="modal"><i class="icon-remove" data-dismiss="modal"></i></button>
	  <h3 class="white align-left">Add by Name/Email</h3>
	</div>
	<div class="modal-body txtblack align-left">

	  <div ng-include src="'partials/friends/search-to-add-friends.html'"></div>
		          
	  <div ng-show="addmethod=='emailnewuser'">
	    <div ng-include src="'partials/friends/invite-friend.html'"></div>
	  </div>   <!-- div ng-show="addmethod=='emailnewuser'" -->
	  
	  <span ng-show="usersearch=='loaded'"> <!-- 4/28/13 - not sure if we need this anymore -->
	  </span> <!-- "usersearch=='loaded'" -->
		          
		          
	</div>
	<div class="modal-footer">
	  <span ng-show="selectedfriends.length > 0">
	    <a class="btn btn-primary" ng-click="addLbbFriendModal=false;addselectedfriends();">Add {{selectedfriends.length}} Friend<span ng-show="selectedfriends.length > 1">s</span></a>
	  </span>
	  <span ng-show="selectedfriends.length == 0">
	    <a class="btn btn-primary disabled">Add Friends</a>
	  </span>
	  <a class="btn" ng-click="addLbbFriendModal=false;cancelselectedfriends()">Cancel</a>
	</div>
  </div>
  
  <!-- END MODAL:  Add LittleBlueBird Friend -->
  
  

          <div class="btn-group">
		    <a class="btn btn-mini btn-primary dropdown-toggle font14 white" data-toggle="dropdown">+</a> <!-- see dropdownToggle.js -->
		    <ul class="dropdown-menu font12 align-left">
		      <li><a ng-href="{{currentlocation}}" ng-click="addLbbFriendModal=true">Add by Name</a></li>
		    </ul>
		  </div> 