
<div ng-controller="FriendCtrl">
<div class="table w210">

<div class="tablerow w200"> <!-- header row -->
  <div class="tablecell w200 roundedtop bgbluegradient white pad5 font14 center">
    <span ng-show="friendeditmode=='true'">
      <span class="pull-left"><a class="btn btn-mini" ng-click="friendeditmode='false'">Done</a></span>
    </span>
    <span ng-hide="friendeditmode=='true'">
      <span class="pull-left"><a class="btn btn-mini btn-primary" ng-click="friendeditmode='true'">&nbsp;Edit&nbsp;&nbsp;</a></span>
    </span>
        Friends
        <div class="pull-right">
          <div ng-include src="'partials/friends/btn_addfriend.html'"></div>
	    </div>
    
  </div>
</div> <!-- header row -->



<div ng-repeat="friend in user.friends">
  <div class="tablerow w200">
    
      <a ng-href="giftlist/{{friend.id}}" ng-click="friendwishlist(friend)" title="See {{friend.fullname}}'s wish list">
        <div class="{{isLastRow('tablecell w200 list pad5 overflow-hidden', $index, user.friends.length)}}">
          <div class="w200" ng-include src="'partials/friends/friend.html'"></div>
        </div>
      </a>
    
  </div>
</div>

<span ng-show="user.friends.length==0">
  <div class="tablerow">
    <div class="tablecell w200 roundedbottom bgwhite pad5">
	  <P>You don't have any friends in LittleBlueBird yet.</P>
	  <P>Add your friends and family to see their wish lists without having to create an event.</P>
    </div>
  </div>
</span>


</div>
</div>