
<div ng-controller="FriendCtrl">

  <div class="row">
	  <div class="span2 pad5 roundedtop bgbluegradient white font14 center">
	    <span ng-show="friendeditmode=='true'">
	      <span class="pull-left"><a class="btn btn-mini" ng-click="friendeditmode='false'">Done</a></span>
	    </span>
	    <span ng-hide="friendeditmode=='true'">
	      <span class="pull-left"><a class="btn btn-mini btn-primary" ng-click="friendeditmode='true'">&nbsp;Edit&nbsp;&nbsp;</a></span>
	    </span>
	        Friends
	        <div class="pull-right">
	          <div ng-include src="'partials/friends/btn_addfriend.html'"></div>
		    </div>
	    
	  </div>
  </div>
  
  <div class="row" ng-repeat="friend in user.friends">

      <a ng-href="giftlist/{{friend.id}}" ng-click="friendwishlist(friend)" title="See {{friend.fullname}}'s wish list">
        <div class="{{isLastRow('span2 pad5 list2 overflow-hidden', $index, user.friends.length)}}">
          <div ng-include src="'partials/friends/friend.html'"></div>
        </div>
      </a>
      
  </div>
  
  
  <span ng-show="user.friends.length==0">
  <div class="row">
	    <div class="span2 list roundedbottom bgwhite pad5">
		  <P>You don't have any friends in LittleBlueBird yet.</P>
		  <P>Add your friends and family to see their wish lists without having to create an event.</P>
	    </div>
  </div>
  </span>

</div>