
<div class="row"><div class="span10 bgbluegradient white font24 pad10 rounded">Invite Friends</div></div>

<div class="row"><div class="span10 font18 padtop20 padbottom20">Invite your friends to join LittleBlueBird.  They will thank you for it!</div></div>

<ul class="thumbnails">
  <li class="span2" ng-repeat="person in user.peopleToInvite">
    <div class="thumbnail bgwhite">
      <img ng-src="http://graph.facebook.com/{{person.facebookId}}/picture?type=normal" alt=""/>
      <h4>{{person.fullname}}</h4>
      <a class="btn btn-primary" ng-href="{{currentlocation}}" ng-click="sendFacebookMessage(person)">Invite</a>
    </div>
  </li>
</ul>