


<div class="row">
  <div class="span6 bgbluegradient font16 white rounded pad10">Friends</div>
</div>



<div class="row">
  <div class="span3">
    <img src="img/user_group-128.png"/></P>
  </div>
  <div class="span3">
    <img src="img/gift-blue-128.png"/></P>
  </div>
</div>

<div class="row">
  <div class="span3 font16">
    Add your friends and family to LittleBlueBird.
    <P class="font16">You can invite them through Facebook</P>
    <P class="font16">You can invite them via email</P>
    <P class="font16">You can even create their accounts for them - great for families with children that aren't on Facebook or don't have email</P>
  </div>
  <div class="span3 font16">
    See what's on everyone's wish list without having to create an Event.  The Friends feature is perfect when you need to give a gift for no reason.
  </div>
</div>

