
<div class="row">


  <!-- iPhone half of the page -->
  <div class="span6">
    <div class="row">
      <div class="span6">
        <h2>iPhone People</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <ul>
          <li><h2>Get your phone's UDID and email it to <a href="mailto:info@littlebluebird.com">info@littlebluebird.com</a></h2></li>
          
          <!-- LESSON LEARNED: notice the target="_self" That's how you keep angular from rerouting what should be a normal download -->
          <li><h2>Download/Install this file on your phone: <a href="http://www.littlebluebird.com/gf/download/AdHoc_Profile.mobileprovision" target="_self">Mobile Provisioning File</a></h2></li>
          <li><h2>Download/Install the app on your phone: <a href="http://www.littlebluebird.com/gf/download/LittleBlueBird.ipa" target="_self">LittleBlueBird</a></h2></li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
  <!-- Android half of the page -->
  <div class="span6">
    <div class="row">
      <div class="span6">
        <h2>Android People</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <ul>
          <li><h2>Download/Install the app on your phone: <a ng-href="https://build.phonegap.com/apps/504068/download/android">LittleBlueBird</a></h2></li>
        </ul>
        
      </div>
    </div>
  </div>

  
</div>


