 <span ng-controller="CarouselCtrl"> 
					    <div id="myCarousel" class="carousel slide margtop20">
						    <!-- Carousel items -->
						    <div class="carousel-inner">
							    <div class="active item padleft10">
							            <img ng-src="img/carousel/screen1.png" />
							    </div>
							    <div class="item padleft10">
							            <img ng-src="img/carousel/screen2.png" />
							    </div>
							    <div class="item padleft10">
							            <img ng-src="img/carousel/screen3.png" />
							    </div>
							    <div class="item padleft10">
							            <img ng-src="img/carousel/screen4.png" />
							    </div>
						    </div>
						    <!-- Carousel nav -->
						    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					    </div>
					    
</span>