<!-- 3/1/13  This page replaces login.html, which had a login with facebook button on it.
Instead, this page has JUST the username/password fields needed to login to LBB -->


<div ng-controller="LoginCtrl"> 
	  <form novalidate class="pad0">
	    <div class="row">
	      <div class="span2 padleft30">
		    <input class="span2" type="email" title="Email" placeholder="Email" ng-model="email"  class="span2 font16"/>
	      </div>
        </div>
	    <div class="row">
	      <div class="span1">
	        <a class="btn btn-primary span1 padleft0 padright0" ng-href="home" ng-click="emailIt(email)">Email It!</a> 
	      </div>
	      <div class="span1">
	        <a class="btn span1 padleft0 padright0" ng-href="home">Cancel</a>  
	      </div>
        </div>
	  </form>
</div>