      
<!-- 2013-05-29:  PROBLEMS WITH HTML5 URL'S AND FACEBOOK API WHEN USING IE9.
I created this page because I didn't think IE 9 and below could handle HTML5-type
url's.  The jury is still out on that but I also had problems getting IE9 to  -->
      
      <div class="hero-unit2 height100pc">
        <div class="container padtop30">
              <div class="row">
                <div class="span9 padtop10 padbottom5 white">
                  <P><span style="font-size:48px;">LittleBlueBird</P>
                  <P><span style="font-size:22px;">LittleBlueBird does not work with Internet Explorer.  IE does not conform to the latest
                  web standards.  LittleBlueBird should work fine with all other browsers.  If you would like to download FireFox or Chrome, links are provided below.</P>
		        </div>
		        <div class="span3"><img src="img/biglogo-bluebackgr.gif"/></div>
	          </div>
              <div class="row">
                <div class="offset3 span3 font24">               
                  <a href="http://www.mozilla.org/firefox/" target="browser">Download Firefox
                  <P><img src="img/firefox.png"/></P></a>
	            </div>
		        <div class="span3 font24">
		          <a href="http://www.google.com/chrome/" target="browser">Download Chrome
                  <P><img src="img/chrome.png"/></P></a>
		        </div>
		        <div class="span2">
	          </div>
	          
	    </div>
	  </div> <!-- end hero-unit -->