
              <div class="row">
                <div class="span8 padtop10 padbottom5 white">
                  <P><span style="font-size:48px;">Marketing</span></P>
		        </div>
	          </div>
              <div class="row">
                <div class="span8 padtop10 padbottom5 white">
                  <h2>What is LittleBlueBird?</h2>
                  <P style="font-size:18px;">LittleBlueBird is your online wish list for any occasion</P>
                  <h2>What makes LittleBlueBird different?</h2>
                  <P style="font-size:18px;">LittleBlueBird's golden rule is "Don't spoil the surprise!"  
                      No other site goes to the same lengths we do to make sure you don't find out what you're getting.
                  </P>
                  <P style="font-size:18px;">LittleBlueBird also makes it easy to find the wish lists of your friends and family. You don't have to enter someone's email address 
                      to look up their wish list
                  </P>
                  <h2>Why should I use LittleBlueBird?</h2>
                  <P style="font-size:18px;">Because LittleBlueBird takes all the hassle out of giving gifts.  LittleBlueBird coordinates the entire gift-giving process.  
                  Is there one person in your family that everyone calls to find out what everyone wants?  Forget that!  LittleBlueBird handles that for you.  
                  Stop bugging Mom to find out what your sister wants. 
                  Go to LittleBlueBird and find out for yourself.</P>
                  <h2>How do I get started?</h2>
                  <P style="font-size:18px;">Go to <a href="http://www.littlebluebird.com">www.LittleBlueBird.com</a> and register. Or if you don't want another username and 
                      password to remember, login via Facebook
                  </P>
                  <P style="font-size:16px;">Questions? Shoot us an email at <a href="mailto:info@littlebluebird.com">info@littlebluebird.com</a></P>
		        </div>
		        <div class="span3"><img src="img/biglogo-bluebackgr.gif"/></div>
	          </div>