
	  <div ng-controller="MobileBannerCtrl" style="background-color:#5ab0ca">
        <div class="container pad20 font32 white"> 
          <div class="row">
            <div class="span6">
              <div class="row"><div class="span6">NOW in new Mobile Flavor !</div></div>
              <div class="row"><div class="span6 font20 padtop10">(and still 0 calories)</div></div>
              <div class="row"><div class="span6 font20 padtop10"><a style="color:#ffff00;" ng-href="{{currentlocation}}" ng-click="mobiletestdrive()">Test Drive the Mobile App in Your Browser</a></div></div>
            </div>
            <div class="span3"><a href="https://itunes.apple.com/us/app/littlebluebird/id723275884?mt=8" target="buyappstore"><img border="0" src="img/appstore.png"/></a></div>
            <div class="span3"><a href="https://play.google.com/store/apps/details?id=com.littlebluebird.LittleBlueBird" target="buygoogle"><img border="0" src="img/googleplay.png"/></a></div>
          </div>
	    </div>
	  </div>