<div ng-controller="UserCtrl">
<div ng-controller="NavCtrl">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" ng-href="home">LittleBlueBird</a>
      <ul class="nav">
        <li ng-class="navstate('classE')">
          <a href="welcome" ng-click="activenav='classE'">Getting Started</a>
        </li>
        <li ng-class="navstate('classF')">
          <a href="events" ng-click="activenav='classF'">Events</a>
        </li>
      </ul>
      
      <ul class="nav pull-right">
        <li>
          <div class="fb-like margtop10" data-href="http://www.littlebluebird.com" data-send="false" data-width="25" data-show-faces="false" data-font="arial"></div>
        </li>
        <li>


  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">{{user.fullname}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="font12" ng-href="accountinfo">My Account</a></li>
        <li class="divider"></li>
        <li><a class="font12" ng-href="home" ng-click="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>




        </li>
        <li><img ng-src="img/logo.gif"/></li>
      </ul>
    </div>
  </div>
</div>


</div>
</div>