<div ng-controller="UserCtrl">
<div ng-controller="NavCtrl">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" ng-click="loginpage();">LittleBlueBird</a>
      <ul class="nav">
        <li ng-class="navstate('classA')">
          <a href="events" ng-click="activenav='classA'">Events</a>
        </li>
        <li ng-class="navstate('classB')">
          <a href="friends" ng-click="activenav='classB'">Friends</a>
        </li>
        <li ng-class="navstate('classC')">
          <a href="me" ng-click="activenav='classC'">Me</a>
        </li>
        <li ng-class="navstate('classD')">
          <a href="mailto:info@littlebluebird.com">Contact Us</a>
        </li>
      </ul>
      
      <ul class="nav pull-right">
        <li>
          <div class="fb-like margtop10" data-href="http://www.littlebluebird.com" data-send="false" data-width="25" data-show-faces="false" data-font="arial"></div>
        </li>
        <li>


  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">{{user.fullname}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="font12" ng-click="fblogout()">Logout</a></li>
      </ul>
    </li>
  </ul>




        </li>
        <li><img ng-src="img/logo.gif"/></li>
      </ul>
    </div>
  </div>
</div>


</div>
</div>