<div ng-controller="UserCtrl">
<div ng-controller="NavCtrl">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" ng-href="home">LittleBlueBird</a>
      <ul class="nav">
        <li ng-class="navstate('classC')">
          <a href="privacy" ng-click="activenav='classC'">Privacy</a>
        </li>
        <li ng-class="navstate('classD')">
          <a href="support" ng-click="activenav='classD'">Contact Us</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li><img ng-src="img/logo.gif"/></li>
      </ul>
    </div>
  </div>
</div>

        


</div>
</div>