

<!-- don't think I need UserCtrl here anymore 2013-10-02 -->
<div ng-controller="UserCtrl">

<div ng-controller="NavCtrl">
<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">
    <div class="container">
    
      <a class="brand" ng-href="home">LittleBlueBird</a>
      <ul class="nav">
        <li ng-class="navstate('classC')">
          <a href="privacy" ng-click="activenav='classC'">Privacy</a>
        </li>
        <li ng-class="navstate('classD')">
          <a href="support" ng-click="activenav='classD'">Contact Us</a>
        </li>
      </ul>
      
      <span ng-controller="PingCtrl" ng-show="ping!=''" class="brand bgblack" ng-cloak>
          {{ping}}
          <a ng-href="{{currentlocation}}" ng-click="stopTimer(timerId)">stop {{timerId}}</a>
          <a ng-href="{{currentlocation}}" ng-click="startTimer()">start</a>
      </span>
      
      <ul class="nav pull-right">
        <li><img ng-src="img/logo.gif"/></li>
      </ul>
    </div>
  </div>
</div>

        


</div>
</div>
















