
              <div class="row">
                <div class="span8 padtop10 padbottom5 white">
                  <P><span style="font-size:48px;">LittleBlueBird Privacy Policy</span></P>
		        </div>
	          </div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">What personal information do we require?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">We only require you to enter your name, gender, and email address.</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Why do we need to know your name?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">If you're that paranoid, enter a fake name.</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Why do we need to know your gender?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">So we can display a gender-appropriate silhouette for people who don't provide profile pics. Also, so we don't have to litter our site with his/her's, he/she's and Mr/Ms's ;)</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Why do I have to enter my email address?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">So you can recover your password if you forget it.  LittleBlueBird will also send you email notifications about gift-giving events that you are participating in.</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Can I turn these notification off completely?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">Yes, from the "My Account" page, see the "Email Preferences" section.</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Do I have to authenticate my email address?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">No</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Who does LittleBlueBird share my personal information with?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">No one</div></div>
              
              <div class="row"><div class="span8 padtop10 padbottom5 font16 bold">Really?</div></div>
              <div class="row"><div class="span8 padtop10 padbottom5 font16 offset1">Really</div></div>
              
              <div class="row"><div class="span8 offset3 padtop10 padbottom5 font16">Questions? Shoot us an email at <a href="mailto:info@littlebluebird.com">info@littlebluebird.com</a></div></div>
              