
              <div class="row">
                <div class="span8 padtop10 padbottom5 white">
                  <P><span style="font-size:48px;">LittleBlueBird Privacy Policy</span></P>
		        </div>
	          </div>
              <div class="row">
                <div class="span8 padtop10 padbottom5 white">
                  <P style="font-size:16px;">Q: What personal information do we require?</P>
                  <P style="font-size:16px;">A: We only require you to enter your name, gender, and email address.</P>
                  <P style="font-size:16px;">Q: Why do we need to know your name?</P>
                  <P style="font-size:16px;">A: If you're that paranoid, enter a fake name.</P>
                  <P style="font-size:16px;">Q: Why do we need to know your gender?</P>
                  <P style="font-size:16px;">A: So we can display a gender-appropriate silhouette for people who don't provide profile pics. Also, so we don't have to litter our site with his/her's, he/she's and Mr/Ms's ;)</P>
                  <P style="font-size:16px;">Q: Why do I have to enter my email address?</P>
                  <P style="font-size:16px;">A: So you can recover your password if you forget it.  LittleBlueBird will also send you email notifications about gift-giving events that you are participating in.</P>
                  <P style="font-size:16px;">Q: Can I turn these notification off completely?</P>
                  <P style="font-size:16px;">A: Yes, from the "My Account" page, see the "Email Preferences" section.</P>
                  <P style="font-size:16px;">Q: Do I have to authenticate my email address?</P>
                  <P style="font-size:16px;">A: No</P>
                  <P style="font-size:16px;">Q: Who does LittleBlueBird share my personal information with?</P>
                  <P style="font-size:16px;">A: No one</P>
                  <P style="font-size:16px;">Q: Really?</P>
                  <P style="font-size:16px;">A: Really</P>
                  <P style="font-size:16px;">Questions? Shoot us an email at <a href="mailto:info@littlebluebird.com">info@littlebluebird.com</a></P>
		        </div>
		        <div class="span3"><img src="img/biglogo-bluebackgr.gif"/></div>
	          </div>