

<div id="about" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>About</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	    <!-- Say what version you're running -->
	    You are running version {{version}} of LittleBlueBird
	    
	    <!-- If not the most current version, say what the current version is -->
	    <span ng-show="needupdate">
		    <P>LittleBlueBird version {{currentversion}} is now available</P>
		    <P>Download the latest version now.  It's free.  (And all the cool kids are doing it) </P>
		    
	        <!-- link to download the current version.  Ideally, figure out which link to display: App Store or Google Play -->
	    </span>
	    
	  
	</div><!-- /content -->


	