

<div id="addbysearching" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Invite</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
      <div jquery-mobile-tpl>
	    <ul id="pfview" data-role="listview" data-filter="true" data-filter-reveal="true" data-filter-placeholder="Search and invite friends..." data-inset="true" repeat-done="" ng-cloak>
	      <li ng-repeat="friend in user.friends">
	        <a href="#participants" ng-click="addparticipant(friend, circle, 'Receiver')" data-transition="slide">
	          {{friend.fullname}}
	        </a>
	      </li>
	    </ul>
	  </div>
	  
	</div><!-- /content -->


	