
<div id="addevent" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Add Event</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  Choose Event Type
	
      <ul data-role="listview" data-inset="true" class="ui-icon-alt">
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Christmas', -1)">Christmas</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Birthday', 1)">Birthday</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Anniversary', 2)">Anniversary</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Mothers Day', 1)">Mothers Day</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Fathers Day', 1)">Fathers Day</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Valentines Day', 1)">Valentines Day</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Graduation', 1)">Graduation</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Baby Shower', 1)">Baby Shower</a></li>
        <li><a ng-href="#setnameanddate" data-transition="slide" ng-click="initNewEvent('Other', -1)">Other</a></li>
      </ul>
	  
	</div><!-- /content -->

