

<div id="addfromthisevent" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Add</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  Add people from this event
	  
      <div jquery-mobile-tpl>
	    <ul id="addfromthiseventview" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="">
	      <li ng-repeat="p in chosencircle.participants.receivers" ng-cloak>
	          <!-- checkbox list of people -->
			  <input name="addthisparticipant-{{p.id}}" id="addthisparticipant-{{p.id}}" type="checkbox" ng-click="prepareAddParticipant(p)">
			  <label for="addthisparticipant-{{p.id}}">{{p.fullname}}</label>
	      </li>
	      <li ng-repeat="p in chosencircle.participants.givers" ng-cloak>
	          <!-- checkbox list of people -->
			  <input name="addthisparticipant-{{p.id}}" id="addthisparticipant-{{p.id}}" type="checkbox" ng-click="prepareAddParticipant(p)">
			  <label for="addthisparticipant-{{p.id}}">{{p.fullname}}</label>
	      </li>
	    </ul>
	  </div>
	 
	  <div><a ng-href="#" data-role="button" ng-click="selectAll(chosencircle)">{{selectAllButton}}</a></div>
		
	  <div ng-hide="participationLevel=='Receiver' && circle.receiverLimit != -1 && (participantstoadd.length > circle.receiverLimit)"> 
		  <div ng-show="participantstoadd.length==0">
		      <button disabled="">Add People</button>
		  </div>
		    
		  <div ng-show="participantstoadd.length > 0">
		      <a data-role="button" ng-href="#participants" ng-click="addParticipants(participantstoadd, circle, participationLevel)">Add
		        <span ng-show="participantstoadd.length > 1"> {{participantstoadd.length}} People</span>
		        <span ng-show="participantstoadd.length == 1"> 1 Person</span>
		      </a>
		  </div>
	  </div>
	  
	  <div ng-show="participationLevel=='Receiver' && circle.receiverLimit != -1 && (participantstoadd.length > circle.receiverLimit)"> 
	    This event only allows {{circle.receiverLimit}} Honoree<span ng-show="circle.receiverLimit > 1">s</span>
	    <P>
	      You need to uncheck {{participantstoadd.length - circle.receiverLimit}} 
	      <span ng-show="participantstoadd.length - circle.receiverLimit == 1">person</span>
	      <span ng-show="participantstoadd.length - circle.receiverLimit > 1">people</span>
	    </P>
	  </div>
	  
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-left" data-iconpos="notext">Menu</a>	
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-right">Scan</a>
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a" data-position-fixed="true">
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li data-theme="a">My Account</li>
	        <li><a href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li><a href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li><a href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li><a href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
		
		    <span ng-show="testing">
		    <li><a href="#test">test</a></li>
		    </span>
		    
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li data-theme="a">Share LittleBlueBird</li>
	        <li><a href="#" ng-click="shareAppViaTimeline()" data-mini="true">Facebook</a></li>
	        <li><a href="#sharelittlebluebirdoveremail" data-mini="true">Email</a></li>
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li data-theme="a">Help</li>
	        <li><a href="#contactus" data-mini="true">Contact Us</a></li>
	        <li><a href="#about" data-mini="true">About</a></li>
        </ul>
    </div><!-- /panel -->


</div>