

<div id="addToSomeoneElsesList" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Gift</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  Is this gift for more than one person?
	  
	  <span ng-show="user.friends.length > 0">
	    <div class="ui-grid-a" style="margin-top:50px;">
	      <div class="ui-block-a"><a ng-href="#selectOneRecipient" data-theme="c" data-role="button">No</a></div>
	      <div class="ui-block-b"><a ng-href="#selectMultipleRecipients" data-theme="b" data-role="button">Yes</a></div>
	    </div>
	  </span>
	  
	  <span ng-hide="user.friends.length > 0">
	    <div class="ui-grid-a" style="margin-top:50px;">
	      <div class="ui-block-a"><a ng-href="#selectOneRecipientByEmail" data-theme="c" data-role="button">No</a></div>
	      <div class="ui-block-b"><a ng-href="#selectMultipleRecipients" data-theme="b" data-role="button">Yes</a></div>
	    </div>
	  </span>
	  
	</div><!-- /content -->


	