
<div id="confirmdeleteparticipant" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Confirm Delete</h1>
	</div><!-- /header -->

	<div data-role="content">
	      
      <ul data-role="listview">
        <li>
	      <p><h4>{{circle.name}}</h4></p>
          <p>{{circle.date | date:'MMM d, yyyy'}}</p>
        </li>
      </ul>
	  	  
	  <P>&nbsp;</P>	  
	  Delete {{participant.fullname}} from this event?
	  <P>&nbsp;</P>	
	  
	  <div class="ui-grid-a">
	    <div class="ui-block-a"><a data-role="button" ng-href="#participants">Cancel</a></div>
	    <div class="ui-block-b"><a data-role="button" ng-href="#participants" ng-click="removeparticipant(index, participant, circle, participationLevel)">Delete</a></div>	   
      </div>
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-left">Scan</a>
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>