

<div id="deletereceivers" data-role="page" data-add-back-btn="true">


	<div data-role="header" data-theme="b">
		<h1>Remove</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	    <fieldset data-role="controlgroup">
	        <legend>Remove from this event</legend>
	      
	      
		    <div jquery-mobile-tpl>
			    <ul id="participantsToDelete" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="" ng-cloak>
			      <li ng-repeat="r in participants" style="padding:0px;border:0px;">
			        <input name="deleteparticipant-{{r.id}}" id="deleteparticipant-{{r.id}}" type="checkbox" ng-click="prepareDeleteParticipant(r)">
			        <label for="deleteparticipant-{{r.id}}">{{r.fullname}}</label>
			      </li>
			    </ul>
			</div>
	      
	        
	    </fieldset>
	    
	    <div ng-show="participantstodelete.length==0">
	      <button disabled="">Remove People</button>
	    </div>
	    
	    <div ng-show="participantstodelete.length > 0">
	      <a data-role="button" ng-href="#participants" ng-click="removeParticipants(participantstodelete, circle)">Remove
	        <span ng-show="participantstodelete.length > 1"> {{participantstodelete.length}} People</span>
	        <span ng-show="participantstodelete.length == 1"> 1 Person</span>
	      </a>
	    </div>
	  	  
	  
	</div><!-- /content -->


	