

<div id="editparticipants" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Invite</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  <P>Invite people to this event</P>
	  
	  <span ng-show="user.friends.length > 0">
	  <a ng-href="#addbysearching" data-role="button" data-icon="arrow-r" data-iconpos="right">Search</a>
	  </span>
	  
	  <!-- Should be able to invite by email any time.  But if you have friends or circles, then we are going to show you a button to get there.
	  If you don't have any friends or circles, then we will just show you that form here on this page 2013-08-08 -->
	  <span ng-show="user.friends.length > 0 || user.circles.length > 0">
	  <a ng-href="#invitebyemail" data-role="button" data-icon="arrow-r" data-iconpos="right">Invite By Email</a>
	  </span>
	  
	  <span ng-show="user.circles.length > 0">
	  <a ng-href="#addfromanotherevent" data-role="button" data-icon="arrow-r" data-iconpos="right">Invite From Another Event</a>
	  </span>
	  	  	  
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <!-- li>Notifications</li -->
	        <li data-icon="false"><a href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>