
<div id="editrecipients" data-role="page">

	<div data-role="header" data-theme="b">
	  <h4>Choose</h4>
	</div><!-- /header -->

	<div data-role="content">
    		<div style="margin-top:40px;">
		      <a ng-href="#selectOneRecipient" data-role="button" ng-click="beginAddingRecipients(currentgift)" data-theme="b">Add Recipients</a>
		    </div>
    		<div>
		      <a ng-href="#beginDeletingRecipients" data-role="button" ng-click="prepareDeleteRecipients()" data-theme="b">Delete Recipients</a>
		    </div>
	</div><!-- /content -->
</div>