

<div id="editparticipants" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Invite</h1>
	</div><!-- /header -->

	<div data-role="content">
	  
	  <P>Invite people to this event</P>
	  
	  <span ng-show="user.friends.length > 0">
	      <a ng-href="#addbysearching" data-role="button" data-icon="arrow-r" data-iconpos="right">Search</a>
	  </span>
	  

	  <a ng-href="#invitebyemail" data-role="button" data-icon="arrow-r" data-iconpos="right">Invite By Email</a>

	  
	  <span ng-show="user.circles.length > 1">
          <a ng-href="#addfromanotherevent" ng-click="refreshOtherEventsList()" data-role="button" data-icon="arrow-r" data-iconpos="right">Invite From Another Event</a>
	  </span>
	  	  	  
	  
	</div><!-- /content -->


	