
<div id="gift" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Gift</h1>
	</div><!-- /header -->

	<div data-role="content">
	 <P><b>Gift: </b>{{currentgift.description}}</P>
	 
	 <P><b>Recipient(s): </b><span ng-repeat="r in currentgift.recipients">{{r.fullname}}</span></P>
	 
	 
	 <div ng-show="circle!=null">
	   <P><b>Event: </b> {{circle.name}} {{circle.date | date:'EEE MMM d, yyyy'}}</P>
	 </div>
	
	<P>
	  <span ng-show="currentgift.canedit">
	    <a href="#edititem" data-theme="b" data-role="button">Edit</a>
	  </span>
	  <span ng-show="currentgift.candelete">
	    <a href="#wishlist" ng-click="deletegift(currentgift)" data-theme="c" data-role="button">Delete</a>
	  </span>
	</P>
	
	</div><!-- /content -->