
<div id="gift" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Gift</h1>
	</div><!-- /header -->

	<div data-role="content">
	
	  
	 <span ng-show="circle!=null">
	   <ul data-role="listview">
	     <li data-icon="arrow-l">
	       <a ng-href="#wishlist">
	         <p><h4>{{circle.name}}</h4></p>
	         <p>{{circle.date | date:'MMM d, yyyy'}}</p>
	       </a>
	     </li>
	   </ul>
	 </span>
	  


	      <div style="margin-top:30px;"><h4>{{currentgift.description}}</h4></div>
          <p>To: <span ng-repeat="r in currentgift.recipients">{{r.fullname}}</span></p>
          
	      
          <P>
            <span ng-show="currentgift.canseestatus && currentgift.isbought">
              Bought by: {{currentgift.sender_name}}
            </span>
            <span ng-show="currentgift.canseestatus && !currentgift.isbought">
              Bought by: (still available)
            </span>
          </P>
		  
          <span ng-show="currentgift.issurprise">
            <P><strong>Shhhhh! Don't say anything to {{showUser.first}} about this</strong></P>
            <P>{{currentgift.addedByName}} added it as a surprise!</P>
          </span>
          
          
          
	      <span ng-show="currentgift.affiliateUrl != ''">
	        <P>
	          <a ng-href="#" ng-click="viewonline(currentgift, $event)" data-theme="b" data-role="button" target="item">
	            View Online
	          </a>
	        </P>
	      </span>
          
          
          
		  
		  <span ng-hide="reserving">    
			  <span ng-show="currentgift.canbuy">
			    <P><a href="#" ng-click="beginreserving(currentgift)" data-theme="b" data-role="button">Give This</a></P>
			  </span>
			  <span ng-show="currentgift.canreturn">
			    <P>Changed your mind?  No biggie.  Just click "Return" to make this gift available again.</P>
			    <P><a href="#" ng-click="returngift(index, currentgift)" data-theme="b" data-role="button">Return</a></P>
			  </span>
	      </span>
	      
		  <span ng-show="reserving"> 
		      <P>From: <input type="text" name="sender" ng-model="currentgift.senderName" /></P>
		      <span ng-show="circle==null"><P>Give on: <input id="givedatepicker" name="givedatepicker" /></P></span>
		      
			  <div class="ui-grid-a" style="margin-top:25px;">
			    <div class="ui-block-a"><a data-role="button" ng-href="#" ng-click="reserving=false">Cancel</a></div>
			    <div class="ui-block-b"><a data-role="button" ng-href="#wishlist" ng-click="reservegift(index, currentgift)" data-theme="b">Give</a></div>	   
		      </div>
	      </span>
		  
		  
		  
		  <!-- I think in all cases, canedit and candelete are the same  2013-08-16 -->
		  <span ng-show="currentgift.canedit">
			  <div class="ui-grid-a">
			    <div class="ui-block-a"><a href="#edititem" data-theme="c" data-role="button">Edit</a></div>
			    <div class="ui-block-b"><a href="#wishlist" ng-click="deletegift(currentgift)" data-theme="c" data-role="button">Delete</a></div>	   
		      </div>
		  </span>
		  
	      
	
	</div><!-- /content -->
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>