
<div id="gift2" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Gift</h1>
	</div><!-- /header -->

	<div data-role="content">
	  <form style="margin-top:-20px;">
		  <fieldset data-role="fieldcontain">
            <input type="hidden" name="giftId" ng-model="currentgift.id" />
		    
		    <!-- No need to list recipients if the event is a single-recipient event -->
    		<span ng-hide="circle.receiverLimit == 1">
		    <p>
		        <strong>Recipients</strong> <a data-role="button" ng-href="#editrecipients" data-icon="edit" data-theme="b" data-mini="true" class="ui-btn-right" data-rel="dialog" data-transition="pop">Edit</a>
		    </p>
		    <p>
		      <ul data-role="listview">
                <li>{{commasep(currentgift.recipients)}}</li>
              </ul>
		    </p>
            <P>&nbsp;</P>
		    </span>
		    
		    <p>
		        <label for="description" class="ui-hidden-accessible">Description:</label>
    		    <textarea id="description" cols="40" rows="8" name="description" type="text" ng-model="currentgift.description" placeholder="Description"></textarea>
		    </p>
		    <p>
		        <label for="url" class="ui-hidden-accessible">URL:</label>
    		    <input id="url" name="url" type="text" ng-model="currentgift.url" placeholder="URL" />
		    </p>
		    
      
		    <div class="ui-grid-a">
              <div class="ui-block-a"><a href="#wishlist" data-role="button" data-theme="b">Cancel</a></div>
		      <div class="ui-block-b"><a href="#wishlist" data-role="button" ng-click="savegift(currentgift)" data-theme="b">Save</a></div>
    		</div>
    	
    	  </fieldset>	
	  </form>
	
	</div><!-- /content -->
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-left" data-iconpos="notext">Menu</a>	
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-right">Scan</a>
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a" data-position-fixed="true">
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li>My Account</li>
	        <li><a href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li><a href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li><a href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li><a href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
		
		    <span ng-show="testing">
		    <li><a href="#test">test</a></li>
		    </span>
		    
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li>Share LittleBlueBird</li>
	        <li><a href="#" ng-click="shareAppViaTimeline()" data-mini="true">Facebook</a></li>
	        <li><a href="#sharelittlebluebirdoveremail" data-mini="true">Email</a></li>
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li>Contact Us</li>
	        <li><a href="#contactus" data-mini="true">Email</a></li>
        </ul>
    </div><!-- /panel -->


</div>