

<div id="invitebyemail" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Invite</h1>
	</div><!-- /header -->

	<div data-role="content">
	

      Invite friends and family by email


	  <form novalidate name="fooForm">
          <p>
		    <label for="invitename" class="ui-hidden-accessible">Name:</label>
            <input id="invitename" name="invitename" type="text" ng-model="newparticipant.name" placeholder="Name" required/>
	      </p>
	  
          <p>
		    <label for="inviteemail" class="ui-hidden-accessible">Email:</label>
            <input id="inviteemail" name="inviteemail" type="email" ng-model="newparticipant.email" placeholder="Email" required/>
	      </p>
	      
	      <!--
	      <P>
	          <a ng-href="#" ng-click="seeform(fooForm)" data-role="button" data-theme="b">see form</a>
		  </P>
		  -->
		  
		  
	      <P>
	        <span ng-hide="fooForm.$invalid">
	          <a ng-href="#participants" ng-click="invite(newparticipant, circle, participationLevel)" data-role="button" data-theme="b">Invite</a>
	        </span>
	        <span ng-show="fooForm.$invalid">
	          <button disabled="" data-role="button" data-theme="b">Invite</button>
	        </span>
		  </P>
	  </form>
	  
	  
	  
	</div><!-- /content -->
	