

<div id="invitebyemail" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Invite</h1>
	</div><!-- /header -->

	<div data-role="content">
	

      Invite friends and family by email


	  <form novalidate name="inviteForm">
          <p>
		    <label for="invitename" class="ui-hidden-accessible">Name:</label>
            <input id="invitename" name="invitename" type="text" ng-model="newparticipant.name" placeholder="Name" required/>
	      </p>
	  
          <p>
		    <label for="inviteemail" class="ui-hidden-accessible">Email:</label>
            <input id="inviteemail" name="inviteemail" type="email" ng-model="newparticipant.email" placeholder="Email" required/>
	      </p>
	      
    	<span ng-show="circle.receiverLimit == 1">
          <p>
		        <label for="honoree01" data-inline="true">Is {{newparticipant.name}} the Honoree?</label>
		        <select name="honoree01" id="honoree01" data-role="slider" ng-model="newparticipant.participationLevel" data-inline="true" class="ui-btn-right">
		            <option value="Giver">No</option>
		            <option value="Receiver">Yes</option>
		        </select>
	      </p>
    	</span>
	      
    	<span ng-show="circle.receiverLimit > 1">
          <p>
		        <label for="honoree01" data-inline="true">Is {{newparticipant.name}} one of the Honorees?</label>
		        <select name="honoree01" id="honoree01" data-role="slider" ng-model="newparticipant.participationLevel" data-inline="true" class="ui-btn-right">
		            <option value="Giver">No</option>
		            <option value="Receiver">Yes</option>
		        </select>
	      </p>
    	</span>
    	
    	<span ng-show="circle.receiverLimit == -1">
          <p>
		        <input type="hidden" ng-model="newparticipant.participationLevel">
	      </p>
    	</span>
    	
	    <P>
	        <span ng-hide="inviteForm.$invalid">
	          <a ng-href="#participants" ng-click="invite(newparticipant, circle)" data-role="button" data-theme="b">Invite</a>
	        </span>
	        <span ng-show="inviteForm.$invalid">
	          <button disabled="" data-role="button" data-theme="b">Invite</button>
	        </span>
		</P>
	  </form>


	  
	</div><!-- /content -->
	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-left">Scan</a>
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>