
<!-- Lets the user turn on/off notifications: when they are added to events, when gifts they have bought are edited/deleted, and when gifts are
"unbought" (have become available again) -->
<div id="notifications" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Notifications</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	    <form novalidate>
	    
	      <div data-role="fieldcontain">
	          <label for="notifyonaddtoevent" data-inline="true">Email me when someone includes me in an event</label>
	          <select name="notifyonaddtoevent" id="notifyonaddtoevent" data-role="slider" ng-model="user.notifyonaddtoevent" data-inline="true" class="ui-btn-right">
	            <option value="false">No</option>
	            <option value="true">Yes</option>
	          </select>
	      </div>
	    
	      <div data-role="fieldcontain">
	          <label for="notifyondeletegift" data-inline="true">Email me when someone deletes a gift I have bought</label>
	          <select name="notifyondeletegift" id="notifyondeletegift" data-role="slider" ng-model="user.notifyondeletegift" data-inline="true" class="ui-btn-right">
	            <option value="false">No</option>
	            <option value="true">Yes</option>
	          </select>
	      </div>
	    
	      <div data-role="fieldcontain">
	          <label for="notifyoneditgift" data-inline="true">Email me when someone changes the description of a gift I have bought</label>
	          <select name="notifyoneditgift" id="notifyoneditgift" data-role="slider" ng-model="user.notifyoneditgift" data-inline="true" class="ui-btn-right">
	            <option value="false">No</option>
	            <option value="true">Yes</option>
	          </select>
	      </div>
	    
	      <div data-role="fieldcontain">
	          <label for="notifyonreturngift" data-inline="true">Email me when someone returns a gift so that I know it is available again to give</label>
	          <select name="notifyonreturngift" id="notifyonreturngift" data-role="slider" ng-model="user.notifyonreturngift" data-inline="true" class="ui-btn-right">
	            <option value="false" selected="selected">No</option>
	            <option value="true">Yes</option>
	          </select>
	      </div>
	      


	      <P>
	        <a ng-href="#" data-role="button" data-theme="b" ng-click="saveuser(user)">Update</a>    
	      </P>
	        
	    </form>
	  
	</div><!-- /content -->


	