
<!-- POOR NAMING: THIS PAGE SHOULD REALLY BE NAMED event.html  2013-08-10 -->

<div id="participants" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Event</h1>
		<a href="#editparticipants" data-transition="slideup" data-icon="edit" class="ui-btn-right">Edit</a>
	</div><!-- /header -->

	<div data-role="content">
	  
	  
	  <!-- hack: If you're trying to invite people by email, we first query by email to see if anyone is already in the db.  If it turns out there is 1 or more people already
	  in the db, we keep those people in an array called 'maybepeople' and we present this/these people to the user and ask "Is any of these the person you're looking for"
	  The problem is we can only set the href to one thing, there can only be one "next" page regardless of whether we found anyone or not.  So we hack this page with an ng-show/ng-hide
	  switch to show these 'maybepeople' when they exist, or when they don't, we show the current list of event participants. yuck  2013-08-08 -->
	  <span ng-show="maybepeople.length > 0">
	  
	      <span ng-show="maybepeople.length == 1">
	        We found a '{{maybepeople[0].fullname}}' having the email address you entered.  Is this who you're looking for?
	      
		    <div class="ui-grid-a">
		      <div class="ui-block-b"><a data-role="button" ng-href="#" ng-click="selectthisparticipant(newparticipant, newparticipant.participationLevel, true)">No</a></div>
		      <div class="ui-block-b"><a data-role="button" ng-href="#" ng-click="selectthisparticipant(maybepeople[0], newparticipant.participationLevel, false)" data-theme="b">Yes</a></div>
			</div>
			
	      </span>
	
	      <span ng-show="maybepeople.length > 1">
	      <P>The email address you entered is associated with these {{maybepeople.length}} people.  If you see the person you're looking for, tap the name.  Otherwise, click "Not Found"</P>
	      
	      <div jquery-mobile-tpl>
		    <ul id="maybepeopleview" data-role="listview" data-inset="true" repeat-done="" ng-cloak>
		      <li ng-repeat="somebody in maybepeople">
		        <a href="#" ng-click="selectthisparticipant(somebody, newparticipant.participationLevel, false)" data-transition="slide">
		          {{somebody.fullname}}
		        </a>
		      </li>
		    </ul>
		  </div>
	      
	      <P><a data-role="button" ng-href="#" ng-click="selectthisparticipant(newparticipant, newparticipant.participationLevel, true)" data-theme="a">Not Found</a></P>
	      </span>
	      
	  </span>
	  
	  
	  
	  <span ng-hide="maybepeople.length > 0">
	      <!-- this block is the typical case -->
	      
	      <ul data-role="listview">
	        <li>
		      <p><h4>{{circle.name}}</h4></p>
	          <p>{{circle.date | date:'MMM d, yyyy'}}</p>
	        </li>
	      </ul>
	      
		
	      <!-- ------------------------------------ -->
	      <!-- BEGIN: Participants/Honorees section -->
	      <!-- ------------------------------------ -->	      
	      
	      <div jquery-mobile-tpl>
		    <ul id="receiverview" data-role="listview" data-inset="true" repeat-done="" ng-cloak>
		      <li data-role="list-divider">
	            
	              <span ng-show="circle.receiverLimit == -1">Participants</span>
	              <span ng-show="circle.receiverLimit == 1">Honoree</span>
	              <span ng-show="circle.receiverLimit > 1">Honorees</span>
		              
		      </li>
		      <li ng-repeat="participant in circle.participants.receivers">
		         <a ng-href="#wishlist" ng-click="giftlist(circle, participant)">{{participant.fullname}}</a>
		      </li>
		    </ul>
		  </div>
	      
	      <!-- ------------------------------------ -->
	      <!-- END: Participants/Honorees section   -->
	      <!-- ------------------------------------ -->
	      
	      
	      <!-- ------------------------------------------------------- -->
	      <!-- BEGIN: Guests section (for those events that have them) -->
	      <!-- ------------------------------------------------------- -->
	      
	      <div jquery-mobile-tpl>
		    <ul id="giverview" data-role="listview" data-inset="true" repeat-done="" ng-cloak>
		      <li data-role="list-divider">Guests</li>
		      <li ng-repeat="participant in circle.participants.givers">
		         <a ng-href="#confirmdeleteparticipant" ng-click="preparetoremove($index, participant, 'Giver')">{{participant.fullname}}</a>
		      </li>
		    </ul>
		  </div>
	      
	      <!-- ------------------------------------------------------- -->
	      <!-- END: Guests section (for those events that have them)   -->
	      <!-- ------------------------------------------------------- -->
	      
	      <P><a href="#editparticipants" data-transition="slideup" data-role="button">Invite More People</a></P>
	  </span>
	  
	  	  
	  
	</div><!-- /content -->


	