

<div id="passwordreset" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Password Reset</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
        <P>
        
		<form novalidate name="resetForm">
		    <fieldset data-role="fieldcontain">
		      <P>
		        <label for="currentpassword" class="ui-hidden-accessible">Current Password:</label>
    		    <input id="currentpassword" name="currentpassword" type="password" ng-model="currentpassword" placeholder="Password" ng-change="validatePassword(resetForm, currentpassword)" required/>
    		  </P>
		      <P>
		        <label for="newpassword" class="ui-hidden-accessible">New Password:</label>
    		    <input id="newpassword" name="newpassword" type="password" ng-model="newpassword" placeholder="New Password" required/>
    		  </P>
		      <P>
		        <label for="newpasswordagain" class="ui-hidden-accessible">New Password (again):</label>
    		    <input id="newpasswordagain" name="newpasswordagain" type="password" ng-model="newpasswordagain" placeholder="New Password (again)" required/>
    		  </P>
		      <P>
		        <span ng-hide="resetForm.$invalid || (newpassword != newpasswordagain) || resetForm.currentpassword.$invalid">
		          <a ng-href="#" ng-click="resetPass(currentpassword, newpassword)" data-role="button" data-theme="b">Change Password</a>
		        </span>
		        <span ng-show="resetForm.$invalid || (newpassword != newpasswordagain) || resetForm.currentpassword.$invalid">
		          <button disabled="" data-role="button" data-theme="b">Change Password</button>
		        </span>
    		  </P>
    		</fieldset>
        </form>
        </P>
     
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-left" data-iconpos="notext">Menu</a>	
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-right">Scan</a>
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a" data-position-fixed="true">
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li data-theme="a">My Account</li>
	        <li><a href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li><a href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li><a href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li><a href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
		
		    <span ng-show="testing">
		    <li><a href="#test">test</a></li>
		    </span>
		    
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li data-theme="a">Share LittleBlueBird</li>
	        <li><a href="#" ng-click="shareAppViaTimeline()" data-mini="true">Facebook</a></li>
	        <li><a href="#sharelittlebluebirdoveremail" data-mini="true">Email</a></li>
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li data-theme="a">Help</li>
	        <li><a href="#contactus" data-mini="true">Contact Us</a></li>
	        <li><a href="#about" data-mini="true">About</a></li>
        </ul>
    </div><!-- /panel -->


</div>