
<!-- After you add multiple recipients for a gift, you get sent to this page, which shows each recipient in a list so that you could
click on any of their names to see their list and the item that was just added -->

<div id="recipients" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Recipients</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  	<div ng-show="loading">Loading...</div>
	  	
	  	
	  	<div ng-hide="loading">
	  	
	      <div jquery-mobile-tpl>
		    <ul id="recipientsview" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="" ng-cloak>
		      <li ng-repeat="recipient in recipientsjustadded">
		        <a href="#wishlist" ng-click="friendwishlist(recipient)" data-transition="slide">
		          {{recipient.fullname}}
		        </a>
		      </li>
		    </ul>
		  </div>
		  
	  	</div>
	  	<!-- div ng-hide="loading" -->
	  	
	  
	    
	  	<div ng-show="testing">
	  	  <P>Logged in as: {{user.fullname}}</P>
	  	</div>
	  	
	</div><!-- /content -->


	