
<!-- After you add multiple recipients for a gift, you get sent to this page, which shows each recipient in a list so that you could
click on any of their names to see their list and the item that was just added -->

<div id="recipients" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Recipients</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  	<div ng-show="loading">Loading...</div>
	  	
	  	
	  	<div ng-hide="loading">
	  	
	      <div jquery-mobile-tpl>
		    <ul id="recipientsview" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="" ng-cloak>
		      <li ng-repeat="recipient in recipientsjustadded">
		        <a href="#wishlist" ng-click="friendwishlist(recipient)" data-transition="slide">
		          {{recipient.fullname}}
		        </a>
		      </li>
		    </ul>
		  </div>
		  
	  	</div>
	  	<!-- div ng-hide="loading" -->
	  	
	  
	    
	  	<div ng-show="testing">
	  	  <P>Logged in as: {{user.fullname}}</P>
	  	</div>
	  	
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-left">Scan</a>
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
		
		    <span ng-show="testing">
		    <li data-icon="false"><a style="margin-left:10px;" href="#test">test</a></li>
		    </span>
		    
        </ul>
        
        <h4>Contact Us</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Email</a></li>
        </ul>
    </div><!-- /panel -->


</div>