

<div id="scanresults" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Results</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  <div ng-show="scanreturncode == -1">
	    Scan cancelled - hit the Back button and try again if you like
	  </div>
	  
	  
	  <!-- the good/success case: but no products found 
	    When no products are found, present the "Bummer" message 
	  -->
	  <div ng-show="scanreturncode == 0">
	    Bummer! The barcode you scanned wasn't in our database.  If you want to add this item to your wish list, you will
	    have to manually enter it.
	  </div>
	  
	  
	  
	  <!-- the good/success case: one product found 
	    When only one product is found, we can immediately present the user with the buttons "Add to My List", "Add to Someone Else's List" 
	  -->
	  <div ng-show="scanreturncode == 1">
        <ul data-role="listview" data-theme="d" data-inset="true">
	      <li>
	        <div><h4 class="nowrap">{{products[0].name}}</h4></div>
	        <P>
	          <a ng-href="#" ng-click="viewonline(products[0].url, $event)" data-theme="b" data-role="button" target="item">
	            View/Buy Online
	          </a>
	        </P>
	        <P>
	          <a ng-href="#wishlist" ng-click="addtomywishlist(products[0])" data-theme="b" data-role="button" target="item">
	            Add to My List
	          </a>
	        </P>
	        <P>
	          <a ng-href="#" data-theme="b" data-role="button" target="item">
	            Add to Someone Else's List
	          </a>
	        </P>
	        <P>
	          <a ng-href="#" data-theme="c" data-role="button" target="item">
	            This is not what I scanned
	          </a>
	        </P>
	      </li>
	    </ul>
	  </div>
	  
	  
	  
	  <!-- the good/success case: more than one product found 
	     In this case, we present the user with the list of products.  Each <li> is a link over to that product's
	     page where the user see the "Add to My List", "Add to Someone Else's List" buttons
	  -->
	  <div ng-show="scanreturncode > 1">
	    Found {{products.length}} items that match this barcode.  Tap the one you want.
        <div jquery-mobile-tpl>
          <ul id="scanresultlist" data-role="listview" data-theme="d" data-inset="true">
          
	        <li ng-repeat="product in products" repeat-done="">
	          <a ng-href="#selectedproduct" ng-click="showproduct(product)">
	            <h4 class="nowrap">{{product.name}}</h4>
	          </a>
	        </li>
	      </ul>
	    
	    </div>
	    <P><a ng-href="#" data-role="button" data-theme="d">None of These</a></P>
	  </div>
	    
	  
	    
	  	<div ng-show="testing">
	  	  <P>Logged in as: {{user.fullname}}</P>
	  	</div>
	  	
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-left">Scan</a>
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>