

<div id="selectedproduct" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Product</h1>
	</div><!-- /header -->


	<div data-role="content">
	
	    <!-- When you go from scanresults to this page, the 'product' you selected gets converted to the 'currentgift'
	    by the function convertProductToGift() -->
	  
        <ul data-role="listview" data-theme="d" data-inset="true">
	      <li>
	        <div><h4 class="wraptext">{{currentgift.description}}</h4></div>
	        <P>
	          <a ng-href="#" ng-click="viewonline(currentgift.url, $event)" data-theme="b" data-role="button" target="item">
	            View Online
	          </a>
	        </P>
	        <P>
	          <a ng-href="#wishlist" ng-click="addtomywishlist(currentgift)" data-theme="b" data-role="button" target="item">
	            Add to My List
	          </a>
	        </P>
	        <P>
	          <a ng-href="#addToSomeoneElsesList" data-theme="b" data-role="button" target="item">
	            Add to Someone Else's List
	          </a>
	        </P>
	      </li>
	    </ul>
	    
	  	<div ng-show="testing">
	  	  <P>Logged in as: {{user.fullname}}</P>
	  	</div>
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-left">Scan</a>
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>