

<div id="selectMultipleRecipients" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Recipients</h1>
	</div><!-- /header -->

	<div data-role="content">

      <!-- When you are selecting multiple recipients, we show you all your friends up front and they
      have checkboxes next to them.  -->
      
	  
	    <fieldset data-role="controlgroup">
	        <legend>Who is this gift for?</legend>
	        
			<span ng-repeat="friend in user.friends">
		        <input name="makefriendrecipient-{{friend.id}}" id="makefriendrecipient-{{friend.id}}" type="checkbox" ng-click="prepareMultipleRecipients(friend, currentgift)">
		        <label for="makefriendrecipient-{{friend.id}}">{{friend.fullname}}</label>
			</span>
	        
	    </fieldset>
	  
	  
	    
	    <div ng-show="recipientstoadd.length==0">
	      <button disabled="">Add Recipients</button>
	    </div>
	    
	    <div ng-show="recipientstoadd.length > 0">
	      <a data-role="button" ng-href="#recipients" ng-click="addrecipients(recipientstoadd, currentgift)">Add {{recipientstoadd.length}} Recipient<span ng-show="recipientstoadd.length > 1">s</span></a>
	    </div>
	  
	  
	  
	  
	  
	</div><!-- /content -->


	