

<div id="setnameanddate" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Event</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
		<form novalidate name="nameanddateForm">
		  <P>Enter the event's name and date</P>
		    <fieldset data-role="fieldcontain">
		      <P>
		        <label for="name" class="ui-hidden-accessible">Name:</label>
    		    <input id="name" name="name" type="text" ng-model="circle.name" placeholder="Name" required/>
    		  </P>
		      <P>
		        <input id="datepicker" name="datepicker" />
    		  </P>
    		  
    		  <P>
		        <span ng-show="nameanddateForm.$valid">
		          <a ng-href="#participants" ng-click="savecircle(circle)" data-role="button" data-theme="b">Save</a>
		        </span>
		        <span ng-show="nameanddateForm.$invalid">
		          <button disabled="" data-role="button" data-theme="b">Save</button>
		        </span>
    		  </P>
			  
			  
    		</fieldset>
		
		</form>	
	  
	</div><!-- /content -->


	