

<div id="share" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Share</h1>
	</div><!-- /header -->

	<div data-role="content">
	
      
	<P><a data-role="button" ng-href="#sharewishlist" data-theme="b" data-rel="dialog" data-transition="pop">Share Wish List</a></P>
      
	<P><a data-role="button" ng-href="#sharelittlebluebird" data-theme="b" data-rel="dialog" data-transition="pop">Share LittleBlueBird</a></P>
	
		  
	</div><!-- /content -->

</div>
	