

<div id="sharelittlebluebirdoveremail" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Share</h1>
	</div><!-- /header -->

	<div data-role="content">
	
	    <h3>Share LittleBlueBird</h3>
	
		<span ng-hide="lbbshared=='true'">
		
		    <form novalidate name="shareForm1">
	          <p>
			    <label for="sharename1" class="ui-hidden-accessible">Name:</label>
	            <input id="sharename1" name="sharename1" type="text" ng-model="share1.name" placeholder="Who are you sharing with?" required/>
		      </p>
		  
	          <p>
			    <label for="shareemail1" class="ui-hidden-accessible">Email:</label>
	            <input id="shareemail1" name="shareemail1" type="email" ng-model="share1.email" placeholder="What's their email?" ng-change="doesEmailExistAlready(share1.email)" required/>
		      </p>
		      
		      <span ng-show="userExistsAlready.length > 0">
		          <P>This person is already a member of LittleBlueBird</P>
		      </span>
		  
	          <p>
			    <label for="sharemessage1" class="ui-hidden-accessible">Message:</label>
	            <textarea id="sharemessage1" name="sharemessage1" type="text" ng-model="share1.message" placeholder="Message" required></textarea>
		      </p>
		      
		      <!--
		      <P>
		          <a ng-href="#" ng-click="seeform(shareForm1)" data-role="button" data-theme="b">see form</a>
			  </P>
			  -->
			  
			  
		      <P>
		        <span ng-hide="shareForm1.$invalid || userExistsAlready.length > 0">
		          <a ng-href="#sharelittlebluebirdoveremail" ng-click="shareLittleBlueBirdOverEmail(share1);lbbshared='true'" data-role="button" data-theme="b">Share</a>
		        </span>
		        <span ng-show="shareForm1.$invalid || userExistsAlready.length > 0">
		          <button disabled="" data-role="button" data-theme="b">Share</button>
		        </span>
			  </P>
		    </form>
		</span>
		    
		    
		<span ng-show="lbbshared=='true'">
		    <P>Ok, you just shared LittleBlueBird with your friend {{share1.name}}</P>
		
		    <P>Do you want to share LittleBlueBird with anybody else?</P>
		    
		    <div class="ui-grid-a">
		      <div class="ui-block-a"><a href="#sharelittlebluebirdoveremail" data-role="button" ng-click="lbbshared='false';resetShareForm(shareForm1, share1)" data-theme="b">Yes</a></div>
              <div class="ui-block-b"><a href="#welcome" data-role="button" data-theme="c" ng-click="lbbshared='false';resetShareForm(shareForm1, share1)">No</a></div>
    		</div>
		    
		</span>
	
		  
	</div><!-- /content -->
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-left" data-iconpos="notext">Menu</a>	
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-right">Scan</a>
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a" data-position-fixed="true">
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li>My Account</li>
	        <li><a href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li><a href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li><a href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li><a href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
		
		    <span ng-show="testing">
		    <li><a href="#test">test</a></li>
		    </span>
		    
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li>Share LittleBlueBird</li>
	        <li><a href="#" ng-click="shareAppViaTimeline()" data-mini="true">Facebook</a></li>
	        <li><a href="#sharelittlebluebirdoveremail" data-mini="true">Email</a></li>
        </ul>
        
        <ul data-role="listview" data-theme="c" data-inset="true" >
            <li>Contact Us</li>
	        <li><a href="#contactus" data-mini="true">Email</a></li>
        </ul>
    </div><!-- /panel -->


</div>