

<div id="sharewishlist" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Share</h1>
	</div><!-- /header -->

	<div data-role="content">
	
	<h3>Share Wish List</h3>
	
      
	<P><a data-role="button" ng-href="#sharewishlistonfacebook" data-theme="b" data-rel="dialog" data-transition="pop">Share on Facebook</a></P>
      
	<P><a data-role="button" ng-href="#sharewishlistoveremail" data-theme="b" data-rel="dialog" data-transition="pop">Share by Email</a></P>
	
		  
	</div><!-- /content -->

</div>
	