

<div id="test" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Test</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  	  
		  <ul data-role="listview" data-inset="true" class="ui-icon-alt">
		    <li><a href="#test" ng-click="shareAppViaFacebookMessage()" data-transition="slide">Share the App (Message)</a></li>
		    <li><a href="#test" ng-click="shareAppViaTimeline()" data-transition="slide">Share the App (Timeline)</a></li>
		    <!-- li><a href="#testPostWishlistToTimeline" data-transition="slide">Post Wish List to Timeline</a></li -->
		  </ul>
	  	  
	  	  
	  	  
	  	  
	  	  
	  	  
	  <!-- Share LBB:  send a FB message with link to LBB -->
	  
	  
	  <!-- Share LBB:  send a FB message with link to LBB -->
	    
	  
	</div><!-- /content -->


	