

<div id="test" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Test</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  <span ng-show="testwhat==null || testwhat=='cleared'">	  
		 <ul data-role="listview" data-inset="true" class="ui-icon-alt">
		   <li><a href="#test" ng-click="shareAppViaFacebookMessage()" data-transition="slide">Share the App (FB Message)</a></li>
		   <li><a href="#test" ng-click="shareAppViaTimeline()" data-transition="slide">Share the App (Timeline)</a></li>
		   <li><a href="#test" ng-click="testwhat='PostWishListToTimeline'" data-transition="slide">Post Wish List to Timeline</a></li>
		   <!-- li><a href="#testPostWishlistToTimeline" data-transition="slide">Post Wish List to Timeline</a></li -->
		 </ul>
	  </span>
	  
	  <span ng-show="testwhat=='PostWishListToTimeline'">
	    Show User: {{showUser.fullname}}
	    <input type="text" ng-model="showUser.id" placeholder="user id"/>
	    <a data-role="button" data-theme="b" href="#test" ng-click="fbsharelist(user, showUser)">Post Wish List to Timeline</a>
	    <a data-role="button" data-theme="b" href="#test" ng-click="testwhat='cleared'">Back to Test</a>
	  </span>
	  	  
	  	  
	  	  
	  	  
	  	  
	  	  
	  <!-- Share LBB:  send a FB message with link to LBB -->
	  
	  
	  <!-- Share LBB:  send a FB message with link to LBB -->
	    
	  
	</div><!-- /content -->


	