

<div id="test" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Test</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  <span ng-show="testwhat==null || testwhat=='cleared'">	  
		 <ul data-role="listview" data-inset="true" class="ui-icon-alt">
		   <li><a href="#test" ng-click="shareAppViaFacebookMessage()" data-transition="slide">Share the App (FB Message)</a></li>
		   <li><a href="#test" ng-click="shareAppViaTimeline()" data-transition="slide">Share the App (Timeline)</a></li>
		   <li><a href="#test" ng-click="testwhat='PostWishListToTimeline'" data-transition="slide">Post Wish List to Timeline</a></li>
		   <!-- li><a href="#testPostWishlistToTimeline" data-transition="slide">Post Wish List to Timeline</a></li -->
		 </ul>
	  </span>
	  
	  <span ng-show="testwhat=='PostWishListToTimeline'">
	    Show User: {{showUser.fullname}}
	    <input type="text" ng-model="showUser.id" placeholder="user id"/>
	    <a data-role="button" data-theme="b" href="#test" ng-click="fbsharelist(user, showUser)">Post Wish List to Timeline</a>
	    <a data-role="button" data-theme="b" href="#test" ng-click="testwhat='cleared'">Back to Test</a>
	  </span>
	  	  
	  	  
	  	  
	  	  
	  	  
	  	  
	  <!-- Share LBB:  send a FB message with link to LBB -->
	  
	  
	  <!-- Share LBB:  send a FB message with link to LBB -->
	    
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a ng-href="#scanresults" data-role="button" ng-click="scan()" class="ui-btn-left">Scan</a>
	  <a ng-href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
		
		    <span ng-show="testing">
		    <li data-icon="false"><a style="margin-left:10px;" href="#test">test</a></li>
		    </span>
		    
        </ul>
        <hr/>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:0px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>