

<div id="test" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Test</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  <form name="testscanform">
	    <input type="text" ng-model="barcode" required/>
	    <span ng-show="testscanform.$valid">  
	      <P><a ng-href="#" ng-click="barcodelookup(barcode)" data-role="button" data-theme="b">Lookup</a></P>
	    </span>
	    <span ng-hide="testscanform.$valid">  
	      <P><button disabled="" data-theme="b">Lookup</button></P>
	    </span>
	    <P><a ng-href="#" ng-click="scan()" data-role="button" data-theme="b">Scan !</a></P>
	  </form>
	    <h4>Products</h4>
	    <div ng-repeat="product in products">
	        <P>{{product.name}}</P>
	        <P>{{product.url}}</P>
	        <hr/>
	    </div>
	    
	  
	</div><!-- /content -->


	
	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a" data-position-fixed="true">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#notifications" ng-click="initNtfy()" data-mini="true">Notifications</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>