

<div id="test" data-role="page" data-add-back-btn="true">

	<div data-role="header" data-theme="b">
		<h1>Test</h1>
	</div><!-- /header -->

	<div data-role="content">
	  	  
	  <form name="testscanform">
	    <input type="text" ng-model="barcode" required/>
	    <span ng-show="testscanform.$valid">  
	      <P><a ng-href="#" ng-click="barcodelookup(barcode, 'format ignored currently')" data-role="button" data-theme="b">Lookup</a></P>
	    </span>
	    <span ng-hide="testscanform.$valid">  
	      <P><button disabled="" data-theme="b">Lookup</button></P>
	    </span>
	    <P><a ng-href="#" ng-click="scan()" data-role="button" data-theme="b">Scan !</a></P>
	  </form>
	    <h4>Products</h4>
	    <div ng-repeat="product in products">
	        <P>{{product.name}}</P>
	        <P>
	          <a ng-href="#" ng-click="viewonline(product.url, $event)" data-theme="b" data-role="button" target="item">
	            View Online
	          </a>
	        </P>
	        <hr/>
	    </div>
	    
	  
	</div><!-- /content -->


	