
<div id="wishlist" data-role="page">

	<div data-role="header" data-theme="b">
		<a href="#welcome" data-rel="back" data-icon="arrow-l" data-transition="slide">Back</a>
		<h1>Wish List</h1>
		<a href="#edititem" ng-click="initNewGift()" data-transition="slideup" data-icon="plus">Add</a>
	</div><!-- /header -->

	<div data-role="content">
	
	  <span ng-show="circle!=null">
        <ul data-role="listview">
          <li>
	        <p><h4>{{circle.name}}</h4></p>
            <p>{{circle.date | date:'MMM d, yyyy'}}</p>
          </li>
        </ul>
	  </span>
	  
      <div jquery-mobile-tpl>
        <ul id="wishlistview" data-role="listview" data-inset="true" class="ui-icon-alt" repeat-done="" ng-cloak style="margin-top:30px;">
	      <li data-role="list-divider">
	        <span ng-show="showUser.id==user.id">My Wish List</span>
	        <span ng-hide="showUser.id==user.id">{{showUser.fullname}}'s Wish List</span>
	      </li>
          <li data-ng-repeat="gift in gifts"><a href="#gift" ng-click="setcurrentgift($index, gift)" data-transition="slide">{{gift.description}}</a></li>
        </ul>
      </div>
	  
	</div><!-- /content -->


	
	<div data-role="footer" data-id="persistentfooter" data-theme="b" data-position="fixed">
	  <a href="#mypanel" data-role="button" data-icon="bars" class="ui-btn-right" data-iconpos="notext">Menu</a>	
		
      <h4>LittleBlueBird.com</h4>
      <div data-role="navbar">
        <ul>
            <li><a href="#wishlist" ng-click="mywishlist();setfootermenu('wishlist')" ng-class="footermenustyle('wishlist')">Wish List</a></li>
            <li><a href="#friends" ng-click="friends();setfootermenu('friends')" ng-class="footermenustyle('friends')">Friends</a></li>
            <li><a href="#events" ng-click="events();setfootermenu('events')" ng-class="footermenustyle('events')">Events</a></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->
    
    <div data-role="panel" id="mypanel" data-position="right" data-display="overlay" data-theme="a">
        <h4>My Account</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#personalinfo" data-mini="true">Personal Info</a></li>
	        <!-- li>Notifications</li -->
	        <li data-icon="false"><a style="margin-left:10px;" href="#passwordreset" data-mini="true">Password Reset</a></li>
	        <li data-icon="false"><a style="margin-left:10px;" href="#home" ng-click="logout()" data-mini="true">Logout</a></li>
        </ul>
        <h4>Who Are We</h4>
        <ul data-role="listview" data-theme="a">
	        <li data-icon="false"><a style="margin-left:10px;" href="#contactus" data-mini="true">Contact Us</a></li>
        </ul>
    </div><!-- /panel -->


</div>